/*------------------------------------*\
   FONTS - GLOBAL
\*------------------------------------*/

/* -------- STYLES -------- */

#add-font-form, #edit-font-form{
    .form-col-file{
        display: inline-block;
        vertical-align: top;
        margin-right:30px;
    }
}
