<div id="rz-debug-panel">
	<h4>Debug panel</h4>
	<dl>
		<dt>Global time</dt>
		<dd>{{ stopwatch.getDuration }}ms</dd>
		<dt>Global memory</dt>
		<dd>{{ stopwatch.getMemory / 1000000 }}Mo</dd>
	</dl>
</div>