{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global purge-cache">

    <header class="content-header header-cache header-about-cms">
        <h1 class="content-title about-cms-title">{% trans %}about.cms{% endtrans %}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        <div class="content-table-cont">
            {% if newVersion %}
                <h1><i class="uk-icon-cloud-download"></i> {% trans %}new.version.release{% endtrans %}</h1>
            {% else %}
                <h1><i class="uk-icon-check"></i>{% trans %}lastest.version.installed{% endtrans %}</h1>
            {% endif %}
            <table class="content-table uk-table">
                <tr>
                    <td>{% trans %}current.version{% endtrans %}</td>
                    <td>{% trans %}last.version{% endtrans %}</td>
                </tr>
                <tr>
                    <td>{{ currentVersion }}</td>
                    <td>{{ lastVersion }}</td>
                </tr>
            </table>
            <hr/>
            {% if newVersion %}
                <h1><i class="uk-icon-file-text-o"></i> {% trans %}changelog{% endtrans %}:</h1>
                <p>{{ changelog|markdown }}</p>
                <a href="{{ downloadUrl }}" class="uk-button"><i class="uk-icon-download"></i> {% trans %}download{% endtrans %}</a>
            {% endif %}
        </div>
    </article>
</section>
{% endblock %}
