{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global purge-cache">

    <header class="content-header header-cache header-about-cms">
        <h1 class="content-title about-cms-title">{% trans %}about.cms{% endtrans %}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        <div class="content-table-cont">
            {% if newVersion %}
                <h2><i class="uk-icon-cloud-download"></i> {% trans %}new.version.available{% endtrans %}</h2>
            {% else %}
                <h2><i class="uk-icon-check"></i> {% trans %}lastest.version.installed{% endtrans %}</h2>
            {% endif %}
            <table class="content-table uk-table">
                <tr>
                    <td>{% trans %}current.version{% endtrans %}</td>
                    <td>{% trans %}last.version{% endtrans %}</td>
                </tr>
                <tr>
                    <td>{{ currentVersion }}</td>
                    <td>{{ lastVersion }}</td>
                </tr>
            </table>

            <hr/>
            <h2><i class="uk-icon-file-text-o"></i> {% trans %}changelog{% endtrans %}:</h2>
            <p>{{ changelog|markdown }}</p>
        </div>
    </article>
</section>
{% endblock %}
