{% extends '@Rozier/simple.html.twig' %}

{% block content %}
<section id="login">
    <div class="login-inner{% if error or (form and not form.vars.valid) %} uk-animation-shake{% endif %}">
        <div id="login-infos">
            {# Make this block overidable from themes. #}
            {% include 'admin/blocks/loginImage.html.twig' %}
            <div id="login-credit">
                <i class="uk-icon-rz-rezozero"></i>
                <span id="login-version">{{ cms_prefix }} {{ cms_version }}</span>
            </div>
        </div>
        <div id="login-formGlobal">
            {% block login_wrapper %}
                <h1 id="tag-title">{% block login_title %}{% trans %}back_office{% endtrans %}{% endblock %}</h1>
                {% block login_content %}{% endblock %}
                {% block login_footer %}
                    <div id="login-link">
                        {% if not hide_website %}
                            {% set publicUrl = '/' %}
                            {% if request.basePath %}
                                {% set publicUrl = request.basePath %}
                            {% endif %}
                            {% if bags.settings.get('custom_public_scheme') %}
                                {% set publicUrl = bags.settings.get('custom_public_scheme') %}
                            {% endif %}
                            <a id="frontend-home-link"
                               title="{% trans %}see.website{% endtrans %}"
                               target="_blank"
                               href="{{ publicUrl }}"><span class="uk-icon-button uk-icon-rz-earth"></span>
                                <span class="text">{% trans %}view.site{% endtrans %}</span>
                            </a>
                        {% endif %}
                        {% block login_links %}
                            <a href="{{ path('loginRequestPage') }}" class="login-link">{% trans %}forgot.password{% endtrans %}</a>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}
