{% extends 'simple.html.twig' %}


{% block content %}
<section id="login">
	<h1 id="tag-title">{% trans %}back_office{% endtrans %}</h1>
	<p>{% trans %}wait_for.authentification{% endtrans %}</p>
</section>
{% endblock %}
