{% extends '@Rozier/login/base.html.twig' %}

{% block login_content %}
    {% if not error and form.vars.valid %}
    <p class="login-desc">{% trans %}to.get.new.password.enter.your.account.email{% endtrans %}</p>
    {% endif %}

    {% if error %}
    <div data-uk-alert class="uk-alert uk-alert-danger">{{ error }}</div>
    {% endif %}

    {% form_theme form '@Rozier/forms.html.twig' %}
    <form method="post" id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}">
        {{ form_widget(form) }}
        <fieldset>
            <button class="uk-button" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}request.new.password{% endtrans %}</button>
        </fieldset>
    </form>
{% endblock %}
