{% extends '@Rozier/login/base.html.twig' %}

{% block login_content %}
    {% if error %}
        <div data-uk-alert class="uk-alert uk-alert-danger">{{ error }}</div>
    {% endif %}
    {% if form %}
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}" method="post">
            {{ form_widget(form) }}
            <fieldset>
                <button class="uk-button" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}save.new.password{% endtrans %}</button>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
