{% extends '@Rozier/login/base.html.twig' %}

{% block login_content %}
    <p class="login-desc">{% trans %}your.new.password.has.been.saved{% endtrans %}</p>
    <p class="login-desc">{% trans %}go_back_to.login.page.to.connect{% endtrans %}</p>
{% endblock %}

{% block login_links %}
    <a href="{{ path('loginPage') }}" class="login-link">{% trans %}back_to.login{% endtrans %}</a>
{% endblock %}
