{% extends 'simple.html.twig' %}


{% block content %}
<section id="login">
	<h1 id="tag-title">{% trans %}Back office{% endtrans %}</h1>
	<p>{% trans %}Please wait for authentification…{% endtrans %}</p>
</section>
{% endblock %}