{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-theme-delete">
        <h1 class="content-title theme-delete-title">{{ "delete.theme.%name%"|trans({'%name%': theme.getClassName }) }}</h1>
    </header>

    <article class="content content-delete content-tag-delete content-no-action-menu">
    	{% form_theme form 'forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	<legend>{% trans %}are_you_sure.delete.theme{% endtrans %}</legend>
    	    	<a href="{{ path('themesHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
    	    	<button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
       		</fieldset>
    	</form>
    </article>
</section>
{% endblock %}
