{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-theme">
	<h1 id="theme-title">{% trans %}Delete theme:{% endtrans %} {{ theme.getClassName }}</h1>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}Are you sure you want to delete this theme?{% endtrans %}</legend>
	    	<a href="{{ path('themesHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}Cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
