/*------------------------------------*\
   LOGIN
\*------------------------------------*/


/* -------- VARS -------- */

@login-H: 450px;
@login-BarW: 128px;
@login-FormW: 550px - @login-BarW;
@login-W: @login-FormW + @login-BarW;

/* -------- STYLES -------- */

#main-container{
    background-color: #F0F0F0;
}

#splash-container {
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    z-index: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .transform(~'scale3D(1.05,1.105,1.05)');
    .opacity(0);
    .transform-transition(~'6s ease, opacity 1s linear');

    &.visible {
        .opacity(1);
        .transform(~'scale3D(1,1,1)');
    }
}

#main_content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: none transparent;
    z-index: 100;
}

.login-inner {
    ul, ol {
        margin-bottom: 2rem;
        padding: 0;

        li {
            text-align: left;
            list-style: none;
            padding: 0.5em 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

#purge-caches,
#login {
    width:100vw;
    height: auto;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
    .box-sizing();
    background-color: white;
    padding: 0;
    text-align: center;

    @media (min-width: @screen-sm-min) {
        position: absolute;
        width: @login-W;
        height: auto;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    .purge-inner,
    .login-inner {
        @media (min-width: @screen-sm-min) {
            display: flex;
        }

        .uk-form {
            padding-bottom: 1.5em;
        }

        .uk-alert {
            margin: 5px 0px;
            text-align: center;
            padding: 1em 1.5em;
        }
    }

    #login-infos {
        position: relative;
        display: flex;
        align-items: center;
        background-color: @grey-interface;

        @media (min-width: @screen-sm-min) {
            display: block;
            width: @login-BarW;
        }
    }

    #login-logo {
        width: @login-BarW;
        height: 70px;
        background-color: @contrast-color;
        top: 0px; left: 0;
        text-align: center;

        @media (min-width: @screen-sm-min) {
            height: 116px;
        }

        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;

        }

        .uk-icon-rz-roadiz-icon {
            vertical-align: middle;
            display: inline-block;
            font-size: 55px;
        }

        picture,
        img,
        svg,
        object {
            position: relative;
            max-width: 80%;
            height: auto;
            max-height: 100px;
            vertical-align: middle;
            display: inline-block;
            width: auto;
        }
    }

    #login-credit {
        text-align: right;
        justify-self: right;
        width: 100%;
        padding-right: 2em;

        @media (min-width: @screen-sm-min) {
            width: 100%;
            bottom: 1em;
            position: absolute;
            padding: 0;
            text-align: center;
        }

        .uk-icon-rz-rezozero {
            font-size: 18px;
        }

        .uk-icon-rz-rezozero{
            color: @grey-medium;
            bottom: 50px;
            width: 100%;
            left: 0px;
        }

        #login-version {
            color: @grey-medium;
            font-size: 10px;
            bottom: 26px;
            width: 100%;
            left: 0px;
        }
    }

    #login-formGlobal {
        width: 100%;
        position: relative;
        padding: 40px 15px 30px;
        .box-sizing();

        @media (min-width: @screen-sm-min) {
            padding: 50px 40px 30px;
        }

        h1 {
            margin: 0px 6px 25px 0px;
            font-size: 36px;
            font-weight: lighter;
        }
        #login-form {
            text-align: left;

            .uk-icon-sign-in {
                display: none;
            }
            input[type="text"],
            input[type="password"] {
                width: 100%;
                line-height: normal;
            }
            .data-uk-margin{
                margin-bottom: 15px;
            }
            .data-uk-margin>div {
                margin-bottom: 11px;
                margin-top: 11px;
            }
        }
        #login-link {
            padding-top: 1em;
            text-align: left;
            bottom: 30px;

            #frontend-home-link {
                display: inline-block;
                text-decoration: none;
                width: auto; height: 38px;

                .uk-icon-rz-earth {
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    font-size: 26px;
                    line-height: 38px;
                    background: @grey-verylight;
                    vertical-align: middle;
                    color: @grey-form-submit-icon;
                    .transition(~'color ease 0.35s, border-color ease 0.35s');

                    &:before {
                        padding-left: 2px;
                    }
                }
                .text {
                    display: inline-block;
                    height: 38px;
                    line-height: 41px;
                    font-size: 12px;
                    vertical-align: top;
                    color: @grey-form-submit-textsimple;
                    .transition(color ease 0.35s);
                }
                &:hover {
                    .uk-icon-rz-earth {
                        border-color: @grey-form-submit-border-hover;
                        color: @grey-form-submit-icon-hover;
                    }
                    .text {
                        color: @grey-form-text;
                    }
                }
            }
            .login-link {
                display: inline-block;
                margin: 8px 0 8px 8px;
                height: 22px;
                line-height: 25px;
                font-size: 12px;
                font-weight: bold;
                vertical-align: top;
                border-left: 1px solid @grey-form-border;
                padding-left: 10px;
                text-decoration: none;
                color: @grey-form-submit-textsimple;
                .transition(color ease 0.35s);

                &:hover {
                    color: @grey-form-text;
                }
            }
        }
    }

    .uk-alert {
        position: static;
        width: auto;
        right: auto;
        left: auto;
        margin: 0px 0 15px;
        padding: 5px;

        border: 0 none;
    }
}

.form-col--remember-me {

    .uk-form-label {
        display: inline-block;
        margin-left: 22px;

        &:before {
            content:'';
            display: none;
        }
    }

    input[type=checkbox] {
        position: absolute;
        top: 8px;
        left: 0px;
    }
}
