#purge-caches {
    @media (min-width: @screen-sm-min) {
        width: @login-W + 100;
    }

    #login-formGlobal {
        padding: 0px;
    }
    .content-header {
        height: auto;
    }
    .content-title {
        padding-top: 49px;
        font-size: 30px;
    }

    .uk-form {
        text-align: center;

    }
    .content,
    .content-table-cont {
        padding: 0px;
    }
}
