#language-form {

    padding: 0px 15px;

    .content-text {
        border: 0 none;
    }
    .form-col-choice {
        display: inline-block;
        vertical-align: bottom;
    }
    .uk-form-label {
        display: block;
        float: none;
        clear: both;
        margin: 15px 0 10px;
        white-space: nowrap;
    }
    .rz-select {
        display: inline-block;
    }

    .content-button {
        vertical-align: top;
        margin-top: 37px;
    }
}