.user-summary-items{
    line-height:20px;

    td {
        border-top: 1px dashed #dcdcdc;
        padding: 3px 10px 3px 0px;
    }

    tr:first-child {
        td {
            border-top: none;
        }
    }
}

.summary-item-name{
    font-weight: bold;
    color: black;
}
