<div id="login-logo">
    {% if themeServices.adminImage %}
        {{ themeServices.adminImage|display({width:150}) }}
    {% else %}
        <i class="uk-icon-rz-roadiz-icon"></i>
    {% endif %}
</div>
