@action-menu-W:52px;
@separation-border-color: #DDDDDD;
@block-border-left: #808080;


.action-menu-icon(){
    .rounded(100%);
    position: relative;
    background: #f9f9f9;
    vertical-align: middle;
    border: 1px solid #cecece;
    color: #808080;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 4px 0 0;
    text-align: center;
    z-index: 2;
    font-size: 16px;

    &:before {
        position: relative;
        top: 28%;
        text-align: center;
    }
}

.actions-menu {
    position: fixed;
    right: 0px;
    z-index: 9999;
    width:56px;
    .box-sizing();
    background:white;
    .drop-shadow(3px, 5px, 20px, 0.12);

    header, .uk-button {
        position: relative;
        .rounded(0);
        .box-sizing();
        border: 0 none;
        height: @action-menu-W;
        width: 100%;
        white-space: nowrap;
        text-align: left;
        padding: 9px 9px 9px 13px;
        border-top: 1px solid @separation-border-color;
        background-image: none;
        background-color: white;
        z-index: 999;

        &:first-child, &:first-child .label {
            border-top: 0 none;
        }
        i {
            .action-menu-icon();
        }
        &:hover {
            &.uk-button-danger,
            &.uk-button-primary {
                border-color: @separation-border-color;
                background: white;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            width: 4px;
            background-color: @block-border-left;
        }
        &.uk-button-primary:before {
            background-color: @contrast-color-darker;
        }
        &.uk-button-danger:before {
            background-color: @alert-color;
        }
    }

    // for Save button
    .uk-button-primary {
        .save-icon {
            position: absolute;
            z-index: 9999;
            background-color: white;
            width: 52px;
            height: 52px;
            top: 0;
            left: 4px;
            text-align: center;
            padding: 9px 0 0 2px;
        }
        .label-text {
            background-color: @contrast-color-darker;
        }
        &:hover {
            .label-text {
                left: -100%;
            }
        }
    }

    // for Classic button
    .no-subnav {
        position: relative;
        &.trash .label-text {
            background-color: @alert-color;
        }
        &:hover {
            .label-text {
                left: -100%;
            }
        }
    }
    .label {
        position: absolute;
        display: block;
        font-size: 12px;
        line-height: 52px;
        font-weight: bold;
        color: #444;
        text-shadow: none;
        height: 100%;
        top: 0;
        left: 0;
        border-top: 1px solid transparent;
        .box-sizing();

        .label-text {
            position: relative;
            display: block;
            color: white;
            height: 100%;
            padding: 0 20px;
            z-index: 999;
            left: 0;
            .transition(~'color 0.3s ease, left 0.3s ease');
            -webkit-font-smoothing: antialiased;
        }
    }

    .with-subnav {
        header .label-text {
            width: 174px;
        }
        &:nth-child(even) {
            .label:before {
                background-color: lighten(@block-border-left, 10%);
            }
        }
    }

    .node-actions,
    .node-statuses {
        position: relative;
        border-top: 1px solid @separation-border-color;

        nav,
        ul {
            display: none;
            position: absolute;
            margin: 0px;
            width: 210px;
            right: 55px;
            top: 0px;
            border-right: 1px dashed @separation-border-color;

            .uk-button, li {
                border: 0 none;
                height: 100%;
                white-space: nowrap;
                text-align: left;
                padding: 9px;
                border-top: 1px solid @separation-border-color;
                background-color: #f5f5f5;
                //border-left: 4px solid @block-border-left;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    width: 4px;
                    background-color: @block-border-left;
                }

                &:first-child {
                    border-top: 0 none;
                }

                i {
                    .action-menu-icon();
                }

                .label {
                    font-size: 12px;
                    font-weight: bold;
                    &:before {
                        display: none;
                    }
                    .label-text {
                        .opacity(1);
                    }
                }
                .bootstrap-switch {
                    position: absolute;
                    right: 13px;
                }
            }
        }
        &:hover {
            nav,
            ul  {
                display: block;
            }
        }
    }


    &:hover {
        .transform(translate3D(0, 0, 0));
        .uk-button {
            .label {
                display: inline-block;
            }
        }
    }
}