/*------------------------------------*\
   ACTIONS MENU
\*------------------------------------*/


/* -------- VARS -------- */

@action-menu-H: 52px;
@separation-border-color: #DDDDDD;
@item-global-color: #808080;
@item-global-label-color: #999999;
@item-global-border-color: #cecece;
@item-global-background: #f9f9f9;
@subnav-W: 240px;


/* -------- STYLES -------- */

.action-menu-icon(){
    .rounded(100%);
    position: relative;
    display: inline-block;
    background: @item-global-background;
    vertical-align: middle;
    border: 1px solid @item-global-border-color;
    color: @item-global-color;
    width: 32px;
    height: 32px;
    margin: 0;
    text-align: center;
    z-index: 2;
    font-size: 16px;

    &:before {
        position: relative;
        top: 28%;
        text-align: center;
    }
}

.actions-menu {
    position: fixed;
    right: 0px;
    z-index: 9999;
    width:56px;
    .box-sizing();
    background:white;
    .drop-shadow(3px, 5px, 30px, 0.1);

    header, .uk-button {
        position: relative;
        .rounded(0);
        .box-sizing();
        border: 0 none;
        height: @action-menu-H;
        width: 100%;
        white-space: nowrap;
        text-align: left;
        padding: 9px 9px 9px 13px;
        border-top: 1px solid @separation-border-color;
        background-image: none;
        background-color: white;
        z-index: 999;

        &.uk-button:first-child, &.uk-button:first-child .label {
            border-top: 0 none;
        }

        i {
            .action-menu-icon();
            .transition(~'border-color ease 0.3s, color ease 0.3s');
        }

        &:hover {
            &.uk-button-danger,
            &.uk-button-primary {
                border-color: @separation-border-color;
                background: white;
            }
            i {
                border-color: darken(@item-global-border-color, 10%);
                color: darken(@item-global-color, 20%)
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            width: 4px;
            background-color: @item-global-label-color;
            z-index: 99999;
        }
        &.uk-button-primary:before {
            background-color: @contrast-color-darker;
        }
        &.uk-button-danger:before {
            background-color: @alert-color;
        }
    }

    // for Save button  and other too !
    .uk-button {
        .icon-container {
            position: absolute;
            z-index: 9999;
            background-color: white;
            // width: 100%;
            top: 0; right:0; bottom:0; left: 0;
            text-align: center;
            padding: 7px 9px 9px 13px;
            .box-sizing();
            display: block;

            z-index: 2;
        }
        .label {
            z-index: 0;
        }
        .label-text {
            background-color: #999999;
        }
        &:hover {
            border-color:transparent;
            border-color:#ddd;

            .label-text {
                left: -100%;
            }
        }


        &.uk-button-primary {
            .label-text {
                background-color: @contrast-color-darker;
            }
        }
        &.uk-button-danger {
            .label-text {
                background-color: @alert-color;
            }
        }
    }

    // for Classic button
    .no-subnav {
        position: relative;
        &.trash .label-text {
            background-color: @alert-color;
        }
        &:hover {
            .label-text {
                left: -100%;
            }
        }
    }
    .label {
        position: absolute;
        display: block;
        font-size: 12px;
        line-height: 52px;
        font-weight: bold;
        color: #444;
        text-shadow: none;
        height: 100%;
        top: 0;
        left: 0;
        border:none;
        // border-top: 1px solid transparent;
        .box-sizing();

        .label-text {
            position: relative;
            display: block;
            color: white;
            height: 100%;
            padding: 0 20px;
            z-index: 999;
            left: 0;
            .transition(left 0.3s ease);
            -webkit-font-smoothing: antialiased;
        }
    }

    // for Subnav button
    .with-subnav {
        position: relative;
        height:52px;
        border-top:none;
        // border-top: 1px solid @separation-border-color;
        .box-sizing();

        &.node-status header {
            background-color: #676767;
            &:before, .label {
                background-color: darken(@item-global-label-color, 20%);
            }
        }

        header {
            .label {
                display: none;
                width: @subnav-W;
                left: -@subnav-W;
                background-color: @item-global-label-color;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #DADADA;
                    right: 18px;
                    top: 24px;
                }
            }
        }
        &:nth-child(even) {
            header {
                &:before, .label {
                    background-color: lighten(@item-global-label-color, 10%);
                }
            }
            nav,ul {
                border-left-color: lighten(@item-global-label-color, 10%)
            }
        }
        nav,ul {
            display: none;
            position: absolute;
            margin: 0px;
            padding: 0px;
            width: @subnav-W + 1px;
            right: 55px;
            top: 52px;
            z-index: 10000;
            border-right: 1px dashed @item-global-border-color;
            border-left: 4px solid @item-global-label-color;
            .box-sizing();
            .drop-shadow(3px, 5px, 20px, 0.12);

            .uk-button, li {
                position: relative;
                border: 0 none;
                height: @action-menu-H - 4px;
                white-space: nowrap;
                text-align: left;
                padding: 0 9px;
                border-top: 1px solid @separation-border-color;
                background-color: @item-global-background;
                .box-sizing();
                line-height: @action-menu-H - 4px;

                &:before {
                    display: none;
                }
                &:first-child {
                    border-top: 0 none;
                }
                i {
                    .action-menu-icon();
                    .transition(~'border-color ease 0.3s, color ease 0.3s');
                }

                .label {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 11px;
                    font-weight: bold;
                    line-height:48px;
                    padding-left: 9px;
                    &:before {
                        display: none;
                    }
                }
                .bootstrap-switch {
                    position: absolute;
                    right: 13px;
                    top: 10px;
                }
                &:hover {
                    background: white;
                    i {
                        border-color: darken(@item-global-border-color, 10%);
                        color: darken(@item-global-color, 20%)
                    }
                }
            }
           input[type=radio] {
                position: absolute;
                right: 16px;
                top:13px; // top: 21px;
            }
        }
        &:hover {
            nav,ul, header .label  {
                display: block;
            }
        }
    }
}

.node-statuses-item{
    cursor:pointer;
}
