{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node-type-fields header-node-type-fields-add">
        <h1 class="content-title">{% trans %}add.a.nodeTypeField{% endtrans %}</h1>
         <a class="content-header-nav-back uk-navbar-content" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: nodeType.getId }) }}" title="{% trans %}back_to.nodeTypeFields{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <node-type-field-form-container inline-template data-vuejs>
        <article class="content">
            {% form_theme form '@Rozier/forms.html.twig' %}
            {{ form_start(form, { attr: { id: 'add-node-type-field-form'}}) }}
                {{ form_widget(form) }}
                <fieldset data-uk-margin>
                    {% apply spaceless %}
                    <button data-action-save="#add-node-type-field-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                        <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                        <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                    </button>
                    {% endapply %}
                </fieldset>
            {{ form_end(form) }}
        </article>
    </node-type-field-form-container>

    {% include '@Rozier/node-type-fields/actionsMenu.html.twig' %}
</section>
{% endblock %}
