{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-type-field">
	<h1 id="node-type-field-title">Edit {{ field.getName }}</h1>

	<nav>
		<a class="uk-button uk-button-small" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: field.getNodeType.getId }) }}"><span class="uk-icon-reply"></span>{% trans %}Back to node-types fields{% endtrans %}</a>
	</nav>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}