{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-node-type-field">
    <header class="content-header header-node-type-fields header-node-type-field-edit">
         <h1 class="content-title node-type-field-edit-title">{{ "edit.nodeTypeField.%name%"|trans({'%name%': field.getName})|u.truncate(25, '[…]', true) }}</h1>
         <a class="content-header-nav-back uk-navbar-content" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: nodeType.getId }) }}" title="{% trans %}back_to.nodeTypeFields{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    {% block subcontent %}{% endblock %}

    {% include '@Rozier/node-type-fields/actionsMenu.html.twig' %}
</section>
{% endblock %}
