{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global">

    <header class="content-header header-role-types header-role-types-add">
        <h1 class="content-title">{% trans %}add.a.role{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('rolesHomePage') }}" title="{% trans %}back_to.roles{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content">
    	{% form_theme form '@Rozier/forms.html.twig' %}
        <form id="add-role-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	{% spaceless %}
                <button data-action-save="#add-role-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
       		</fieldset>
    	</form>
    </article>
    {% include 'roles/actionsMenu.html.twig' %}
</section>
{% endblock %}
