{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-role">
	<h1 id="role-title">{{ "delete.role.%name%"|trans({'%name%': role.getName }) }}</h1>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}are_you_sure.delete.role{% endtrans %}</legend>
	    	<a href="{{ path('rolesHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
