{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-role header-role-add">
        <h1 class="content-title">{% trans %}import.role{% endtrans %}</h1>
         <a class="content-header-nav-back uk-navbar-content" href="{{ path('rolesHomePage') }}" title="{% trans %}back_to.roles{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> {% trans %}import{% endtrans %}</button>
        </form>
    </article>

    {% include 'roles/actionsMenu.html.twig' %}

</section>
{% endblock %}
