{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-type">
	<h1 id="node-type-title">{% trans %}Add a new node-type{% endtrans %}</h1>

	{% form_theme form 'forms.html.twig' %}
    <form id="add-node-type-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <fieldset data-uk-margin>
            {% spaceless %}
            <button data-action-save="#add-node-type-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                <i class="uk-icon-plus"></i>
                <span class="label">{% trans %}add.nodeType{% endtrans %}</span>
            </button>
            {% endspaceless %}
        </fieldset>
    </form>

    {% include 'node-types/actionsMenu.html.twig' %}
</section>
{% endblock %}
