{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-types">
	<h1 id="title">{% trans %}Import Node types{% endtrans %}</h1>
	
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> {% trans %}import{% endtrans %}</button>	
	</form>
</section>
{% endblock %}

