{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global import-node-types">

    <header class="content-header header-node-types header-node-types-import">
         <h1 class="content-title node-types-export-title">{% trans %}import.nodeType{% endtrans %}</h1>
         <a class="content-header-nav-back uk-navbar-content" href="{{ path('nodeTypesHomePage') }}" title="{% trans %}back_to.nodeTypes{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
    </header>

    <article class="content content-node-types-import content-no-action-menu">
        {% form_theme form 'forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> {% trans %}import{% endtrans %}</button>
            <a href="{{ path('nodeTypesHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
        </form>
    </article>

</section>
{% endblock %}
