<nav class="node-navbar-navigation navbar-navigation uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        <li class="uk-navbar-item{% if current == 'nodeType' %} uk-active{% endif %}" >
            <a class="uk-navbar-link" href="{{ path('nodeTypesEditPage', { nodeTypeId: nodeType.getId }) }}">{% trans %}node-type.parameters{% endtrans %}</a>
        </li>
        <li class="uk-navbar-item{% if current == 'nodeTypeFields' %} uk-active{% endif %}" >
            <a class="uk-navbar-link" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: nodeType.id }) }}">{% trans %}fields{% endtrans %}</a>
        </li>
    </ul>
    {% endapply %}
</nav>
