# Symfony application's path (absolute or relative)
ROADIZ_APP_PATH=./
USER_UID=501
APP_PORT=8080
PMA_PORT=8180
SOLR_PORT=8983
SYNC_NAME=roadiz
USE_APP_CACHE=false

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=roadiz
MYSQL_USER=roadiz
MYSQL_PASSWORD=roadiz

# Docker networking DEV ONLY
DEFAULT_GATEWAY=172.18.0.1
