#!/bin/bash

# Generate a build version from commits count
commit_count=`git log --pretty=oneline | wc -l`;

# Launch PHP codeSniffer (change your executable path according to your system)
/usr/local/bin/phpcs --report=full --report-file=./report.txt --extensions=php --ignore=*/node_modules/*,*/.AppleDouble,*/vendor/*,*/cache/*,*/sources/*,*/Tests/* -p ./;

# Get error code from phpcs (0 : code clean, 1 code dirty)
php_cs_output=$?;

# Abort commmit if code is not clean, check your report.txt file
if [ $php_cs_output != 0 ]
then exit $php_cs_output;
fi

# Create a BUILD.php file with total commit count from Life begining
echo "<?php return ${commit_count};" > ./BUILD.php;

# Do not forget to add it to your commit file list
git add ./BUILD.php;

# You must exit 0 to perform the real commit
exit 0;