/*------------------------------------*\
    CHILDREN NODES WIDGET
\*------------------------------------*/

/* -------- VARS -------- */
@children-nodes-border: #cbcbcb;
@children-nodes-btn-bg: #ededed;
@children-nodes-btn-border: #bfbfbf;
@children-nodes-btn-color: #2d2d2d;
@children-node-height: 42px;

/* -------- STYLES -------- */
.uk-nestable-handle {
    display: inline-block;
}

.children-nodes-widget {
    position: relative;
    border: 1px solid @children-nodes-border;

    & > .children-nodes-tree {
        background: #fff;
    }

    .uk-form-label {
        position: absolute;
        left: 70px;
        height: @children-node-height;
        line-height: 59px;

        &:before {
            display: none;
        }
    }

    .root-tree {
        margin: 0;

        & > .non-nestable-list-item,
        & > .uk-nestable-item {
            padding: 0;
            border-top: 1px solid #E2E2E2;

            &:first-child {
                padding: 0;
                border-top: none;
            }
        }
    }
}

.children-nodes-nav {
    .uk-icon-rz-node-tree {
        font-size: 28px;
    }

    .uk-button {
        background: @children-nodes-btn-bg;
        margin-right: 8px;
        border: 1px solid @children-nodes-btn-border;
        color: @children-nodes-btn-color;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: darken(@children-nodes-btn-border, 15%);
            background-color: darken(@children-nodes-btn-bg, 10%);
            color: darken(@children-nodes-btn-color, 15%);
        }
    }
    .children-nodes-quick-creation {
        margin: 0;
        .uk-dropdown {
            background: @children-nodes-btn-bg;
            margin-top: -1px;
            padding: 0;
            max-height: 45vh;
            overflow-y: auto;
            width: 230px;

            @media (min-width: @screen-xl-min) {
                width: 17vw;
            }

            &.uk-dropdown-top {
                margin-top: 0;
                margin-bottom: -2px;
            }

            .uk-button {
                position: relative;
                display: block;
                text-align: left;
                margin: 0px;
                border: none;
                height: auto;
                padding: 8px 20px 7px 33px;
                line-height: 17px;
                border-bottom: 1px solid @children-nodes-btn-border;

                .uk-icon-rz-plus-simple {
                    position: absolute;
                    top: 4px;
                    left: 10px;
                }

                &:last-child {
                    margin-right: 0;
                    border-bottom: none;
                }
            }
        }
    }

    [data-uk-dropdown] {
        & > .uk-button {
            margin: 0px;
            z-index: 1030;
            position: relative;

            i {
                margin: 0px;
            }
        }

        &.uk-open {
            & > .uk-button {
                background-color: #F7F7F7;
                border-bottom: 1px dashed @children-nodes-btn-border;;
            }
        }

        margin: 10px;
    }
}

.children-nodes-tree {
    .uk-nestable {
        .uk-nestable-list {
            position: relative;
        }

        .non-nestable-handle,
        .uk-nestable-handle {
            width: @children-node-height - (15px - 2); //dash + borders
            height: @children-node-height;
            border-color: @children-nodes-border;
        }
    }
    .nodetree-contextualmenu {
        top: 0;

        .tree-contextualmenu-button {
            display: inline-block;

        }
        .uk-button-mini {
            background: #ddd;
        }

        .vertical-nodetype .text {
            left: 41px;
        }

        .uk-dropdown {
            margin-top: 0;
            margin-bottom: 0;

            // Align trigger with menu icons
            transform: translateX(10px);
        }
    }
    .nodetree-element-img {
        position: absolute;
        top: 7px;
        left: 1px;
        width: @children-node-height - 15;
        height: @children-node-height - 15;
        .rounded(100px);
        overflow: hidden;
        z-index: 5;

        img, object {
            position: relative;
            vertical-align: top;
            object-fit: cover;
        }
    }
    .unpublished-node .nodetree-element-img {
        .rounded(2px);
        .transform(rotate(45deg));
        top: 9px;
        left: 4px;
        width: @children-node-height / 2;
        height: @children-node-height / 2;

        img {
            transform-origin: center center;
            .transform(rotate(-45deg) scale(1.4));
        }
        object {
            transform-origin: center center;
            .transform(rotate(-45deg));
        }
    }
}

/*
 * For each nestable group in children node-tree
 */
.children-nodes-tree ul {
    // 1st level
    & > .non-nestable-list-item,
    & > .uk-nestable-item {
        position: relative;
        background: #fff;

        [data-nestable-action="toggle"] {
            right: 5px;
            top: 0;
        }

        .nodetree-contextualmenu {
            right: @children-node-height / 2;
            top: 0px;
        }

        &:nth-child(2n) {
            background: @grey-verylight;
        }

        &:last-child {
            padding: 0;

            &.has-children {
                .uk-nestable-list {
                    margin-bottom: 0;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .nodetree-list-item-color {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
        }

        .uk-nestable-panel {
            height: @children-node-height;
            line-height: @children-node-height;
            padding: 0 5px 0 @children-node-height / 3;
            .box-sizing();

            &.stack-node {
                .nodetree-element-img {
                    display: none;
                }
            }

            .nodetree-element-name {
                vertical-align: top;
                a {
                    padding: 0;
                    line-height: @children-node-height + 1;

                    &:before {
                        content: "—";
                        display: inline-block;
                        padding-right: 8px;
                        color: #BEBEBE;
                    }
                }

                &[dir=rtl] {
                    a {
                        &:before {
                            content: none;
                        }
                        &:after {
                            content: "—";
                            display: inline-block;
                            padding-right: 8px;
                            color: #BEBEBE;
                        }
                    }
                }
            }
            & > .non-nestable-handle:before,
            & > .uk-nestable-handle:before {
                width: @children-node-height - 15px;
                height: @children-node-height - 15px;
                top: 6px;
                background-color: #CCCCCC;
                border: 1px solid #C2C2C2;
                z-index: 1;
            }

            &.unpublished-node {
                & > .non-nestable-handle:before,
                & > .uk-nestable-handle:before {
                    top: 6px;
                    left: 3px;
                    width: @children-node-height / 2;
                    height: @children-node-height / 2;
                    .rounded(3px);
                    z-index: 1;
                }
            }

            &.stack-node {
                & > .non-nestable-handle,
                & > .uk-nestable-handle {
                    position: relative;
                    width: 32px;
                    top: 0;
                    left: -7px;
                    border-color: #a0a0a0;
                    z-index: 2;
                }

                & > .non-nestable-handle:before,
                & > .uk-nestable-handle:before,
                .uk-icon-folder:before {
                    display: none;
                }

                .icon-stack-folder,
                .uk-icon-folder {
                    content: "";
                    font-family: FontAwesome;
                    color: @item-color;
                    font-size: 12px;
                    .rounded(100%);
                    background-color: white;
                    border: 1px solid #a0a0a0;
                    width: @children-node-height / 2;
                    height: @children-node-height / 2;
                    display: inline-block;
                    top: 9px;
                    left: 9px;
                    position: absolute;

                    transition: color 0.3s linear, border-color 0.3s linear, background 0.3s linear;
                }

                &.unpublished-node {
                    .icon-stack-folder,
                    .uk-icon-folder {
                        .rounded(15%);
                        top: 10px;
                        width: (@children-node-height / 2) - 3;
                        height: (@children-node-height / 2) - 3;
                    }
                }

                .icon-stack-folder {
                    left: 15px;
                    &-final {
                        left: 21px;
                        &:after {
                            position: absolute;
                            display: block;
                            content: "";
                            font-family: FontAwesome;
                            color: @item-color;
                            font-size: 12px;
                            .rounded(100%);
                            background-color: #a0a0a0;
                            width: 8px;
                            height: 8px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                &.unpublished-node {
                    .icon-stack-folder {
                        &-final {
                            &:after {
                                .rounded(15%);
                            }
                        }
                    }
                }

                .nodetree-element-name {
                    left: 4px;
                }
                &:hover {
                    .icon-stack-folder,
                    .uk-icon-folder,
                    .uk-icon-folder:before {
                        color: @nestable-handle-border-color-hover;
                        border-color: @nestable-handle-border-color-hover;
                        background: @nestable-handle-bgcolor-hover;
                    }
                    .icon-stack-folder:after {
                        background: @nestable-handle-border-color-hover;
                    }
                }
            }
        }

        // 2nd level
        & > .uk-nestable-list {
            margin-left: @children-node-height - (15px - 2);
            padding: 0;

            & > .non-nestable-list-item,
            & > .uk-nestable-item {
                &:first-child {
                    margin-top: 0;
                    padding-top: 0;

                    &:after {
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 18px;
                        background: @item-border-color;
                        top: -7px;
                        left: -1px;
                    }
                }

                &:last-child {
                    &:before {
                        left: -1px;
                        z-index: 0;
                    }
                }
            }

            &.empty {
                margin: 0;
            }

            .non-nestable-list-item,
            .uk-nestable-item {
                position: relative;
                border-bottom: none;
                background: transparent;

                &.has-children {
                    .nodetree-list-item-color {
                        height: @children-node-height;
                    }
                }

                .nodetree-list-item-color {
                    left: @children-node-height - (15px - 2);
                    z-index: 5;
                }

                &:before {
                    width: @children-node-height - (15px - 2) !important;
                    z-index: 0;
                }

                &:not(:first-child):not(:last-child) {
                    &:before {
                        top: 30px;
                    }
                }

                &:first-child {
                    &:before {
                        top: 7px;
                    }
                }

                &:last-child:before {
                    top: 0;
                    height: @children-node-height/2;
                }

                .nodetree-list-item-color {
                    top: 1px;
                    left: @children-node-height - (15px - 2);
                }

                .uk-nestable-panel {
                    margin-left: @children-node-height - (15px - 2);
                    background: #F4F4F4;
                    border-top: 1px solid #e2e2e2;

                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        right: 0;
                        left: 0;
                        height: 1px;
                        background: #fff;
                    }
                }

                // 3rd level
                .uk-nestable-list {
                    padding-left: @children-node-height - (15px - 2);

                    .non-nestable-list-item,
                    .uk-nestable-item {
                        margin-right: 0;

                        &:first-child {
                            padding-top: 0;

                            .nodetree-list-item-color {
                                top: 0;
                            }
                        }

                        &:last-child {
                            //padding-bottom: 10px;

                            .nodetree-list-item-color {
                                top: 1px;
                            }

                            &:before {
                                top: -11px;
                                height: 37px;
                                z-index: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.uk-nestable-dragged {
    .nodetree-element-img {
        display: none;
    }
}

// Dragging
.uk-nestable-moving body {
    & > .children-node-widget,
    & > .children-node-widget-list {
        & > .non-nestable-list-item,
        & > .uk-nestable-item {
            border-bottom: none;
        }
    }
}
