/*------------------------------------*\
    DOCUMENTS WIDGET
\*------------------------------------*/


/* -------- VARS -------- */
@documents-widget-border :         #cbcbcb;
@documents-widget-btn-bg :         #ededed;
@documents-widget-btn-border :     #bfbfbf;
@documents-widget-btn-color :      #2d2d2d;


/* -------- STYLES -------- */

#overlay {
    position: fixed !important;
    content: ' ';
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    pointer-events: none;
}

.documents-widget{
    position: relative;
    border:1px solid @documents-widget-border;

    &.uk-active {
        z-index: 11100;
        background: @maincontent-bg;
    }

    .documents-widget-uploader.dropzone {
        height: 200px;
        display: none;
    }

    .uk-form-label{
        position: absolute;
        left:70px;
        height:55px;
        line-height:59px;

        &:before{
            display: none;
        }
    }
}

.documents-widget-nav{
    min-height:45px;
    border-bottom:1px dashed @documents-widget-border;

    @media (min-width: @screen-lg-min) {
        min-height:55px;
    }

    .uk-navbar-brand {
        .widgetNavBarBrand();
    }

    .uk-icon-rz-documents{
        font-size:28px;
    }

    .documents-widget-quick-creation{
        margin:0;
    }

    .uk-navbar-content {
        padding: 11px 10px;
        height: auto;
    }

    .uk-button{
        background: @documents-widget-btn-bg;
        margin-right:6px;
        border: 1px solid @documents-widget-btn-border;
        color: @documents-widget-btn-color;

        &:last-child{
            margin-right:0;
        }

        &.uk-active,
        &:active,
        &:hover {
            border-color:darken(@documents-widget-btn-border, 15%);
            background-color:darken(@documents-widget-btn-bg, 10%);
            color: darken(@documents-widget-btn-color, 15%);
        }

        &.rz-coming-soon {
            .opacity(0.5);
            pointer-events: none;
        }
    }
}

.documents-widget-sortable-container {
    background: #fff;
    position: relative;
    min-height: 121px;
}

.documents-widget-sortable{
    margin:0;
    padding:13px 25px 20px;
    background:#fff;
}

.sortable-ghost {
    border:1px dashed @documents-widget-border;

    & * {
        display: none;
    }
}

.documents-widget-sortable-list-item,
.documents-widget-dragging {
    position: relative;
    display: inline-block; vertical-align: top;
    width:80px; height:80px;
    margin-right:12px;
    margin-top: 8px;
    cursor: move;
    background: #eee;
    overflow: hidden;

    .uk-sortable-handle{
        position: absolute;
        width:80px; height:80px;

        &:after{
            display: none;
        }
    }

    .document-border{
        position: absolute;
        top:0; right:0; left:0;
        z-index: 15;
        height:4px;
        background:@contrast-color;
    }

    .document-image{
        min-width: 80px;
        min-height: 80px;
    }

    .document-name{
        display: none;
        .transition(~"0.4s opacity ease, 0.4s top ease");
    }

    .document-mime-type{
        display: none;
    }

    .document-links{
        position:absolute;
        width:80px;
        height:30px;
        bottom:-30px;
        overflow: hidden;
        .transition(0.4s bottom @easeOutExpo);
        background: rgba(255,255,255,0.8);

        .document-link {
            display: inline-block;
            width:40px;
            height:30px;
            .rounded(0);
            .opacity(0.95);

            i {
                margin:0;
                line-height:30px;
            }

            .label{
                display: none;
            }
        }
    }

    .link-button{
        display: none;
    }

    .document-platform-icon{
        width: 35px; height: 35px;
        background-color: #EEE;
        margin: -18px;
        position: absolute;
        top: 50%;
        left: 50%;
        .rounded(4px);
        text-align: center;
        line-height: 35px;
        .box-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        .opacity(0.95);
        .transition(0.9s opacity @easeOutExpo);

        i{
            font-size: 28px;
            line-height: 35px;
            color: #3C3C3C;
        }
    }

    &.not-image {

        .document-platform-icon {
            top: 45%;
        }
        .document-name {
            display: block;
            .opacity(0.7);
            font-size: 9px;
            position: absolute;
            top: 63px;
            width: 80px;
            text-align: center;
        }
    }

    &:hover{

        .document-links{
            bottom:0px;
        }
        .document-platform-icon {
            .opacity(0);
        }
        &.not-image {
            .document-name {
                top: 10px;
            }
        }
    }
}
