.documents-widget-sortable-list-item,
.documents-widget-dragging {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:80px;
    height:80px;
    margin: 6px;
    cursor: move;
    background: #eee;
    overflow: hidden;

    .uk-sortable-handle{
        position: absolute;
        width:80px;
        height:80px;

        &:after{
            display: none;
        }
    }

    .svg {
        width: 80px;
        height: 80px;
    }

    .svg object {
        max-height: 100%;
        max-width: 100%;
    }

    .preview-zoom {
        position: absolute;
        z-index: 15;
        top: 0;
        right: 0;
        width: 20px;
        text-align: center;
        background: @contrast-color;
        font-size: 11px;
        padding: 2px 0;
        height: 15px;
        color: #fff;
        opacity: 0;
        .transition(0.4s opacity @easeOutExpo);
    }

    &:hover {
        .preview-zoom {
            opacity: 1;
            cursor: pointer;
        }
    }

    .document-border{
        position: absolute;
        top:0; right:0; left:0;
        z-index: 15;
        height:4px;
        background:@contrast-color;
    }

    .document-image{
        min-width: 80px;
        min-height: 80px;
    }

    .document-name{
        display: none;
        .transition(~"0.4s opacity ease, 0.4s top ease");
    }

    .document-mime-type{
        display: none;
    }

    .document-links{
        position:absolute;
        width:80px;
        height:30px;
        bottom:-30px;
        overflow: hidden;
        .transition(0.4s bottom @easeOutExpo);
        background: rgba(255,255,255,0.8);

        .document-link {
            display: inline-block;
            width:40px;
            height:30px;
            .rounded(0);
            .opacity(0.95);

            i {
                margin:0;
                line-height:30px;
            }

            .label{
                display: none;
            }
        }
    }

    .link-button{
        display: none;
    }

    .document-platform-icon{
        width: 35px; height: 35px;
        background-color: #EEE;
        margin: -18px;
        position: absolute;
        top: 50%;
        left: 50%;
        .rounded(4px);
        text-align: center;
        line-height: 35px;
        .box-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        .opacity(0.95);
        .transition(0.9s opacity @easeOutExpo);

        i{
            font-size: 28px;
            line-height: 35px;
            color: #3C3C3C;
        }
    }

    &.not-image {

        .document-platform-icon {
            top: 45%;
        }
        .document-name {
            display: block;
            .opacity(0.7);
            font-size: 9px;
            position: absolute;
            top: 63px;
            width: 80px;
            text-align: center;
        }
    }

    &:hover{

        .document-links{
            bottom:0px;
        }
        .document-platform-icon {
            .opacity(0);
        }
        &.not-image {
            .document-name {
                top: 10px;
            }
        }
    }
}
