/*------------------------------------*\
    DOCUMENTS WIDGET
\*------------------------------------*/


/* -------- VARS -------- */
@documents-widget-border :         #cbcbcb;
@documents-widget-btn-bg :         #ededed;
@documents-widget-btn-border :     #bfbfbf;
@documents-widget-btn-color :      #2d2d2d;

@nodes-widget-border :         #cbcbcb;
@nodes-widget-btn-bg :         #ededed;
@nodes-widget-btn-border :     #bfbfbf;
@nodes-widget-btn-color :      #2d2d2d;
@nodes-widget-height : 40px;

/* -------- STYLES -------- */

#overlay {
    position: fixed !important;
    content: ' ';
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    pointer-events: none;
}

.drawer-widget{
    position: relative;
    border: 1px solid @documents-widget-border;

    &.has-description {
        margin-bottom: 0;

        & + .drawer-widget-description {
            border-left: 1px solid fade(@documents-widget-border, 50%);
            margin: 0 0 1.5em 2.5em;
            padding: 1em 2em 0.75em;
        }
    }

    &.uk-active {
        z-index: 11100;
        background: @maincontent-bg;
    }

    .uk-text-muted.uk-navbar-brand {
        font-size: 10px;
        margin: 0;
        padding: 0;
        line-height: 59px;
    }

    .items-widget-uploader.dropzone {
        height: 200px;
        display: none;
    }

    .uk-form-label {
        position: absolute;
        left:70px;
        height:55px;
        line-height:59px;

        &:before{
            display: none;
        }
    }

    // Specific node drawer widget
    &.entity-node {
        .uk-navbar-brand i {
            font-size: 25px;
        }
    }

}

.drawer-widget-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px dashed @documents-widget-border;

    &::before,
    &::after {
        content: none;
    }

    .uk-navbar-nav {
        float: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .uk-navbar-brand {
        .widgetNavBarBrand();

        height: auto;

        .uk-text-muted {
            margin: 0 0 0 1em;
            font-size: 11px;
        }
    }

    .uk-icon-rz-documents{
        font-size:28px;
    }

    .documents-widget-quick-creation{
        margin:0;
    }

    .uk-navbar-content {
        padding: 11px 10px;
        height: auto;
    }

    .uk-button{
        background: @documents-widget-btn-bg;
        margin-right:6px;
        border: 1px solid @documents-widget-btn-border;
        color: @documents-widget-btn-color;

        &:last-child{
            margin-right:0;
        }

        &.uk-active,
        &:active,
        &:hover {
            border-color:darken(@documents-widget-btn-border, 15%);
            background-color:darken(@documents-widget-btn-bg, 10%);
            color: darken(@documents-widget-btn-color, 15%);
        }

        &.rz-coming-soon {
            .opacity(0.5);
            pointer-events: none;
        }
    }
}

.drawer-widget-sortable-container {
    position: relative;
    background: #ffffff;
    @media (min-width: @screen-sm-min) {
        min-height: 108px;
    }
}

.drawer-widget-sortable{
    margin: 0;
    padding: 10px;

    // Weird vuedraggable DOM
    // transition-group component
    & > div > span {
        display: flex;
        flex-wrap: wrap;
        min-height: 80px;
    }
}

.sortable-ghost {
    border: 1px dashed @documents-widget-border;

    & * {
        display: none !important;
    }
}
