.foldertree {
    &-element {
        &-name {
            vertical-align: middle;
            position: relative;
            max-width: 80%;

            a {
                white-space: nowrap;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                vertical-align: middle;
            }
        }
    }

    &-contextualmenu {
        position: absolute;
        top: 3px;
        right: 22px;

        .uk-icon-caret-down {
            font-size: 10px;
            margin: 0 0 0 1px;
        }

        .uk-dropdown-small{
            padding:0;

            .uk-nav{

                &> p{
                    padding:0;
                    height:40px; line-height:40px;

                    &:hover{
                        background: #ebebeb;
                    }

                    &> a{
                        display: block;
                        border-bottom: 1px dashed @contextualdropdown-border-color;
                        padding-left: 16px;
                        padding-right: 11px;
                        font-weight: bold;

                        &> i{
                            line-height:40px;
                        }
                    }
                }
            }
        }

    }

}

#foldertree-widget{
    .uk-nestable {
        &.root-tree{
            & > .uk-nestable-item {
                & > .uk-nestable-panel {
                    margin-bottom:2px;
                }
            }
        }

        .uk-nestable-list-folder{
            padding-left:13px;

            & > .uk-nestable-list-item-folder{

                .uk-nestable-item-folder{
                    padding-left:17px;
                }

                .uk-nestable-list-folder{

                    .uk-nestable-item-folder{
                        margin-left:11px;
                    }
                }

            }
        }

        .uk-nestable-handle-folder{
            vertical-align: middle;
            color: darken(@maintree-global-bg, 30%);
            left: -5px;

            &:before {
                display: none;
            }
        }

    }

}

.uk-nestable-moving body{
     & > .uk-nestable-folder,
     & > .uk-nestable-list-folder{

        &.uk-nestable-folder .uk-nestable-list-folder,
        &.uk-nestable-list-folder{
            padding-left:13px;

            .uk-nestable-item-folder{
                padding-left:17px;
            }
        }

        .uk-nestable-handle-folder{
            color:darken(@maintree-global-bg, 30%);

            &:after{
                display: none;
            }
        }
    }
}
