/*------------------------------------*\
    NODES WIDGET
\*------------------------------------*/


/* -------- VARS -------- */
@nodes-widget-border :         #cbcbcb;
@nodes-widget-btn-bg :         #ededed;
@nodes-widget-btn-border :     #bfbfbf;
@nodes-widget-btn-color :      #2d2d2d;

@nodes-widget-height : 40px;
