table.users {
    td {
        vertical-align: middle;
    }
}


.user-image {
    position: relative;
    object-fit: cover;
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 2em;
        color: rgba(0,0,0,0.10);
    }

    .uk-table td & {
        margin: -8px 0;
    }

    @media screen and (min-width: 1380px) {
        width: 45px;
        height: 45px;

        .uk-table td & {
            margin: -5px 0;
        }
    }

    &.user-image-mini {
        width: 30px;
        height: 30px;

        @media screen and (min-width: 1380px) {
            width: 30px;
            height: 30px;
        }
    }
}
