{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block customStyles %}
<style>
    /* Custom styles here */
</style>
{% endblock %}

{% block content %}
<section class="content-global add-test">
    <header class="content-header header-test header-test-edit">
        <h1 class="content-title test-add-title">{% trans %}Test admin{% endtrans %}</h1>
    </header>

    <article class="content content-test">
        <p>This page is created from DefaultTheme to show you how to extend backoffice features.</p>
        <p>To disable this backstage area, edit your <code>themes/DefaultTheme/DefaultThemeApp.php</code> file and
            remove <code>$entries['test']</code> from <code>setupDependencyInjection</code> method. Or simply disable DefaultTheme.</p>

        {% if data %}
            <h3>{% trans %}Chosen settings{% endtrans %}</h3>
            <ul>
                {% for setting in data %}
                    <li>{{ setting.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form %}
            {% form_theme form '@Rozier/forms.html.twig' %}
            {{ form_start(form, { attr: { id: 'edit-test-form'}}) }}
                {{ form_widget(form) }}
                <fieldset data-uk-margin>
                    {% spaceless %}
                        <button data-action-save="#edit-test-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                            <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                            <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                        </button>
                    {% endspaceless %}
                </fieldset>
            {{ form_end(form) }}
        {% endif %}
    </article>
</section>
{% endblock %}
