/* ========================================================================
   Component: Icon
 ========================================================================== */
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.woff2") format("woff2"),
        url("../fonts/fontawesome-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesomeBrands';
    src: url("../fonts/fa-brands-400.woff2") format("woff2"),
        url("../fonts/fa-brands-400.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'rz-icons';
  src: url("../fonts/rz-icons.woff2") format("woff2"),
       url("../fonts/rz-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class*=uk-icon-rz-] {
  font-family: 'rz-icons';
  font-size: 16px;
  vertical-align: middle;
  line-height: normal;
}

@tree-close: "\e047";
@tree-open: "\e048";
@home: "\e030";
@home-unpublished: "\e032";
@plus: "\e04d";
@minus: "\e040";
//@save: "\e05d";
@save: "\e059";

/* Icon mapping
 ========================================================================== */

.uk-icon-rz-actions:before {
  content: "\e000";
}
.uk-icon-rz-actions-mini:before {
  content: "\e001";
}
.uk-icon-rz-all-nodes:before {
  content: "\e002";
}
.uk-icon-rz-archive:before {
  content: "\e003";
}
.uk-icon-rz-archive-mini:before {
  content: "\e004";
}
.uk-icon-rz-archives-nodes:before {
  content: "\e005";
}
.uk-icon-rz-back:before {
  content: "\e006";
}
.uk-icon-rz-back-parent:before {
  content: "\e007";
}
.uk-icon-rz-backtop:before {
  content: "\e008";
}
.uk-icon-rz-bold:before {
  content: "\e009";
}
.uk-icon-rz-breadcrumb-home:before {
  content: "\e00a";
}
.uk-icon-rz-close-explorer:before {
  content: "\e00b";
}
.uk-icon-rz-comments:before {
  content: "\e00c";
}
.uk-icon-rz-construction:before {
  content: "\e00d";
}
.uk-icon-rz-copy:before {
  content: "\e00e";
}
.uk-icon-rz-dailymotion:before {
  content: "\e00f";
}
.uk-icon-rz-dashboard:before {
  content: "\e010";
}
.uk-icon-rz-deleted-nodes:before {
  content: "\e011";
}
.uk-icon-rz-devmode:before {
  content: "\e012";
}
.uk-icon-rz-documents:before {
  content: "\e013";
}
.uk-icon-rz-download:before {
  content: "\e014";
}
.uk-icon-rz-draft-nodes:before {
  content: "\e015";
}
.uk-icon-rz-duplicate:before {
  content: "\e016";
}
.uk-icon-rz-earth:before {
  content: "\e017";
}
.uk-icon-rz-embed:before {
  content: "\e018";
}
.uk-icon-rz-explore:before {
  content: "\e019";
}
.uk-icon-rz-export:before {
  content: "\e01a";
}
.uk-icon-rz-file:before {
  content: "\e01b";
}
.uk-icon-rz-first-page:before {
  content: "\e01c";
}
.uk-icon-rz-flash:before {
  content: "\e01d";
}
.uk-icon-rz-flash-images:before {
  content: "\e01e";
}
.uk-icon-rz-folder-tree:before {
  content: "\e01f";
}
.uk-icon-rz-folder-tree-mini:before {
  content: "\e020";
}
.uk-icon-rz-fontes:before {
  content: "\e021";
}
.uk-icon-rz-fullscreen:before {
  content: "\e022";
}
.uk-icon-rz-fullscreen-off:before {
  content: "\e023";
}
.uk-icon-rz-global-nodes:before {
  content: "\e024";
}
.uk-icon-rz-groups:before {
  content: "\e025";
}
.uk-icon-rz-h1:before {
  content: "\e026";
}
.uk-icon-rz-h2:before {
  content: "\e027";
}
.uk-icon-rz-h3:before {
  content: "\e028";
}
.uk-icon-rz-h4:before {
  content: "\e029";
}
.uk-icon-rz-h5:before {
  content: "\e02a";
}
.uk-icon-rz-h6:before {
  content: "\e02b";
}
.uk-icon-rz-help:before {
  content: "\e02c";
}
.uk-icon-rz-hidden:before {
  content: "\e02d";
}
.uk-icon-rz-hidden-mini:before {
  content: "\e02e";
}
.uk-icon-rz-hidden-o:before {
  content: "\e02f";
}
.uk-icon-rz-home:before {
  content: "\e030";
}
.uk-icon-rz-home-o:before {
  content: "\e031";
}
.uk-icon-rz-home-unpublished:before {
  content: "\e032";
}
.uk-icon-rz-hr:before {
  content: "\e033";
}
.uk-icon-rz-image:before {
  content: "\e034";
}
.uk-icon-rz-import:before {
  content: "\e035";
}
.uk-icon-rz-infos:before {
  content: "\e036";
}
.uk-icon-rz-interactions:before {
  content: "\e037";
}
.uk-icon-rz-italic:before {
  content: "\e038";
}
.uk-icon-rz-last-page:before {
  content: "\e039";
}
.uk-icon-rz-link:before {
  content: "\e03a";
}
.uk-icon-rz-lock:before {
  content: "\e03b";
}
.uk-icon-rz-lock-mini:before {
  content: "\e03c";
}
.uk-icon-rz-log:before {
  content: "\e03d";
}
.uk-icon-rz-manage-nodes:before {
  content: "\e03e";
}
.uk-icon-rz-minus:before {
  content: "\e03f";
}
.uk-icon-rz-minus-simple:before {
  content: "\e040";
}
.uk-icon-rz-newsletters:before {
  content: "\e041";
}
.uk-icon-rz-next-page:before {
  content: "\e042";
}
.uk-icon-rz-node-tree:before {
  content: "\e043";
}
.uk-icon-rz-node-tree-mini:before {
  content: "\e044";
}
.uk-icon-rz-node-type-field:before {
  content: "\e045";
}
.uk-icon-rz-ordered-list:before {
  content: "\e046";
}
.uk-icon-rz-panel-tree-close:before {
  content: "\e047";
}
.uk-icon-rz-panel-tree-open:before {
  content: "\e048";
}
.uk-icon-rz-pdf:before {
  content: "\e049";
}
.uk-icon-rz-pencil:before {
  content: "\e04a";
}
.uk-icon-rz-pending-nodes:before {
  content: "\e04b";
}
.uk-icon-rz-plus:before {
  content: "\e04c";
}
.uk-icon-rz-plus-simple:before {
  content: "\e04d";
}
.uk-icon-rz-prev-page:before {
  content: "\e04e";
}
.uk-icon-rz-published:before {
  content: "\e04f";
}
.uk-icon-rz-published-mini:before {
  content: "\e050";
}
.uk-icon-rz-quote:before {
  content: "\e051";
}
.uk-icon-rz-rank:before {
  content: "\e052";
}
.uk-icon-rz-reorder-down:before {
  content: "\e053";
}
.uk-icon-rz-reorder-up:before {
  content: "\e054";
}
.uk-icon-rz-return:before {
  content: "\e055";
}
.uk-icon-rz-rezozero:before {
  content: "\e056";
}
.uk-icon-rz-roadiz-icon:before {
  content: "\e057";
}
.uk-icon-rz-roles:before {
  content: "\e058";
}
.uk-icon-rz-save:before {
  content: "\e059";
}
.uk-icon-rz-save-mini:before {
  content: "\e05a";
}
.uk-icon-rz-save-mini-o:before {
  content: "\e05b";
}
.uk-icon-rz-save-simple:before {
  content: "\e05c";
}
.uk-icon-rz-save-simple-mini:before {
  content: "\e05d";
}
.uk-icon-rz-save-simple-mini-o:before {
  content: "\e05e";
}
.uk-icon-rz-settings:before {
  content: "\e05f";
}
.uk-icon-rz-settings-dev:before {
  content: "\e060";
}
.uk-icon-rz-settings-general:before {
  content: "\e061";
}
.uk-icon-rz-soundcloud:before {
  content: "\e062";
}
.uk-icon-rz-space-forced:before {
  content: "\e063";
}
.uk-icon-rz-stack:before {
  content: "\e065";
}
.uk-icon-rz-star:before {
  content: "\e066";
}
.uk-icon-rz-stats:before {
  content: "\e067";
}
.uk-icon-rz-statuses:before {
  content: "\e068";
}
.uk-icon-rz-statuses-o:before {
  content: "\e069";
}
.uk-icon-rz-steril:before {
  content: "\e06a";
}
.uk-icon-rz-steril-mini:before {
  content: "\e06b";
}
.uk-icon-rz-strikethrough:before {
  content: "\e06c";
}
.uk-icon-rz-subscribers:before {
  content: "\e06d";
}
.uk-icon-rz-sudo:before {
  content: "\e06e";
}
.uk-icon-rz-supertag:before {
  content: "\e06f";
}
.uk-icon-rz-surveys:before {
  content: "\e070";
}
.uk-icon-rz-tag-tree:before {
  content: "\e071";
}
.uk-icon-rz-tags:before {
  content: "\e072";
}
.uk-icon-rz-themes:before {
  content: "\e073";
}
.uk-icon-rz-translate:before {
  content: "\e074";
}
.uk-icon-rz-trash:before {
  content: "\e075";
}
.uk-icon-rz-trash-mini:before {
  content: "\e076";
}
.uk-icon-rz-trash-mini-o:before {
  content: "\e077";
}
.uk-icon-rz-trash-o:before {
  content: "\e078";
}
.uk-icon-rz-turn-off:before {
  content: "\e079";
}
.uk-icon-rz-unordered-list:before {
  content: "\e07a";
}
.uk-icon-rz-unpublished:before {
  content: "\e07b";
}
.uk-icon-rz-unpublished-mini:before {
  content: "\e07c";
}
.uk-icon-rz-untrash:before {
  content: "\e07d";
}
.uk-icon-rz-upload:before {
  content: "\e07e";
}
.uk-icon-rz-user:before {
  content: "\e07f";
}
.uk-icon-rz-users:before {
  content: "\e080";
}
.uk-icon-rz-vimeo:before {
  content: "\e081";
}
.uk-icon-rz-visibility:before {
  content: "\e082";
}
.uk-icon-rz-visibility-mini:before {
  content: "\e083";
}
.uk-icon-rz-visibility-o:before {
  content: "\e084";
}
.uk-icon-rz-word:before {
  content: "\e085";
}
.uk-icon-rz-xls:before {
  content: "\e086";
}
.uk-icon-rz-youtube:before {
  content: "\e087";
}
.uk-icon-rz-surveys-big:before {
  content: "\e088";
}
.uk-icon-rz-splashbase:before {
  content: "\e064";
}
.uk-icon-rz-map-marker:before {
  content: "\e089";
}
.uk-icon-rz-building:before {
  content: "\e08a";
}
.uk-icon-rz-reset:before {
  content: "\e08b";
}
.uk-icon-rz-custom-form-answers:before {
  content: "\e08c";
}
.uk-icon-rz-custom-form-fields:before {
  content: "\e08d";
}
.uk-icon-rz-twitter-alt:before {
  content: "\e08e";
}
.uk-icon-rz-facebook-alt:before {
  content: "\e08f";
}
.uk-icon-rz-map-multi-marker:before {
  content: "\e090";
}
.uk-icon-rz-marker:before {
  content: "\e091";
}
/*
 * Brands
 */
.uk-icon-rz-youtube:before,
.uk-icon-rz-vimeo:before,
.uk-icon-rz-soundcloud:before,
.uk-icon-rz-spotify:before,
.uk-icon-rz-ted:before,
.uk-icon-rz-twitch:before,
.uk-icon-rz-mixcloud:before {
    font-family: 'FontAwesomeBrands';
    font-size: 0.75em;
    vertical-align: bottom;
}

.uk-icon-rz-youtube:before {
  content: "\f167";
}
.uk-icon-rz-mixcloud:before {
  content: "\f289";
}
.uk-icon-rz-vimeo:before {
    content: "\f27d";
}
.uk-icon-rz-soundcloud:before {
    content: "\f1be";
}
.uk-icon-rz-spotify:before {
    content: "\f1bc";
}
.uk-icon-rz-deezer:before {
    font-family: 'FontAwesome';
    font-size: 0.75em;
    vertical-align: bottom;
    content: "\f001";
}
.uk-icon-rz-ted:before {
    display: none;
}
.uk-icon-rz-twitch:before {
    content: "\f1e8";
}
