#latest-sources {
    text-align: center;

}
.latest-source {
    display: inline-block;
    max-width: 150px;
    vertical-align: top;
    margin: 10px 15px 20px;

    figure {
        position: relative;
        display: block;

        width: 150px;
        height: 150px;

        .no-thumb {
            .rounded(75px);
            width: 150px;
            height: 150px;
            background-color: #CCC;
            display: block;

            .transform-origin(50%,50%);
            .transform-transition(ease 0.3s);
        }

        img {
            display: block;

            &.source-image {
                .rounded(75px);
                .transform-origin(50%,50%);
                .transform-transition(ease 0.3s);
            }
        }
        .user-image {
            .rounded(30px);
            position: absolute;
            bottom: 0;
            right: 0;
            border: 5px solid @grey-verylight;
        }
    }

    .source-title,
    .source-update-date {
        color: @admin-entries-subnav-text-color;
        font-size: 11px;
        text-decoration: none;
        margin: 0px;
        padding: 5px 0px;
    }

    .source-title {
        padding-top: 15px;
        border-bottom: 1px dashed #CCC;
        font-weight: bold;
    }


    & > a:hover {
        text-decoration: none;

        .no-thumb,
        .source-image {
            .transform(~"scale(0.9,0.9)");
        }

        .source-title,
        .source-update-date {
            text-decoration: none;
            color: #333;
        }
    }
}
