.user-panel-button(){
    background: #333333;
    border-color: @user-panel-text-alt-color;
    text-shadow: none;
    display: inline-block;
    .opacity(0.3);
    .transition(~"border-color 0.3s linear, opacity 0.3s linear");

    &:hover {
        .opacity(0.8);
        border-color:@contrast-color;
    }
}

#user-panel {
    background: @user-panel-color;
    color: @user-panel-text-alt-color;

    .transition(width ease 0.5s);


    p, a, li, h1, h2, h3, h4, h5, h6 {
        color: @user-panel-text-alt-color;
    }
    p, li, h1, h2, h3, h4, h5, h6 {
        font-size: 16px;
        line-height: 1.2em;

        .transition(font-size ease 1s);
    }

    #company {
        background-color: @contrast-color;
        height: @global-header-height;
        text-align: center;
        .box-sizing();
        padding: 37px 0;

        a {
            font-size: 72px;
            color: #333333;
            display: inline-block;
            text-decoration: none;
            .opacity(0.95);
            .transition(opacity ease 0.5s);
            -webkit-font-smoothing: subpixel-antialiased;
            padding-left: 8px;

            &:hover {
                .opacity(1);
            }
        }
    }
    #user {
        text-align: center;
        padding: 24px 0 24px 0;

        .username {
            color: @user-panel-text-color;
        }

        .user-actions {
            padding: 10px;
            margin-top: 16px;
            border-top: 1px solid @user-panel-border-color;
            a {
                .user-panel-button();
            }
        }
    }

    #user-picture {
        display: block;
        width: @user-picture-size;
        height: @user-picture-size;
        .rounded(@user-picture-size / 2);
        border: 0 none;
        overflow: hidden;
        margin: 0 auto;

        .transition(~"width 1s ease, height 1s ease, border-radius 1s ease");

        img {
            width: @user-picture-size;
            height: @user-picture-size;
            border: 0 none;
            .rounded(@user-picture-size / 2);
            background-color: #383838;
            .transition(~"background-color 0.5s linear, width 1s ease, height 1s ease, border-radius 1s ease");

            &.uk-thumbnail {
                padding: 0px;
            }
        }


        &:hover img {
            background-color: @contrast-color;
        }
    }
    .dev-mode {
        .opacity(0.75);
        padding: 10px 0px;
        font-size: 12px;

        .transition(font-size 1s ease);

        i {
            display: block;
            margin: 10px;
            font-size: 26px;

            .transition(font-size 1s ease);
        }
    }

    &.minified {

        p, li, h1, h2, h3, h4, h5, h6 {
            font-size: 12px;
        }

        #user {
            padding: 16px 0 16px 0;

            h3 {
                display: none;
            }
        }

        .dev-mode {
            font-size: 10px;
            i {
                font-size: 26px;
            }
        }

        #user-picture {
            width: @user-picture-size-mini;
            height: @user-picture-size-mini;
            .rounded(@user-picture-size-mini / 2);

            img {
                width: @user-picture-size-mini;
                height: @user-picture-size-mini;
                .rounded(@user-picture-size-mini / 2);
            }
        }
    }

    #cms-version {

        position: absolute;
        bottom: 0px;
        text-align: center;
        margin: 0 auto;
        width: @user-panel-width;
        padding: 30px 0;

        a {
            .user-panel-button();
            margin-bottom: 5px;
        }
        p {
            font-size: 11px;
            color: #808080;
            margin: 0.8em;
        }
        i.uk-icon-rezozero {
            font-size: 22px;
        }

    }
}