{% if app.request.hasPreviousSession %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div data-uk-alert
                 class="uk-alert uk-alert-{% if type == "confirm" %}success{% elseif type == "warning" %}warning{% else %}danger{% endif %}">
                <a href="" class="uk-alert-close uk-close"></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
