{% extends 'base.html.twig' %}
{% block content %}

<h1>{% trans %}hello.world{% endtrans %}</h1>
{% if node %}
<p>{{ "node.name.is.%name%"|trans({'%name%':node.nodeSources.first.title }) }}</p>
{% endif %}
{% if translation %}
<p>{{ "translation.is.%name%"|trans({'%name%':translation.getName }) }}</p>
{% endif %}

{% endblock %}
