{% extends '@DefaultTheme/base.html.twig' %}

{% block mainnavigation %}
<nav class="navbar navbar-default" id="nav"></nav>
{% endblock %}

{% block content %}
<section>
    <h1>{% trans %}website.is.under.maintenance{% endtrans %}</h1>
    <p>{% trans %}website.is.under.maintenance.we.will.be.back.soon{% endtrans %}</p>
</section>
{% endblock %}