{% spaceless %}
<nav data-action-menu class="actions-menu uk-navbar rz-vertical-align">
    <a class="uk-button" href="{{ path('documentsHomePage') }}"><i class="uk-icon-reply"></i><span class="label">{% trans %}back_to.documents{% endtrans %}</span></a>
    {# Delete current node #}
    {% if (securityContext.Granted('ROLE_ACCESS_DOCUMENTS_DELETE')) %}
        {% if document.getId %}
        <a class="uk-button uk-button-danger" href="{{ path('documentsDeletePage', { documentId: document.getId}) }}">
            <i class="uk-icon-rz-trash-mini-o"></i><span class="label">{% trans %}delete.document{% endtrans %}</span>
        </a>
        {% endif %}
    {% endif %}
</nav>
{% endspaceless %}
