{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global manage-document">

    <header class="content-header header-document header-document-edit">
        <h1 class="content-title document-edit-title">{{ "edit.document.%name%"|trans({'%name%': document.getFilename}) }}</h1>
        {% include 'documents/navBar.html.twig' with {'document':document, current:'edit'} %}
    </header>

    <article class="content content-document-edit">
    	{% form_theme form 'forms.html.twig' %}
    	<form id="edit-document-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
    	    {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	{% spaceless %}
                <button data-action-save="#edit-document-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <div class="save-icon"><i class="uk-icon-rz-save-mini"></i></div>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
       		</fieldset>
    	</form>
    </article>

	{% include 'documents/actionsMenu.html.twig' %}
</section>
{% endblock %}
