{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-document">
	<h1 id="title">{{ "edit.document.%name%"|trans({'%name%': document.getFilename}) }}</h1>

	<div class="uk-thumbnail uk-thumbnail-large">
		{% if document.isImage %}
		<img  alt="" src="{{ document.getViewer.getDocumentUrlByArray(thumbnailFormat) }}" />
		{% endif %}
	</div>

	{% form_theme form 'forms.html.twig' %}
	<form id="edit-document-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	{% spaceless %}
            <button data-action-save="#edit-document-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                <i class="uk-icon-save"></i>
                <span class="label">{% trans %}save{% endtrans %}</span>
            </button>
            {% endspaceless %}
   		</fieldset>
	</form>

	{% include 'documents/actionsMenu.html.twig' %}
</section>
{% endblock %}
