{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global upload-document">

    <header class="content-header header-document header-document-upload">
        <h1 class="content-title document-upload-title">{% trans %}upload.document{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content"
           href="{{ path('documentsHomePage', {folderId: folder.id}) }}"
           title="{% trans %}back_to.documents{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-upload">
        <div class="content-upload-inner">
            {% form_theme form '@Rozier/forms.html.twig' %}
            <form id="upload-dropzone-document"
                  {% if folder.id %}data-folder-id="{{ folder.id }}"{% endif %}
                  class="uk-form uk-form-stacked dropzone-container"
                  action="#"
                  method="post"
                  enctype="multipart/form-data">
                <div class="fallback">
                    {{ form_widget(form) }}
                    <input class="uk-button uk-button-primary" type="submit" value="{% trans %}upload{% endtrans %}" />
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </article>
</section>
{% endblock %}
