<nav class="node-translation-bar translation-bar uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        {% for translation in available_translations %}
            <li class="node-translation-navigation-item {% if current == translation.id %} uk-active{% endif %}">
                <a class="node-translation-navigation-link uk-navbar-link" href="{{ path('nodesEditAttributesPage', {
                    nodeId: node.id,
                    translationId: translation.id
                }) }}">{{ translation.locale }}</a>
            </li>
        {% endfor %}
        <li class="node-translation-bar-item uk-navbar-item">
            <a href="{{ path('nodesTranslatePage', { nodeId: node.id }) }}"
               title="{% trans %}translate.node{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon uk-icon-rz-plus"></i></a>
        </li>
    </ul>
    {% endapply %}
</nav>
