/*------------------------------------*\
   NODE TYPES
\*------------------------------------*/


/*
 * Styles for node-type pages
 */


/* -------- STYLES -------- */

.uk-table.attributes,
.uk-table.node-types {
    .name {
        position: relative;
        padding-left: 15px;

        .color {
            background-color: attr(data-color);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 5px;

            border-left: 1px solid rgba(0,0,0,0.15);
            .box-sizing();
        }
    }
    .not-reachable .name {
        padding-left: 25px;
        //border-left: 1px dashed #c5c5c5;

        .color {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            top: 50%;
            left: 8px;
            transform: translate(0, -50%);
        }
    }
}
