{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section id="auto-update" class="content-global auto-update" {% if errors %}data-update="false"{% else %}data-update="true"{% endif %}>
    <header class="content-header header-cache header-about-cms">
        <h1 class="content-title about-cms-title">{% trans %}update.roadiz{% endtrans %}</h1>
    </header>
    <article class="content content-delete content-no-action-menu">
        <div class="content-table-cont">
            {% if errors %}
            <ul class="uk-alert uk-alert-danger">
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% else %}

            <div id="update-progress-bar" class="uk-progress uk-progress-striped uk-active">
                <div class="uk-progress-bar" style="width: 0%;">0%</div>
            </div>
            {% endif %}
        </div>
    </article>
</section>
{% if nextStepRoute %}
<script type="text/javascript">
    var nextStep = "{{ nextStepRoute }}";
</script>
{% endif %}
{% endblock %}
