{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-user-roles">
	<h1 id="user-title">Edit {{ user.getDefaultTranslatedTag.getName }} roles</h1>
	
	{% include 'users/navBar.html.twig' with {'user':user, current:'roles'} %}

	<table class="users-roles uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Role{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for role in user.getRolesEntities %}
			<tr>
				<td>{{ role.getName }}</td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}