/* ==========================================================================
   Footer styles
   ========================================================================== */

footer {
    position: relative;
    height: 170px;
    background-color: @footer-color;
}