/*------------------------------------*\
   NODES - EDIT
\*------------------------------------*/


/*
 * Nodes edit page
 */


/* -------- VARS -------- */



/* -------- STYLES -------- */

.node-edit-node-type-cont{
    display:inline-block;
    position: relative;
    width:20px; height:20px;
    line-height:20px;
    top:-2px;
    cursor: pointer;
}

.node-edit-node-type-circle{
    .box-sizing();
    width:20px; height:20px;
    padding:2px;
    .rounded(10px);
    line-height:20px;
    background:#ececec; 

    .uk-icon-rz-infos{
        -webkit-font-smoothing: none;
    }
}
