/*------------------------------------*\
   FORMS
\*------------------------------------*/


/*
 * Override ui kit forms styles
 */


/* -------- STYLES -------- */

.uk-form {

    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="password"],
    input[type="submit"],
    input[type="image"] {
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }

    input:focus,
    textarea:focus,
    isindex:focus,
    keygen:focus,
    select:focus {
        outline: 0px;
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="number"],
    textarea {
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        //width: 100%; // You cannot place this for a wide selector! it will break ui-kit
        color: @grey-form-text;
        padding: 0px 15px;
        //margin-bottom: 20px;
        border: 1px solid @grey-form-border;
        .border-radius(0px);
        .box-sizing();
        .transition(~'0.35s ease border-color, 0.5s ease background');

        &:hover {
            background-color: white;
            border-color: @grey-form-submit-border-hover;
            color: #333;
        }
        &:focus {
            background-color: @grey-verylight;
            border-color: @grey-form-submit-border-hover;
            color: #333;
        }
    }

    .uk-form-icon > [class*=uk-icon-]{
        line-height:15px;
    }

    .rz-select {
        position: relative;
        width: 100%; height:36px;
        font-weight: bold;
        color: @grey-form-text;
        background-color: white;
        border: 1px solid @grey-form-border;
        .border-radius(0px);
        overflow: hidden;

        &:after{
            position: absolute;
            top:0; right:0; bottom:0;
            content: "\f0d7";
            padding:10px 15px;
            font:normal 12px/16px 'FontAwesome';
            pointer-events: none;
        }

        select{
            width: 110%; max-width: 110%;
            height:36px;
            padding:10px 15px;
            background-color: white;
            font-family: @main-font;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance:none;
            appearance:none;

            &:focus, &:active{
                background-color: @grey-verylight;
                outline:none;
            }
        }
    }

    .uk-form-label {
        font-size: 12px;
        line-height: 12px;
        color: @grey-form-label;

        &:before {
            content: "— ";
            color: @grey-form-before;
        }
    }

    legend{
        text-align: center;

        &:after{
            border-bottom:none;
        }
    }

    input.uk-form-width-mini {
        width: 40px;
    }

    // Default Button

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="number"] {
        height: 36px;
    }

    .data-uk-margin {
        margin-bottom: 12px;

        & > div {
            margin-bottom: 20px;

            & > input[type="text"],
            & > input[type="password"],
            & > input[type="search"],
            & > input[type="email"],
            & > textarea {

                width: 100%;
            }
        }
    }

    .uk-margin-small-top {
        margin-top: 10px !important;
    }


    &.uk-form-horizontal {
        .uk-form-row {
            display: inline-block;
        }
    }
    &.uk-form-stacked .uk-form-label {
        margin-bottom: 7px;
    }
}