/*------------------------------------*\
   MARKDOWN
\*------------------------------------*/

/* -------- VARS -------- */

@navbar-liHW: 30px;
@markdown-contentH: 200px;

/* -------- STYLES -------- */

.uk-htmleditor {

    &.content-limit{

        .uk-htmleditor-content{
            border-color:@alert-color;

            &:hover, &:focus, &:active{
                border-color: @alert-color;
            }
        }

        .uk-htmleditor-count{
            color:@alert-color;
        }        
    }

    &-navbar {
        position: relative;
        background: none;
        margin-top: 8px;
        margin-bottom: 20px;

        &-nav>li {
            width: @navbar-liHW;
            height: @navbar-liHW;
            .box-sizing();

            &>a {
                position: relative;
                display: block;
                text-decoration: none;
                width: 100%;
                height: 100%;
                padding: 0;
                text-align: left;
                padding: 0 0 0 7px;
                font-size: 11px;
                line-height: @navbar-liHW;
                color: #666;
                border: 1px solid @grey-form-border;
                background-color: #F2F2F2;
                border-left: 0 none;
                .box-sizing();
                .transition(~'border-color ease 0.2s, background-color ease 0.2s');

                &.uk-htmleditor-button-bold, &.uk-htmleditor-button-back, &.uk-htmleditor-button-blockquote, &.uk-htmleditor-button-link-fullscreen{
                    border-left: 1px solid @grey-form-border;
                }

                &:before {
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    content: "";
                    width: 1px;
                    height: @navbar-liHW;
                    background-color: @grey-form-submit-border-hover;
                    .opacity(0);
                    .transition(opacity ease 0.2s);
                }

                &:hover {
                    border-color: @grey-form-submit-border-hover;
                    background-color: @grey-form-submit-hover;
                    &:before {
                        .opacity(1);
                    }
                }
            }

            &:first-child {
                a {
                    border-left: 1px solid @grey-form-border;
                }
            }

            &.uk-htmleditor-button-code, &.uk-htmleditor-button-preview, &.uk-htmleditor-button-fullscreen {
                // width: auto;
                position: absolute;
                right:35px;

                &>a {
                    .rounded(30px);
                    border:1px solid @grey-form-border;
                    padding-left: 6px;

                    &:before{
                        display: none;
                    }

                    &:hover{
                        border-color: @grey-form-submit-border-hover;
                    }
                }

                &.uk-htmleditor-button-code{
                    display: none;
                    .opacity(0);

                    &>a {
                        background: #666;
                        color: #F2F2F2;
                        border-color: #F2F2F2;
                    }

                }

                &.uk-htmleditor-button-fullscreen{
                    right:0px;
                }
            }


            &.uk-active a{
                background-color: @grey-form-submit;
            }
        }
        &-flip {
            float: left;
            margin-left: 10px;
        }
    }
    &-toolbar {
        i {
            font-size: 16px;
            line-height: @navbar-liHW;
            font-family: 'rz-icons';
        }
    }
    &-content {
        border: 1px solid @grey-form-border;
        background: #fff;
        .transition(~'0.35s ease border-color, 0.5s ease background');
        cursor: text;

        &:hover {
            background-color: white;
            border-color: @grey-form-submit-border-hover;
            color: #333;
        }
        &:focus, &:active {
            background-color: @grey-verylight;
            border-color: @grey-form-submit-border-hover;
            color: #333;
        }
    }
    &-preview {
        padding: 10px 20px;
        font-size: 12px;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: 0.5px;

        h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin: 5px 0;
            color: #0F0F0F;
        }
        p {
            margin: 5px 0;
            color: #666666;
        }
    }
    &-code {
        .CodeMirror {
            font-family: 'RezoZero Mono', monospace;
            font-size: 12px;
            -webkit-font-smoothing: antialiased;
            line-height: 18px;
            color: #666666;
            letter-spacing: 0.5px;
            padding: 10px 14px;

            &.cm-s-default .cm-header {
                color: #0F0F0F;
            }
        }
    }
}


// Separate buttons
.uk-htmleditor-button-cont-bold, .uk-htmleditor-button-cont-back, .uk-htmleditor-button-cont-blockquote{
    margin-left:10px;
}

// Count
.uk-htmleditor-count{
    position: absolute;
    right: 87px; bottom: -4px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: right;
    display: none;
    // .opacity(0);
}


// Fullscreen
.uk-htmleditor-fullscreen{
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    background: rgba(230, 230, 230, 0.95);

    .uk-htmleditor-content{
        top: 60px; right: 0; bottom: 0; left: 0;
        border: none;
    }

    .CodeMirror {
        font-size: 14px; line-height:22px;
        padding:25px 60px 30px 30px;
        letter-spacing: 0px;
    }
    .uk-htmleditor-preview {
        font-size: 14px; line-height:22px;
        padding:25px 60px 30px 40px;
        letter-spacing: 0.5px;
    }

    .uk-htmleditor-navbar{
        margin:14px 20px;

        .uk-htmleditor-navbar-nav>li{

            &.uk-htmleditor-button-fullscreen{

                &>a {
                    background: #666;
                    color: #F2F2F2;
                    border-color: #F2F2F2;
                }
            }
        }
    }
}