{% extends '@Rozier/layout.html.twig' %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        <header class="content-header header-node header-nodes-list">
            {% if nodeType %}
                <h1 class="content-title">{% trans %}search{% endtrans %} - {{ nodeType.displayName }}</h1>
            {% else %}
                <h1 class="content-title">{% trans %}search{% endtrans %}</h1>
            {% endif %}
            {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        </header>

        <article class="content content-no-action-menu">
            {% if nodeTypeForm %}
                {% form_theme nodeTypeForm '@Rozier/forms.html.twig' %}
                <form class="uk-form uk-form-stacked"
                      id="search-node-type-form"
                      action="#"
                      method="get">
                    {{ form_widget(nodeTypeForm) }}
                    <div class="data-uk-margin">
                        <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-filter"></i> {% trans %}select.nodetype{% endtrans %}</button>
                    </div>
                </form>
            {% endif %}

            {% if form %}
                {% form_theme form '@Rozier/forms.html.twig' %}
                <form class="uk-form uk-form-stacked"
                      id="search-node-form"
                      action="#"
                      method="get">
                    {{ form_widget(form) }}
                </form>
            {% endif %}

            {% if filters.itemCount > filters.itemPerPage %}
                {% include '@Rozier/widgets/filtersBar.html.twig' %}
            {% else %}
                <hr>
            {% endif %}
            <div class="data-uk-margin content-table-cont">
                <table class="nodes content-table uk-table">
                    <thead>
                        {% include 'nodes/widgets/node-header.html.twig' %}
                    </thead>
                    <tbody>
                    {% for node in nodes %}
                        {% include 'nodes/widgets/node-row.html.twig' with {
                            'node': node
                        } only %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if filters.itemCount > filters.itemPerPage %}
                {% include '@Rozier/widgets/filtersBar.html.twig' %}
            {% endif %}
        </article>
    </section>
{% endblock %}
