{% spaceless %}
    {% set attributes = {
    'alt': alt|url_encode,
    'type': "application/pdf",
    'data': url,
    } %}
    {% if width %}
        {% set attributes = attributes|merge({
        'width': width,
        }) %}
    {% endif %}
    {% if height %}
        {% set attributes = attributes|merge({
        'height': height,
        }) %}
    {% endif %}
    {% if class %}
        {% set attributes = attributes|merge({
        'class': class,
        }) %}
    {% endif %}
    {% if identifier %}
        {% set attributes = attributes|merge({
        'id': identifier,
        }) %}
    {% endif %}
    {% set attributesCompiled = {} %}
    {% for key, value in attributes %}
        {% if value is same as(true)  %}
            {% set attributesCompiled = attributesCompiled|merge([key]) %}
        {% else %}
            {% set attributesCompiled = attributesCompiled|merge([key ~ '="' ~ value ~ '"']) %}
        {% endif %}
    {% endfor %}
<object {{ attributesCompiled|join(' ')|raw }}>
    <p>Your browser does not support PDF native viewer.</p>
</object>
{% endspaceless %}
