/*------------------------------------*\
   DROPDOWN
\*------------------------------------*/

/*
 * Override ui kit dropdown
 */

/* -------- VARS -------- */
@contextualdropdown-p-height: 30px;
@contextualdropdown-bg: #F4F4F4;
@contextualdropdown-border-color: #CCCCCC;
@contextualdropdown-p-color: #666666;
@contextualdropdown-p-color-hover: #333333;
@contextualdropdown-p-bg-color: #EBEBEB;
@contextualdropdown-p-bg-color-hover: #DADADA;


/* -------- STYLES -------- */

.uk-dropdown {
    //width: 220px;
    margin-top: 5px;
    padding: 10px;
    font-size: 13px;
    .box-sizing();
    .rounded(0px);
    box-shadow: 1px 1px 2px rgba(0,0,0,.05);
}

.uk-dropdown-small {
    width: auto;
    padding:0 5px;
    white-space: nowrap;
    font-size: 13px;
}

.uk-dropdown-flip {
    left: auto;
    right: 0;
}

.uk-nav-dropdown{
    border-color:#adadad;
    li{
        border-top: 1px solid #CCC;
        &:first-child{
            border-top: 0 none;
        }
        a{
            background: #e5e5e5;
            font-size: 12px;
            min-width: 150px;

            &:active, &:focus{
                color:#333;
                background: darken(#cecece, 10%);
            }

            &:hover{
                color:#333;
                background: #cecece;
                box-shadow: none;
                text-shadow:none;
            }
        }
    }
}

.nodetree-contextualmenu,
.tagtree-contextualmenu,
.foldertree-contextualmenu {

    //Fix size contextual menu for tree panel
    .uk-dropdown-small{
        width: 220px;
    }

    .uk-dropdown,
    .uk-dropdown-small {
        margin-top: 3px;
        padding: 0 0 0 26px;
        background-color: @contextualdropdown-bg;
        z-index: 1040; // quick add button is 1030

        .uk-nav {
            margin: 0;

            p {
                margin: 0;
                padding: 0 15px 0 20px;
                font-size: 12px;
                height: @contextualdropdown-p-height;

                i {
                    float: right;
                    line-height: @contextualdropdown-p-height;
                    font-size: 16px;
                }
            }
            .add-child {
                height: 40px;
                line-height: 40px;
                background-color: white;
                border-bottom: 1px dashed @contextualdropdown-border-color;
                padding-left: 16px;
                padding-right: 11px;
                font-weight: bold;
                .transition(~'background ease 0.2s, color ease 0.2s');

                i {
                    line-height: 40px;
                }
                &:hover {
                    background-color: @contextualdropdown-p-bg-color;
                }
            }
            .uk-nav-header {
                font-size: 11px;
            }
            .wrapper {
                padding: 0 0 0 15px;

                p {
                    background-color: @contextualdropdown-p-bg-color;
                    line-height: @contextualdropdown-p-height + 2;
                    border-bottom: 1px solid @contextualdropdown-border-color;
                    padding: 0 13px;
                    color: @contextualdropdown-p-color;
                    .transition(~'background ease 0.2s, color ease 0.2s');

                    &+p {
                        border-top: 1px solid rgba(255, 255, 255, 0.8);
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        color: @contextualdropdown-p-color;
                    }
                    &:hover {
                        background-color: @contextualdropdown-p-bg-color-hover;
                        a {
                            color: @contextualdropdown-p-color-hover;
                        }
                    }
                }
                .uk-nav-header {
                    font-size: 11px;
                    line-height: 14px;
                    margin: 0px;
                    padding: 7px 0 3px;
                    text-transform: capitalize;
                    color: @contextualdropdown-p-color-hover;
                }
                &+.wrapper{
                    border-top: 1px dashed @contextualdropdown-border-color;
                }
            }
         }
    }
    .vertical-nodetype {
        position: absolute;
        background-color: @contrast-color;
        width: 26px;
        top: 0;
        bottom: 0;
        left: 0;
        text-align: center;

        .text {
            .transform-origin(left, bottom);
            .rotation(-90deg);
            position: absolute;
            bottom: 0;
            left: 22px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
        }

        i {
            color: rgba(255,255,255,0.75);
            margin: 10px 5px;
            display: block;
            width: 16px;
            font-size: 16px;
        }
    }
}
