{% extends '@DefaultTheme/pages/base.html.twig' %}
{% block inner_content %}
    <h1 class="page-title">{% trans %}contact.us{% endtrans %}</h1>
    <div class="page-text">
        {#
         # Display contact errors
         #}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{% if type == "confirm" %}success{% elseif type == "warning" %}warning{% else %}danger{% endif %}">
                        <p>{{- message -}}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {#
         # Display contact form
         #}
        {% form_theme contactForm '@DefaultTheme/forms.html.twig' %}
        {{ form(contactForm) }}
    </div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
