{% extends '@DefaultTheme/pages/base.html.twig' %}

{% block body_attributes %}class="maintenance" id="maintenance" data-node-type="maintenance"{% endblock %}

{% block mainnavigation %}
    <nav id="nav"></nav>
{% endblock %}
