{% extends '@DefaultTheme/pages/base.html.twig' %}

{% block inner_content %}
    <h1 class="page-title">{% trans %}contact.us{% endtrans %}</h1>
    <div class="page-text">
        <p>{% trans %}email.successfully.sent{% endtrans %}</p>
    </div>
{% endblock %}
