{% set tabCount = 0 %}

{% if is_granted('ROLE_ACCESS_NODES')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_TAGS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

<div>
    <div id="search-button" class="mobile-button"><i class="uk-icon-search"></i></div>
    {% include '@Rozier/widgets/nodesSourcesSearch.html.twig' %}
    <div id="tree-button" class="mobile-button"><i class="uk-icon-rz-node-tree"></i></div>
    <div id="tree-wrapper">
        {# Only display tabs if there are more than 1 available tree #}
        {% if tabCount > 1 %}
        <ul id="tree-menu" class="uk-tab">
            {% if is_granted('ROLE_ACCESS_NODES')%}
            <li id="tree-menu-tab-nodes" data-index="0" class="tabs"><a class="tab-link" href="#"><i class="uk-icon-rz-node-tree"></i><span class="label">{% trans %}nodes{% endtrans %}</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_TAGS')%}
            <li id="tree-menu-tab-tags" data-index="1" class="tabs"><a class="tab-link" href="#"><i class="uk-icon-rz-tag-tree"></i><span class="label">{% trans %}tags{% endtrans %}</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
            <li id="tree-menu-tab-folders" data-index="2" class="tabs"><a class="tab-link" href="#"><i class="uk-icon-rz-folder-tree"></i><span class="label">{% trans %}folders{% endtrans %}</span></a></li>
            {% endif %}
        </ul>
        {% endif %}
        {# This is the container of the content items #}
        <ul id="tree-container" class="uk-switcher uk-margin">
            {% if is_granted('ROLE_ACCESS_NODES')%}
                <li>
                    <nav class="tree-widget nodetree-widget">
                        <div class="root-tree">
                            <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                        </div>
                    </nav>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_TAGS')%}
                <li>
                    <nav id="tagtree-widget" class="tree-widget tagtree-widget">
                        <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                    </nav>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
                <li>
                    <nav id="foldertree-widget" class="tree-widget foldertree-widget">
                        <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                    </nav>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
