{% set tabCount = 0 %}

{% if is_granted('ROLE_ACCESS_NODES')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_TAGS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

<div>
    <div id="search-button" class="mobile-button"><i class="uk-icon-search"></i></div>
    {% include '@Rozier/widgets/nodesSourcesSearch.html.twig' %}
    <div id="tree-button" class="mobile-button"><i class="uk-icon-rz-node-tree"></i></div>
    <div id="tree-wrapper">
        {# Only display tabs if there are more than 1 available tree #}
        {% if tabCount > 1 %}
        <ul id="tree-menu" class="uk-tab" data-uk-tab="{connect:'#tree-container', swiping: false}">
            {% if is_granted('ROLE_ACCESS_NODES')%}
            <li class="tabs uk-active"><a class="tab-link" href="#"><i class="uk-icon-rz-node-tree"></i><span class="label">{% trans %}nodes{% endtrans %}</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_TAGS')%}
            <li class="tabs"><a class="tab-link" href="#"><i class="uk-icon-rz-tag-tree"></i><span class="label">{% trans %}tags{% endtrans %}</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
            <li class="tabs"><a class="tab-link" href="#"><i class="uk-icon-rz-folder-tree"></i><span class="label">{% trans %}folders{% endtrans %}</span></a></li>
            {% endif %}
        </ul>
        {% endif %}
        <!-- This is the container of the content items -->
        <ul id="tree-container" class="uk-switcher uk-margin">
            {% if is_granted('ROLE_ACCESS_NODES')%}
            {% if session.user and session.user.chroot.hidingChildren %}
                <li class="uk-active">
                {% include '@Rozier/widgets/nodeTree/nodeStackTree.html.twig' with {
                    "node":themeServices.nodeTree.getRootNode,
                    'mainNodeTree':true,
                    "nodeStatuses":nodeStatuses,
                    "request":request,
                } only %}
                </li>
            {% else %}
                <li class="uk-active">
                {% include '@Rozier/widgets/nodeTree/nodeTree.html.twig' with {
                    "nodeTree":themeServices.nodeTree,
                    "node":themeServices.nodeTree.getRootNode,
                    'mainNodeTree':true,
                    "nodeStatuses":nodeStatuses,
                    "request":request,
                } only %}
                </li>
            {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ACCESS_TAGS')%}
                <li class="">
                {% include '@Rozier/widgets/tagTree/tagTree.html.twig' with {
                    "tagTree":themeServices.tagTree,
                    "tag":themeServices.tagTree.getRootTag,
                    'mainTagTree':true,
                    "nodeStatuses":nodeStatuses
                } only %}
                </li>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
                <li class="">
                {% include '@Rozier/widgets/folderTree/folderTree.html.twig' with {
                    "folderTree":themeServices.folderTree,
                    "folder":themeServices.folderTree.getRootFolder,
                    'mainFolderTree':true
                } only %}
                </li>
            {% endif %}
        </ul>
    </div>
</div>
