{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-translation">
	<h1 id="translation-title">{% trans %}Add a new translation{% endtrans %}</h1>
	<nav><a class="uk-button uk-button-small" href="{{ path('translationsHomePage') }}"><i class="uk-icon-reply"></i> {% trans %}Back to translations{% endtrans %}</a></nav>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}