{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global edit-translation">

    <header class="content-header header-translation header-translation-list">
        <h1 class="content-title translation-add-title">{{ "delete.translation.%name%"|trans({'%name%': translation.getName })|u.truncate(25, '[…]', true) }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.translation.and.node.data{% endtrans %}</legend>
                <a href="{{ path('translationsHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}
