{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-translation">
	<h1 id="translation-title">{{ "delete.translation.%name%"|trans({'%name%': translation.getName }) }}</h1>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}are_you_sure.delete.translation.and.node.data{% endtrans %}</legend>
	    	<a href="{{ path('translationsHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
