{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global edit-translation">

    <header class="content-header header-translation header-translation-list">
        <h1 class="content-title translation-add-title">{{ "edit.translation.%name%"|trans({'%name%': translation.getName }) }}</h1>
    </header>

    <article class="content content-edit-translation">
    	{% form_theme form 'forms.html.twig' %}
        <form id="edit-translation-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	{% spaceless %}
                <button data-action-save="#edit-translation-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
       		</fieldset>
    	</form>
    </article>
    {% include 'translations/actionsMenu.html.twig' %}
</section>
{% endblock %}
