---
appNamespace: "chooseAnUniqueNameForYourAppSQLite"
install: true
devMode: true
timezone: "Europe/Paris"
doctrine:
    driver: "pdo_sqlite"
    user: "root"
    password: ""
    path: "conf/travis.db"
security:
    secret: "change#this#secret#very#important"
cacheDriver:
    type: null
    host: null
    port: null
mailer:
    type: ""
    host: "localhost"
    port: 25
    encryption: false
    username: ""
    password: ""
entities:
    - "src/Roadiz/Core/Entities"
    - "src/Roadiz/Core/AbstractEntities"
    - "gen-src/GeneratedNodeSources"
# Lifetime of remember-me cookie in seconds (30 days)
rememberMeLifetime: 2592000
