---
appNamespace: "chooseAnUniqueNameForYourApp"
timezone: "Europe/Paris"
doctrine:
    driver: "pdo_mysql"
    host: "localhost"
    user: ""
    password: ""
    dbname: ""
    charset: utf8mb4
    default_table_options:
        charset: utf8mb4
        collate: utf8mb4_unicode_ci
# http://symfony.com/doc/current/reference/configuration/doctrine.html#caching-drivers
# If null or empty, Roadiz will try to detect best cache driver available
cacheDriver:
    type: ~
    host: ~
    port: ~
security:
    secret: "change#this#secret#very#important"
    session_name: roadiz_token
    # Switch session cookie secure to TRUE ONLY if your
    # website is served with HTTPS only
    session_secure: false
mailer:
    type: ~
    host: "localhost"
    port: 25
    encryption: ~
    username: ""
    password: ""
# Doctrine entities search paths
# Append yours here if you want to create custom
# entities in your theme.
entities:
    - "src/Roadiz/Core/Entities"
    - "vendor/roadiz/models/src/Roadiz/Core/AbstractEntities"
    - "gen-src/GeneratedNodeSources"
# Lifetime of remember-me cookie in seconds (30 days)
rememberMeLifetime: 2592000
additionalServiceProviders: []
additionalCommands:
    - \Themes\DefaultTheme\Commands\DefaultThemeCommand
# Image intervention and Intervention Request
# settings for generating image on the fly
assetsProcessing:
    # gd or imagick (gd does not support TIFF and PSD formats)
    driver: gd
    defaultQuality: 90
    # pixel size limit () after roadiz
    # should create a smaller copy.
    maxPixelSize: 1920
    jpegoptimPath: ~
    pngquantPath: ~
#solr:
#    endpoint:
#        localhost:
#            host: "localhost"
#            port: "8983"
#            path: "/solr"
#            core: "mycore"
#            timeout: 3
#            username: ""
#            password: ""
