<nav class="folder-navbar-navigation navbar-navigation uk-navbar has-translations">
    <ul class="uk-navbar-nav">
        <li class="{% if current == 'edit' %}uk-active{% endif %}" >
            <a href="{{ path('foldersEditPage', { folderId: folder.id }) }}">{% trans %}folder.settings{% endtrans %}</a>
        </li>
        <li class="{% if current == 'edit-label' %}uk-active{% endif %}">
            <a href="{{ path('foldersEditTranslationPage', { folderId: folder.id, translationId:translation.id }) }}">{% trans %}folder.labels{% endtrans %}</a>
        </li>
        <li class="{% if current == 'list' %}uk-active{% endif %}" >
            <a href="{{ path('documentsHomePage', { folderId: folder.id }) }}">{% trans %}documents{% endtrans %}</a>
        </li>
    </ul>
</nav>
