<nav class="folder-translation-bar translation-bar uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        {% for translation in available_translations %}
            {% set liClasses = [] %}
            {% if current == translation.id %}
                {% set liClasses = liClasses|merge(['uk-active']) %}
            {% endif %}
            {% if translation not in translations %}
                {% set liClasses = liClasses|merge(['unavailable']) %}
            {% endif %}
            <li {% if liClasses|length %}class="{{ liClasses|join(' ') }}"{% endif %}>
                <a href="{{ path('foldersEditTranslationPage', { folderId: folder.id, translationId:translation.id }) }}">{{ translation.locale }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endapply %}
</nav>
