<article class="col-md-4 basic-block" data-index="{{ loop.index }}">
    <h3 class="block-title">{{ loop.index }}. {{ nodeSource.title }}</h3>
    <div class="block-content">{{ nodeSource.content|markdown }}</div>
</article>
