/*------------------------------------*\
   CUSTOM FORMS FRONT
\*------------------------------------*/

#custom-form-front {
    font-family: @main-font;

    em {
        color: #555555;
    }

    .content {
        max-width: 720px;
        margin: 2em auto;
        padding: 0 1em 5em;

        & > * {
            padding: initial;
        }
    }

    .content-title,
    .content-desc {
        max-width: 720px;
    }

    .content-title {
        padding: 0;
        margin: 0;
    }

    .content-header {
        text-align: center;
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        min-height: 220px;
        height: auto;
        padding: 30px 60px;
    }

    .required-mention {
        font-size: 11px;
    }

    .content-desc {
        color: #555555;
    }

    textarea {
        min-height: 120px;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        font-weight: normal;
    }

    .uk-form legend,
    .uk-form-row > label,
    .uk-form-label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
        padding: 0;
    }

    div[data-group-wrapper] {
        &:before {
            content: '';
            display: block;
            height: 1px;
            background-color: rgba(0,0,0,0.1);
            margin-bottom: 10px;
        }
    }

    .uk-form-description {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;

        p {
            margin:5px 0;
            color: #555555;
        }
    }

    .custom-form-group {
        border-left: 1px solid #e8e7e7;
        padding-left: 1.5em;

        .uk-form-label {
            font-size: 14px;
        }
    }

    .form-col-choice {
        div {
            .uk-form-label {
                font-size: 12px;

                &:before {
                    content: '';
                }
            }
        }
    }
}
