/*------------------------------------*\
   NODES - EDIT
\*------------------------------------*/


/*
 * Nodes edit page
 */

/* -------- STYLES -------- */

.node-edit-node-type-circle{
    display:inline-block;
    position: relative;
    .box-sizing();
    width:24px;
    height:24px;
    .rounded(20px);
    line-height:20px;
    background-color:#E0E0E0;
    .transition(background-color ease 0.35s);
    cursor: pointer;
    color: @black-title;

    .uk-icon-rz-infos{
        -webkit-font-smoothing: none;
        line-height: 24px;
    }
    &:hover {
        background-color: darken(#E0E0E0, 10%);
        color: @black-title;
    }
}

#node-source-form-switcher-nav-cont {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;

    #source + & {
        margin-top: 20px;
    }


    &:before {
        position: absolute;
        content: "";
        width: 100%;
        border-bottom: 1px solid #cbcbcb;
        left: 0;
        top: 13px;
    }
}

.content-node-edit-source {
    opacity: 0;
    transition: opacity linear 0.3s;

    &.content-tabs-ready {
        opacity: 1;
    }

    .no-js & {
        opacity: 1;
    }
}

#node-source-form-switcher-nav {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    position: relative;

    .switcher-nav-item {
        margin: 0px;
        padding-left: 0px;

        a {
            border-radius: 0px;
            background-color: #e5e5e5;
            border: 1px solid #bfbfbf;
            border-left: 0 none;
            font-size: 12px;
            line-height: 25px;
            padding: 1px 13px 0px;

            &:hover {
                outline: 0;
                box-shadow: none;

                background-color: #999999;
                border-color: #999999;
                color: white;
            }
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        &:first-child {
            margin-left: 50px;
            a {
                border-radius: 5px 0 0 5px;
                border-left: 1px solid #bfbfbf;
            }
        }
        &:last-child {
            a {
                border-radius: 0 5px 5px 0;
            }
        }
        &.uk-active {
            & > a {
                background-color: #666666;
                border-color: #666666;
                box-shadow: none;
            }
        }
    }
}
