/*------------------------------------*\
   NODES - GLOBAL
\*------------------------------------*/


/*
 * Nodes pages
 */


/* -------- VARS -------- */

@translation-nav-color:         #aaaaaa;
@translation-nav-hover-color:   @grey-medium;
@translation-nav-active-color:  #686868;


/* -------- STYLES -------- */

.node-navbar-navigation{

    .uk-navbar-nav{
        float: none;
    }

    .uk-navbar-link{
        padding:0 6px;
    }
}

.nodes-list-item {

    &-color-cont{
        position:relative;
        width:4px;
    }

    &-link{
        position: relative;
    }

    &-color{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        width:4px;

        & + a {
            padding-left: 4px;
        }
    }
}

.nodes-bulk-actions {
    display: none;
    &.visible {
        display: block;
    }

    form {
        display: inline-block;
    }
}

.node-bulk-status-form,
.node-bulk-tag-form {
    display: inline-block;

    div,
    .data-uk-margin {
        display: inline-block;
    }
}

.nodes-list{
    margin:0;
    list-style-type:none;

    .node-item{
        position: relative;
        display: inline-block;
        //width:128px; height:128px;
        margin:0 16px 39px 0;
        background:white;
        //overflow: hidden;

        &:hover{

            .node-border{
                background: #eaeaea;
            }

            .node-links{
                bottom:0px;
            }
        }
    }

    .node-overflow{
        position: absolute;
        top: 0; left: 0;
        width:128px; height:128px;
        overflow: hidden;
    }

    // .node-border{
    //     position: absolute;
    //     top:0; right:0; left:0;
    //     height:4px;
    //     background-color:#eaeaea;
    //     .transition(0.5s background-color @easeOutExpo);
    //     z-index:3;
    // }

    .node-image{
        width:128px; height:128px;
    }

    .node-name{
        color: #909090;
        font-size: 14px;
        //.text-ellipsis();
        margin-top: 2px;
        padding: 5px 12px;
    }

    .node-links{
        position:absolute;
        width:128px; height:30px;
        bottom:0;
        bottom:-30px;
        overflow: hidden;
        .transition(0.4s bottom @easeOutExpo);
        .box-sizing();

        .node-link{ // a
            display: inline-block;
            width:64px; height:30px;
            color:#333;
            border:none;
            .rounded(0);
            .box-sizing();

            &:hover{
                color:darken(#333, 10%);
            }

            &:last-child{
                background: #BBB;

                &:hover{
                    background: darken(#BBB, 10%);
                }
            }

            i{
                margin:0;
                line-height:30px;
                vertical-align: top;
            }

            .label{
                display: none;
            }
        }
    }
}

// Tree
.tag-checkbox,
.node-checkbox{
    position: absolute;
    top: 10px; right: 0px;
    display: none;
    width: 14px; height: 14px;
    line-height:12px;
    border: 1px solid #aaa;
    overflow: hidden;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: #fff;

    &:focus{
        border-color: @grey-form-submit-border-hover;
    }

    &:checked {
        display: inline-block;

        &:before{
            content: "\f00c";
            font-family: 'FontAwesome';
            font-size: 12px;
            -webkit-font-smoothing: antialiased;
            text-align: center;
            line-height: 12px;
            color: darken(@contrast-color, 10%);
        }
    }
}

// Bulk delete
.content-change-status,
.content-delete {

    .node-item{
        position: relative;
        padding-left:4px;
    }

    .node-item-color{
        position: absolute;
        top:0; bottom:0; left:0;
        width:4px;
    }

    .uk-form .form-col-choice {
        max-width: none;
    }
}
