<div id="nodes-sources-search">
    <form action="{{ path('searchNodesSourcesAjax') }}" method="POST" class="uk-form">

        <div class="uk-form-icon">
            <i class="uk-icon-search"></i>
            <input id="nodes-sources-search-input" type="search"
                        name="searchTerms"
                        value=""
                        placeholder="{% trans %}search.node{% endtrans %}"/>

        </div>
    </form>
    <ul id="nodes-sources-search-results"></ul>
</div>