<nodes-search-container inline-template>
    {{isActive}}
    <div id="nodes-sources-search" v-bind:class="{ 'focus-on': isFocus }">
        <form id="nodes-sources-search-form"
              v-on:submit.prevent action="{{ path('searchNodesSourcesAjax') }}"
              method="GET"
              class="uk-form">
            <div class="uk-form-icon">
                <i class="uk-icon-search"></i>
                <input id="nodes-sources-search-input"
                       type="search"
                       name="searchTerms"
                       value=""
                       ref="searchTermsInput"
                       autocomplete="off"
                       v-model="searchTerms"
                       @focus="enableFocus"
                       @blur="disableFocus"
                       placeholder="{% trans %}search.node{% endtrans %}"/>

            </div>
        </form>

        <transition name="fade">
            <ul id="nodes-sources-search-results" v-if="isFocus" v-cloak>
                <li v-for="item in items">
                    <ajax-link class="nodes-sources-search-results-item" :href="item.url" :title="item.title" :type-color="item.typeColor">
                        <span class="image-container">
                            <picture v-if="item.thumbnail">
                                <source v-if="!item.thumbnail.endsWith('svg') && !item.thumbnail.endsWith('webp')"
                                        :srcset="item.thumbnail + '.webp'"
                                        type="image/webp">
                                <img width="60" height="60" loading="lazy" :src="item.thumbnail">
                            </picture>
                        </span>
                        <span class="texts">
                            <span class="texts-header">
                                <span class="parent">${item.parent}</span>
                                <span class="type">${item.typeName}</span>
                            </span>
                            <span class="title">${item.title}</span>
                        </span>
                    </ajax-link>
                </li>
            </ul>
        </transition>
    </div>
</nodes-search-container>
