{% block content %}
<section class="content-global">

    <header class="content-header header-node-types header-node-types-add">
        <h1 class="content-title">{% trans %}add.customForm.answer{% endtrans %}</h1>
    </header>

    <article class="content">
        <form id="add-node-type-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <fieldset data-uk-margin>
                {% spaceless %}
                <button data-action-save="#add-node-type-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-plus"></i></span>
                    <span class="label"><span class="label-text">{% trans %}add.customForm.answer{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}