#tree-container {

    .uk-nestable-item {
        background: 0 none;

        a {
            color: #3a3a3a;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: black;
            }
        }
    }
}