/*------------------------------------*\
   CUSTOM FORMS FRONT
\*------------------------------------*/


/*
 * Entry point for custom form front styles
 */


/* -------- VARS -------- */

@import "vars.less";


/* -------- VENDORS -------- */

@import "vendor/jquery-ui.less";
@import "vendor/dropzone.less";


/* -------- BASE -------- */

@import "base/elements.less";
@import "base/normalize.less";
@import "base/boilerplate.less";
@import "base/easing.less";


/* -------- DROPZONE -------- */

@import "dropzone/dropzone.less";

/* -------- BUTTONS -------- */

@import "buttons/buttons.less";
@import "dropdown/dropdown.less";


/* -------- FORMS -------- */

@import "forms/forms.less";


#custom-form-front{

    #main-content{
        width:960px;
        margin:10px auto;
    }

    textarea{
        font-weight: normal;
        min-height:120px;
    }

    .uk-form-description{
        font-size:12px;

        p{
            margin:3px 0;
        }
    }

}