/*
 * REZO ZERO color
 */
@contrast-color:#00deab;
@contrast-color-darker: #32cd9b;

@main-font: 'RezoZero', Helvetica, sans-serif;
/*
 * Admin headers
 */
@global-header-height: 150px;


/*
 * Panel sizes
 */
@user-panel-width: 128px;
@entries-panel-width: 88px;
@trees-panel-width: 271px;