/*
 * REZO ZERO global color
 */
@contrast-color:#00deab;
@contrast-color-darker: #32cd9b;
@contrast-color-50-rgba: rgba(0, 222, 171, 0.5);

@grey-interface:#4C4C4C;
@grey-medium:#808080;
@grey-verylight: #F8F8F8;
@grey-form-border:#CBCBCB;
@grey-form-before:#BBBBBB;
@grey-form-label:#555555;
@grey-form-text:#666666;
@grey-form-submit:#E5E5E5;
@grey-form-submit-hover:#CECECE;
@grey-form-submit-border:#ADADAD;
@grey-form-submit-border-hover:#888888;
@grey-form-submit-color:#333333;
@grey-form-submit-icon:#777777;
@grey-form-submit-icon-hover:#555555;
@grey-form-submit-textsimple:#999999;

@alert-color: #DD3C5B;
@alert-color-red: 221;@alert-color-blue: 60;@alert-color-green: 91;

/*
 * Matrix
 */
@icon-size : 20px;
@icons-picture : @icon-size*31 @icon-size*21;

.matrix-icon(@x:0, @y:0) {
    background-image:   url(../img/matrix@2x.png);
    background-repeat:  no-repeat;
    background-size:    @icons-picture;
    background-position: @x @y;
    .keep-image-aspect();
}

/*
 * Font
 */
@main-font: 'RezoZero', Helvetica, sans-serif;

/*
 * Login
 */
@login-H: 420px;
@login-FormW: 370px;
@login-BarW: 128px;
@login-W: @login-FormW + @login-BarW;


/*
 * Admin headers
 */
@global-header-height: 150px;
@global-header-color: #E5E5E5;
@admin-entries-li-height: 54px;
@admin-entries-line-vertical: #C3C3C3;
@admin-entries-line-horizontal: #D8D8D8;
@admin-entries-subnav-text-color: #808080;
@admin-menu-color: #AEB0B2;
@admin-menu-border-color: #E0E0E0;
@admin-menu-info-color: #EBEBEB;

/*
 * Panel sizes
 */
@user-panel-width: 128px;
@entries-panel-width: 88px;
@trees-panel-width: 271px;

/*
 * User panel
 */
@user-panel-color: #4d4d4d;
@user-panel-text-color: #d8d8d8;
@user-panel-text-alt-color: #b7b7b7;
//@user-panel-color-rgba: rgba(150, 150, 150, 0.7);
@user-picture-size: 80px;
@user-picture-size-mini: 70px;
@user-panel-border-color: rgba(199,199,204, 0.14);