<?php
declare(strict_types=1);

use RZ\Roadiz\Core\Events\Cache\CachePurgeRequestEvent;
use RZ\Roadiz\Core\HttpFoundation\Request;
use Symfony\Component\EventDispatcher\EventDispatcher;
use Symfony\Component\HttpFoundation\JsonResponse;

define('ROADIZ_ROOT', dirname(__FILE__));
require dirname(realpath(__FILE__)) . "/bootstrap.php";

$allowedIp = [
    '10.0.2.2',     // vagrant host (forwarded)
    '192.168.33.1', // vagrant host (private)
    '127.0.0.1', 'fe80::1', '::1', ':ffff:127.0.0.1', '::ffff:127.0.0.1' // localhost
];

// This check prevents access to debug front controllers that are deployed by accident to production servers.
// Feel free to remove this, extend it, or make something more sophisticated.
if (isset($_SERVER['HTTP_CLIENT_IP'])
    || !(in_array(@$_SERVER['REMOTE_ADDR'], $allowedIp) || php_sapi_name() === 'cli-server')
) {
    $response = new JsonResponse([
        'status' => 'fail',
        'error' => 'You are not allowed to access this file (' . $_SERVER['REMOTE_ADDR'] . ').',
    ], JsonResponse::HTTP_UNAUTHORIZED);
    $response->send();
    exit();
}

$request = Request::createFromGlobals();
if ($request->query->has('env') && $request->query->get('env') == 'preview') {
    $kernel = new \RZ\Roadiz\Core\SourceKernel('prod', false, true);
} elseif ($request->query->has('env') && $request->query->get('env') == 'dev') {
    $kernel = new \RZ\Roadiz\Core\SourceKernel('dev', true);
} else {
    $kernel = new \RZ\Roadiz\Core\SourceKernel('prod', false);
}
$kernel->boot();
$kernel->getContainer()->offsetSet('request', $request);
/** @var EventDispatcher $dispatcher */
$dispatcher = $kernel->get('dispatcher');
$event = new CachePurgeRequestEvent($kernel);
$dispatcher->dispatch($event);

$text = [
    'status' => 'ok',
    'trace' => $event->getMessages(),
    'errors' => $event->getErrors(),
];

$response = new JsonResponse($text);
$response->send();
