#!/bin/bash

# Generate a build version from commits count
commit_count=`git log --pretty=oneline | wc -l`;

# Find phpcs path
if [[ "$OSTYPE" == "darwin"* ]]; then
    PHPCS=`which phpcs`;
fi

# ugly fix for sourcetree/smartgit
export PATH=`echo "$PHPCS" | rev | cut -c 7- | rev`:$PATH;

# Launch PHP codeSniffer (change your executable path according to your system)
$PHPCS --report=full --report-file=./report.txt --extensions=php --warning-severity=0 --standard=PSR2 --ignore=*/node_modules/*,*/.AppleDouble,*/vendor/*,*/cache/*,*/sources/*,*/Tests/* -p ./;

# Get error code from phpcs (0 : code clean, 1 code dirty)
php_cs_output=$?;

# Abort commmit if code is not clean, check your report.txt file
if [[ $php_cs_output != 0 ]]; then
    exit $php_cs_output;
fi

# Create a BUILD.php file with total commit count from Life begining
echo "${commit_count}" > ./BUILD.txt;

# Do not forget to add it to your commit file list
git add ./BUILD.txt;

# You must exit 0 to perform the real commit
exit 0;