# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
    config.vm.box = "roadiz/standard-edition"
    config.vm.box_version = "1.3.1"
    #
    # Use forwarded ports with your local network
    # Be careful to change port if you want to run multiple
    # Vagrant boxes
    #
    config.vm.network "forwarded_port", guest: 80, host: 8080, auto_correct: true # Nginx
    config.vm.network "forwarded_port", guest: 443, host: 4430, auto_correct: true # Nginx SSL
    config.vm.network "forwarded_port", guest: 8983, host: 8983, auto_correct: true # Solr
    config.vm.network "forwarded_port", guest: 1080, host: 1080, auto_correct: true # Mailcatcher
    #
    # Private IP for your box.
    #
    # This will be only reachable from your computer
    # You can add a *.dev hostname in your /etc/hosts file
    # Your host will have the 192.168.33.1 IP address
    #
    config.vm.network "private_network", ip: "192.168.33.10"

    # Use NFS for synced folders (MacOS + Linux with NFS support), better file IO performances
    config.vm.synced_folder "./", "/var/www", nfs: true, mount_options: ['actimeo=1']

    # Quick fix for Vagrant on macOS 10.13 (High Sierra)
    #config.vm.synced_folder "./", "/var/www", nfs: true, mount_options: ['rw', 'vers=3', 'tcp', 'fsc' ,'actimeo=1']

    # Use regular driver for synced folders (Linux + Windows)
    #config.vm.synced_folder "./", "/var/www", mount_options: ['dmode=775', 'fmode=664']

    config.vm.provider "virtualbox" do |vb|
        vb.memory = 2048
        vb.cpus = 2
        vb.customize ["modifyvm", :id, "--ioapic", "on"]
        vb.customize ['modifyvm', :id, '--memory', '2048']
        vb.customize ["modifyvm", :id, "--hwvirtex", "on"]
        vb.customize ['modifyvm', :id, '--natdnsproxy1', 'on']
        vb.customize ['modifyvm', :id, '--natdnshostresolver1', 'on']
        vb.customize ['modifyvm', :id, '--uartmode1', 'file', File.join(Dir.pwd, "vagrant.log")]
    end

    # Override standard-edition Nginx rules.
    config.vm.provision "source-edition", type: :shell, path: "samples/vagrant-provisioning.sh"
end
