# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
    config.vm.box = "ubuntu/xenial64"
    #
    # Use forwarded ports with your local network
    # Be careful to change port if you want to run multiple
    # Vagrant boxes
    #
    config.vm.network "forwarded_port", guest: 80, host: 8080, auto_correct: true # Nginx
    config.vm.network "forwarded_port", guest: 443, host: 4430, auto_correct: true # Nginx SSL
    config.vm.network "forwarded_port", guest: 8983, host: 8983, auto_correct: true # Solr
    config.vm.network "forwarded_port", guest: 1080, host: 1080, auto_correct: true # Mailcatcher
    #
    # Private IP for your box.
    #
    # This will be only reachable from your computer
    # You can add a *.dev hostname in your /etc/hosts file
    # Your host will have the 192.168.33.1 IP address
    #
    config.vm.network "private_network", ip: "192.168.33.10"

    # Use NFS for synced folders (MacOS + Linux with NFS support), better file IO performances
    config.vm.synced_folder "./", "/var/www", nfs: true, mount_options: ['actimeo=1']

    # Quick fix for Vagrant on macOS 10.13 (High Sierra)
    #config.vm.synced_folder "./", "/var/www", nfs: true, mount_options: ['rw', 'vers=3', 'tcp', 'fsc' ,'actimeo=1']

    # Use regular driver for synced folders (Linux + Windows)
    #config.vm.synced_folder "./", "/var/www", mount_options: ['dmode=775', 'fmode=664']

    config.vm.provider "virtualbox" do |vb|
        # Enable IO APIC for allocating more than 1 core
        vb.customize ["modifyvm", :id, "--ioapic", "on"]
        vb.memory = 1024
        vb.cpus = 1
    end

    config.vm.provision "roadiz",      type: :shell, path: "samples/vagrant-php7-provisioning.sh"
    config.vm.provision "phpmyadmin",  type: :shell, path: "samples/vagrant-phpmyadmin-provisioning.sh"
    config.vm.provision "mailcatcher", type: :shell, path: "samples/vagrant-php7-mailcatcher-provisioning.sh"
    config.vm.provision "solr",        type: :shell, path: "samples/vagrant-solr-provisioning.sh"
    config.vm.provision "devtools",    type: :shell, path: "samples/vagrant-devtools-provisioning.sh"
end
