/*------------------------------------*\
   CUSTOM FORMS FIELDS
\*------------------------------------*/


/*
 * Styles for custom-forms-fields pages
 */


/* -------- STYLES -------- */


// List
//.custom-form-fields {
//    .uk-sortable {
//        .uk-sortable-placeholder {
//            .opacity(1);
//            border: 1px dashed #b5b5b5;
//
//            td {
//                background-color: rgba(0,0,0,0.2);
//                text-indent: -99999px;
//            }
//        }
//    }
//}

.rz-custom-form-field-dragged {
    // width:100%;
    background: #ddd;
    border: 1px dashed #b5b5b5;
    display: table-row;

    .uk-button {
        display: none;
    }

    tr{
        height:54px;
        background:white;
        border-top:1px solid white;
        border-bottom:1px solid @form-row-border-color;

        &:nth-child(2n){
            background:@grey-verylight;
        }
    }

    td{
        vertical-align: middle;
        padding: 10px 12px;
        background-color: #ddd;
        font-size:13px;
    }

    a{
        color:@grey-medium;
        .transition(0.4s color ease);

        &:hover{
            text-decoration:none;
            color:@grey-interface;
        }
    }
}

.custom-form-field-col{
    cursor: move;
}

.edit-button-chevron{

    &> [class*=uk-icon-]{
        margin-right:10px;
    }

}

.custom-form-field-edit-form-row{
    // display:none;
    height:0px !important;
    cursor: default !important;
    border-top:0 !important;
    border-bottom:0 !important;
    background: #F2F2F2 !important;

    td{
        padding:0 !important;
        border:none !important;
    }
}

.custom-form-field-edit-form-cont{
    overflow: hidden;
    display: none;
}



