/*------------------------------------*\
   LESS 1280
\*------------------------------------*/


/*
 * Styles for screens with width <= 1280
 */

/* -------- STYLES -------- */

// Node edit list
.node-type-field-head-name, .node-type-field-name{
    width:25%;
}

.node-type-field-head-label, .node-type-field-label{
    width:25%;
}

.node-type-field-head-type, .node-type-field-type{
    width:25%;
}