/*------------------------------------*\
   LESS 768
\*------------------------------------*/


/*
 * Styles for screens with width <= 768 (mobile)
 */

/* -------- STYLES -------- */


.mobile-hidden{
    display: none;
}


// Login
#login {
    width:80%; height:80%; min-height:400px;
    top:10%; left:10%;
    margin:0;

    #login-infos{
        position: relative;
        width:100%; height:60px;

        #login-logo{
            width:65px; height:60px;

            .uk-icon-rz-rezozero{
                width:65px; height:60px;
                font-size: 28px;
            }
        }

        #login-credit{
            width:auto; height:100%;
            top:0; right:0; bottom:0; left:65px;

            .uk-icon-rz-rezozero{
                display: none;
            }

            #login-version{
                top:0; right:20px; bottom:0; left:0;
                width:auto;
                text-align: right;
                line-height:60px;
            }
        }
    }

    #login-formGlobal{
        width:auto; height: auto;
        top:60px; right:0; bottom:0; left:0;
        padding:30px 20px;

        h1{
            font-size:28px;
            margin-bottom:15px;
        }
    }
}

#main-container-inner{
    display: block;
    width:100%; height:100%;

    // User panel
    #user-panel{
        display:block;
        width:100%; height:50px;
        z-index:6;

        #menu-mobile{
            position: absolute;
            top:14px; left:12px;
            width:25px; height:19px;
            display: block;
            cursor: pointer;
            z-index:3;

            .menu-mobile-bar{
                position: absolute;
                left:0;
                width:25px; height:3px;
                background: #969696;
            }

            #menu-mobile-bar-1{
                top:0;
            }

            #menu-mobile-bar-2{
                top:8px;
            }

            #menu-mobile-bar-1{
                top:16px;
            }
        }

        #company, #cms-version{
            display: none;
        }

        #user-picture{
            position: absolute;
            top:7px; right:10px;
            width:35px; height:35px;

            img{
                width:35px; height:35px;
            }
        }

        #user{
            padding:0;

            h3{
                position: relative;
                padding:0 16px 0;
                margin:0 60px 0 0;
                font-size:14px; line-height:50px;
                text-align: right;

                &:after{
                    position: absolute;
                    content:'';
                    top: 15px; right: 0px;
                    width:1px; height:20px;
                    background: #919191;
                }
            }

            .user-actions{
                display: block;
                position:fixed;
                display: block;
                top:100px; right:0; bottom:0;
                width:80%;
                margin:0;
                padding:0;
                border:none;
                background: @grey-interface;
                .translate(100%, 0);
                z-index:9;
            }
        }

        .uk-icon-button{
            position: relative;
            .rounded(0);
            border:none;
            background:none;
            width:100%; height:36px;
            margin:0 0 25px 0;
            padding-left:15px;
            text-align:left;
            text-shadow: none;
            .opacity(1);

            &:first-child{
                margin-top:15px;
            }

            &:before{
                position: relative;
                display:inline-block;
                width:36px; height:36px;
                margin-right:10px;
                border:1px solid #808080;
                background: #5b5b5b;
                color:@user-panel-text-alt-color;
                text-align: center;
                .rounded(18px);
            }

            &:after{
                position: absolute;
                content:'';
                right:15px; bottom:-15px; left: 15px; 
                height:1px;
                background: #c7c7c7;  
                .opacity(0.2);
            }   

            &.uk-icon-rz-earth, &.uk-icon-rz-user{
                display: inline-block;
            }

            &.uk-icon-rz-turn-off{
                &:after{
                    display: none;
                }
            }
        }

        .user-action-label{
            display: inline-block;
            height:36px;
            font-size:12px;
            line-height:36px;
            color:@user-panel-text-alt-color;
            // text-shadow: 0 1px 0 rgba(0,0,0,.8);
            font-family: 'RezoZero';
            -webkit-font-smoothing: initial;
        }

        .dev-mode{
            position: absolute;
            left:0; right:0; bottom:20px;
        }

    }


    // Admin menu
    #admin-menu{
        // display: none;
        position:fixed;
        display: block;
        top:100px; right:0; bottom:0; left:0;
        width:80%;
        .translate(-100%, 0);
        z-index:9;

        header{
            display: none;
        }

        #admin-menu-nav{
            position: absolute;
            top:0; right:0; bottom:0; left:0;
            overflow-y: auto;
        }

        .uk-nav{
            padding-top:0;
        }

        li{
            width:100%;
            text-align: left;
            padding:14px 0px 11px;

            &.uk-parent{
                cursor: pointer;

                .info{
                    min-width: inherit;
                }

                &:after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 9px;
                    height: 6px;
                    right: 8px;
                    top: 38px;
                    .matrix-icon();
                    background-position: @icon-size*-1 @icon-size*-1;
                }
            }

            &> a, &> p{
                padding-left:10px;
            }

            &:before{
                left:10px;
            }

            .uk-nav-sub{
                position: relative;
                // display: block;
                display: none; vertical-align: top;
                top:0; right:0; left:0;
                min-width:inherit;
                height:0;
                overflow: hidden;
                box-shadow: none;
                border-left: none;

                li{
                    padding:0;
                    width: auto; min-width:inherit;

                    a{
                        padding:0 0 0 10px;
                    }

                    .info{
                        height:40px;
                        line-height:40px;
                    }
                }
            }

            &:hover{

                &:after{
                    display: none;
                }

            }

        }

        .info {
            display: inline-block;
            position: relative;
            z-index: 5;
            background: none;
            line-height: 55px;
            padding: 0 22px 0 10px;
            margin: 0;
            top: 0; left:0;
            text-align: left;
            .box-sizing();
            white-space: nowrap;
            .box-shadow(none);

            &:after{
                display: none;
            }
        }
    }


    // Main trees
    #main-trees{    
        position:relative;
        display: block;
        width:100%; height:50px;
        overflow: visible;
        z-index:8;

        #main-trees-overlay{
            display: none;
        }

        #main-trees-container{
            width:100%;
            overflow: visible;
            background: #f8f8f8;
            border-bottom:1px solid #e5e5e5;

            &> div{
                width:100%;
            }
        }

        #nodes-sources-search{
            height:49px;
            background: none;

            form{
                padding:0;

                .uk-form-icon{
                    width:100%; height:49px;
                    background: #f8f8f8;
                    .rounded(0px);

                    i{
                        top:23px;
                    }

                    input{
                        height:49px;
                        background: #f8f8f8;
                    }
                }
            }
        }
    }


    // Main content
    #main-content{
        display: block;
        width:100%; height:100%;
    }

}

#tree-wrapper{
    position: fixed;
    top:100px; right:0; bottom:0;
    width:80%;
    background: #aaa;
    z-index:8;
    .translate(100%, 0);
}

#tree-button{
    position: absolute;
    display:block;
    top:0; right:0;
    width:55px; height:50px;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    z-index:7;

    .uk-icon-rz-node-tree{
        font-size:24px;
        line-height:49px;
    }
}

#tree-menu{
    margin-top:0;
    padding-top:10px;
}

#tree-container{
    background: @maintree-global-bg;
}

// Grid
.content{

    padding:30px 0 100px;

    & > *{
        padding:0 15px 0 15px;
    }

    &.content-upload{
        padding:0;

        & > *{
            padding:0;
        }
    }

    &.content-no-action-menu{
        padding:30px 0 80px;

        & > *{
            padding:0 15px 0 15px;
        }
    }

}

.content-header{
    height: auto;
    padding:0 20px 30px 20px;

    .navbar-navigation{
        position: relative;

        &> .uk-navbar-nav li{

            margin-bottom:4px;

            a{
                height:30px;
                font-size:12px; line-height:30px;
            }
        }
    }
}

.content-breadcrumb{
    position: relative;
    top:20px;
    margin-bottom:10px;
}

.content-header-nav-back{
    top:15px; left:15px;
}

.content-title{
    font-size:24px; line-height:32px;
    padding:25px 0 10px 0px;
}

#uk-navbar-filter-count{
    display: none;
}


// Forms
.uk-form .form-col-datetime>div:last-child>div:last-child{
    margin-left:0;
}


// HTML Editor
.uk-htmleditor-navbar-nav>li{
    margin-bottom:8px;
}

.uk-htmleditor-navbar-flip .uk-htmleditor-navbar-nav{
    display: none;
}


// Content header
.content-header-action-menu{
    position: relative;
    top:12px; right:0; left:0; 
    text-align: center;

    .uk-button{
        margin-bottom:8px;
        overflow: hidden;
    }
}


// Node widgets
.children-nodes-nav, .documents-widget-nav {

    .children-nodes-quick-creation{
        display:none;
    }

    .uk-button{
        width:36px;
        overflow: hidden;

        i{
            margin-right:10px;
        }
    }
}


// Translation bar
.translation-bar{
    right:50px; bottom:150px;
}


// Action menu
.actions-menu{
    position: relative;
    width:auto; height:auto; // height:52px;
    top:-90px; right:15px; left:15px; //  bottom:70px;
    box-shadow:none;
    background: none;
    z-index:4;

    header{
        display: inline-block; vertical-align:top;
        width:52px; min-height:52px; height:auto;
    }

    .uk-button{
        display: inline-block; vertical-align:top;
        width:auto; height:36px;
        background: #999;
        margin: 0 8px 8px 0;
        padding:0 12px;

        &.uk-button-danger{
            background: @alert-color;
        }

        &:before{
            display: none;
        }

        .icon-container{
            position: relative;
            display: inline-block;
            width:auto; height: auto;
            background: none;
            padding:0;

            i{
                width:auto; height: auto;
                margin-right:4px;
                background: none;
                border:none;
                color:#fff;
            }
        }

        .label{
            position: relative;
            display: inline-block;
            line-height:36px;

            .label-text{
                padding:0;
            }
        }
    }

    .with-subnav{
        display: inline-block; vertical-align:top;
        width:52px; min-height:52px; height:auto;
        
        &.node-actions{
            display: none;
        }

        &.node-parameters, &.node-status{
            width:100%;
            margin-bottom:65px;

            header{
                background: none;
                border:none;
                padding-left:8px;

                &:before{
                    display: none;
                }

                .label{
                    display: inline-block;
                    left:52px;
                    background: none;

                    &:after{ display: none; }

                    .label-text{
                        padding:0;
                        color:#444;
                    }
                }
            }

            ul{
                position: relative;
                display: inline-block;
                top:52px; right:0; left:-52px;    
                border:none;  
                box-shadow:none;  
            }
        }
    }
}


/* -------- PAGES -------- */

// History
.history-log-item{
    // height:auto;

    // .table{
    //     display: inline-block;
    //     height:auto;
    // }

    // .table-cell{
    //     display: inline-block;
    //     height:auto;
    // }

    // .history-log-date{
    //     width:70px; height:auto;
    //     padding:0 15px 0 5px;
    //     font-size:11px;
    // }

    // .history-log-user{
        // display: none;
        // width:45px; height:auto;

        // a{
        //     display: block;
        //     height:100%;
        // }

        // .user-image{
        //     top:50%;
        //     margin-top:-22px;
        //     width:45px; height:45px;
        // }
    // }

    // .history-log-message{
    //     height:auto;
    // }
}


// Documents
.content-document-preview .document-source{
    display: none;
}


// Node type fields
#add-node-type-field-form .form-col-maxLength, #edit-node-type-field-form .form-col-maxLength{
    margin-left:0;
    margin-right:50px;
}


// Custom forms
.content-custom-forms-list{

    .uk-button-content{
        margin-bottom:4px;
    }

}

#add-custom-form-form .form-col-datetime, #edit-custom-form-form .form-col-datetime, #add-custom-form-form .form-col-color, #edit-custom-form-form .form-col-color{
    margin-left:0;
}


// Settings
#add-setting-form .form-col-type, #edit-setting-form .form-col-type{
    margin:20px 0 0 0;
}

.settings .table-actions-row{
    width:95px;
}
