{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header content-header-filters manage-history-header">
        {% if user %}
        <h1 class="content-title manage-history-title">{{ "history.for.%name%"|trans({"%name%":user.identifier}) }}</h1>
        {% else %}
        <h1 class="content-title manage-history-title">{% trans %}history{% endtrans %}</h1>
        {% endif %}
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}

        {% if user %}
        {% include '@Rozier/users/navBar.html.twig' with {'user':user, current:'history'} %}
        {% else %}
        {% include '@Rozier/dashboard/navBar.html.twig' with {'current':'history'} %}
        {% endif %}
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-manage-history">
        {% apply spaceless %}
        <div class="history-logs">
            {% for log in logs %}
                {% include 'modules/history-item.html.twig' with {
                    'levels': levels,
                    'log': log
                } only %}
            {% endfor %}
        </div>
        {% endapply %}
    </article>
</section>
{% endblock %}
