/*------------------------------------*\
   ENTRIES PANEL
\*------------------------------------*/


/*
 * Override ui kit buttons styles & colors
 */

/* -------- VARS -------- */
@minify-tree-panel-area-width: 35px;


/* -------- STYLES -------- */

#admin-menu {
    position: relative;
    background: #fff;
    z-index:5;

    .uk-nav {
        display: block;
        padding-top: 16px;

        a, p {
            padding: 0px;
            margin: 0px;
            color: @admin-menu-color;
            .transition(color ease 0.2s);
        }
    }
    header {
        height: @global-header-height;
        .box-sizing();
        background-color: @global-header-color;

        hr {
            border-top: 1px dashed #c4c4c4;
            border-bottom: 1px dashed white;
            height: 0px;
            margin: 0px;
        }
    }
    li {
        display: block;
        position: relative;
        /* width: 30px; */
        margin: 0px auto;
        padding: 11px 10px 10px;
        background: white;
        text-align: center;

        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 28px;
            height: 1px;
            background-color: @admin-entries-line-horizontal;
            left: (@entries-panel-width - 28) / 2;
            top: 0px;

            @media (min-width: @screen-lg-min) {
                left: (@entries-panel-lg-width - 28) / 2;
            }
            @media (min-width: @screen-xl-min) {
                left: (@entries-panel-xl-width - 28) / 2;
            }
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &.uk-parent {
            p .info {
                min-width: 211px;
            }
            .info {
                padding: 0 42px 0 20px;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 9px;
                    height: 6px;
                    right: 15px;
                    top: 24px;
                    .matrix-icon();
                    background-position: @icon-size*-1 @icon-size*-1;
                }
            }
        }

        i {
            font-size: 28px;
        }
        .info {
            display: none;
            position: absolute;
            z-index: 999;
            left: @entries-panel-width;
            background-color: @admin-menu-info-color;
            height: 53px;
            font-size: 13px;
            font-weight: bold;
            line-height: 55px;
            padding: 0 22px 0 20px;
            margin: 0;
            top: 0;
            text-align: left;
            .box-sizing();
            white-space: nowrap;
            .box-shadow(1px 1px 7px rgba(0,0,0,0.05));

            @media (min-width: @screen-lg-min) {
                left: @entries-panel-lg-width;
            }
            @media (min-width: @screen-xl-min) {
                left: @entries-panel-xl-width;
            }
        }
        .work-in-progress {
            font-size: 12px;
            color: #CCC;
            display: none;
        }
        .uk-nav-sub {
            display: none;
            position: absolute;
            left: @entries-panel-width;
            top: 52px;
            z-index: 999;
            background-color: white;
            border-left: 1px dashed #c3c3c3;
            padding: 0;
            min-width: 210px;
            .box-shadow(3px 6px 7px rgba(0,0,0,0.05));

            @media (min-width: @screen-lg-min) {
                left: @entries-panel-lg-width;
            }
            @media (min-width: @screen-xl-min) {
                left: @entries-panel-xl-width;
            }

            li {
                border-top: 1px solid @admin-entries-line-horizontal;
                padding: 5px 10px;
                min-width: 210px;
                .box-sizing();
                text-align: left;
                .transition(background ease 0.3s);

                &:before, &:after {
                    display: none;
                }
                i {
                    font-size: 20px;
                    //color: @admin-entries-subnav-text-color;
                }
                & > a {
                    padding: 5px 10px 5px 7px;
                }
                .info {
                    display: inline-block;
                     background-color: transparent;
                     height: 43px;
                     line-height: 43px;
                     left: 28px;
                     font-size: 12px;
                     color: @admin-entries-subnav-text-color;
                     .box-shadow(0px 0px 0px rgba(0,0,0,0));

                     &:after {
                        display: none;
                     }
                }
                &:hover {
                    background-color: #F5F5F5;
                }
            }
        }

        &.reversed-nav {
            .info {
                &:after {
                    .transform(rotate(180deg));
                    top: 26px;
                }
            }

            .uk-nav-sub {
                top: auto;
                bottom: 50px;
                .box-shadow(3px -7px 7px rgba(0,0,0,0.05));
            }
        }

        &:hover {
            & > a,
            & > p {
                color: darken(@admin-menu-color, 25%);
                .info {
                    display: inline-block;
                }
            }

            & > a > .work-in-progress {
                font-size: 12px;
                color: #CCC;
                display: block;
                background-color: #F5F5F5;
                position: absolute;
                top: 7px;
                padding: 3px 3px 3px 0px;
                z-index: 1000;
            }

            .uk-nav-sub {
                display: block;
            }
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right:10px solid @admin-menu-info-color;
                position: absolute;
                z-index: 999;
                left: @entries-panel-width - 10;
                top: 16px;

                @media (min-width: @screen-lg-min) {
                    left: (@entries-panel-lg-width - 10);
                }
                @media (min-width: @screen-xl-min) {
                    left: (@entries-panel-xl-width - 10);
                }
            }
        }
    }
}

.uk-rz-coming-soon{
    .opacity(0.5);
    z-index:2;

    .uk-nav-sub{
        .opacity(1);

        &> li > a{
            cursor: default;
        }
    }
}

#frontend-home {
    &-area {
        height: @global-header-height - @minify-tree-panel-area-width - 2px;
        .box-sizing();
        text-align: center;
        padding: 35px 0;
    }
    &-link {
        background: white;
        color: #909090;
        font-size: 28px;
        line-height: 38px;
        width: 38px;
        height: 38px;
        .transition(~'color ease 0.35s, border-color ease 0.35s');
        text-align: center;

        &:before {
            margin: 0 0 0 2px;
        }

        &:hover {
            border-color: @grey-form-submit-border-hover;
            color: @grey-form-submit-icon-hover;
        }
    }
}

#minify-tree-panel {
    &-area {
        height: @minify-tree-panel-area-width;
        .box-sizing();
        text-align: center;
        padding: 7px 0;

        &:after {
            display: block;
            width: 20px; height: 20px;
            content: "";
            .matrix-icon();
            background-position: @icon-size*-1 0;
            position: absolute;
            right: -15px; top: 117px;
            .opacity(1);
            .transform-transition(~'ease 0.8s, 0.8s opacity ease');
            .transition-timing-function(@easeOutExpo);
        }

        &.tree-panel-hidden {
            &:after {
                .transform(translate(5px));
                .opacity(0);
            }
        }
    }
    &-button {
        width: 20px;
        height: 20px;
        line-height: 18px;
        background: darken(@global-header-color, 10%);
        border: 0 none;
        .transition(background ease 0.35s);

        i {
            color: #666;
        }

        &:hover {
            background: darken(@global-header-color, 15%);
        }
    }
}
