{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-group">
    <h1 id="group-title">Edit {{ group.getName }}</h1>

    {% include 'groups/navBar.html.twig' with {'group':group, current:'edit'} %}

    {% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <fieldset data-uk-margin>
            <input class="uk-button uk-button-primary" type="submit" />
        </fieldset>
    </form>
</section>
{% endblock %}