{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-group">
    <h1 id="group-title">{{ "edit.group.%name%"|trans({'%name%': group.getName}) }}</h1>

    {% include 'groups/navBar.html.twig' with {'group':group, current:'edit'} %}

    {% form_theme form 'forms.html.twig' %}
    <form id="edit-group-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <fieldset data-uk-margin>
            {% spaceless %}
            <button data-action-save="#edit-group-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                <i class="uk-icon-save"></i>
                <span class="label">{% trans %}save{% endtrans %}</span>
            </button>
            {% endspaceless %}
        </fieldset>
    </form>

    {% include 'groups/actionsMenu.html.twig' %}
</section>
{% endblock %}
