{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-groups">
    <h1 id="title">{% trans %}import.a.group{% endtrans %}</h1>

    {% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> {% trans %}import{% endtrans %}</button>
    </form>
</section>
{% endblock %}