{% extends 'base.html.twig' %}

{% block content %}
<section class="content-global import-group">

    <header class="content-header header-group header-group-import">
        <h1 class="content-title group-import-title">{% trans %}import.group{% endtrans %}</h1>
    </header>

    <article class="content content-import">
        {% form_theme form 'forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> {% trans %}import{% endtrans %}</button>
        </form>
    </article>
</section>
{% endblock %}
