<nav class="group-navbar-navigation navbar-navigation uk-navbar">
	<ul class="uk-navbar-nav">
		<li class="{% if current == 'edit' %}uk-active{% endif %}" >
			<a href="{{ path('groupsEditPage', { id: item.id }) }}">{% trans %}group.edit{% endtrans %}</a>
		</li>
		<li class="{% if current == 'roles' %}uk-active{% endif %}">
			<a href="{{ path('groupsEditRolesPage', { id: item.id }) }}">{% trans %}group.roles{% endtrans %}</a>
		</li>
		<li class="{% if current == 'users' %}uk-active{% endif %}">
			<a href="{{ path('groupsEditUsersPage', { id: item.id }) }}">{% trans %}group.users{% endtrans %}</a>
		</li>
	</ul>
</nav>
