<ul class="node-breadcrumb uk-breadcrumb">
    {% for parent in node.getHandler.getParents %}
    <li class=""><a href="{{ path('nodesEditPage', { nodeId: parent.getId }) }}">{{ parent.getNodeSources.first.getTitle }}</a></li>
    {% endfor %}
    <li class="uk-active"><span>{{ node.getNodeSources.first.getTitle }}</span></li>
</ul>
