{% if not source %}
    {% set source = node.nodeSources.first %}
{% endif %}

{% set currentTitle = source.title|default(node.nodeName) %}

{% apply spaceless %}
<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {% for parent in source|parents(null, true)|reverse %}
        {% set title = parent.title|default(parent.node.nodeName) %}

        {% if parent.node.isHidingChildren %}
            {% if parent.translation %}
                {% set url = path('nodesTreePage', { nodeId: parent.node.id, translationId: parent.translation.id }) %}
            {% else %}
                {% set url = path('nodesTreePage', { nodeId: parent.node.id }) %}
            {% endif %}
        {% else %}
            {% set url = path('nodesEditSourcePage', {
                nodeId: parent.node.id,
                translationId: parent.translation.id
            }) %}
        {% endif %}

        <li class="node-breadcrumb-item">
            <a class="node-breadcrumb-link" href="{{ url }}">
                {% if parent.node.isHome %}
                    <i class="uk-icon-rz-breadcrumb-home"></i>
                {% else %}
                    {{ title|u.truncate(25, '[…]', true) }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
    <li class="node-breadcrumb-item uk-active"><span>{{ currentTitle|u.truncate(25, '[…]', true) }}</span></li>
</ul>
{% endapply %}
