{% if node.getNodeSources.first.getTitle %}
{% set currentTitle = node.getNodeSources.first.getTitle %}
{% else %}
{% set currentTitle = node.getNodeName %}
{% endif %}

{% spaceless %}
<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {% for parent in node.getHandler.getParents %}
        {% if parent.getNodeSources.first.getTitle %}
            {% set title = parent.getNodeSources.first.getTitle %}
        {% else %}
            {% set title = parent.getNodeName %}
        {% endif %}

        {% if parent.isHidingChildren %}
            {% set url = path('nodesTreePage', { nodeId: parent.getId }) %}
        {% else %}
            {% set url = path('nodesEditPage', { nodeId: parent.getId }) %}
        {% endif %}
        <li class="node-breadcrumb-item">
            <a class="node-breadcrumb-link" href="{{ url }}">
                {% if parent.isHome %}
                    <i class="uk-icon-rz-breadcrumb-home"></i>
                {% else %}
                    {{ title }}
                {% endif %}
            </a>
        </li>

    {% endfor %}
    <li class="node-breadcrumb-item uk-active"><span>{{ currentTitle }}</span></li>
</ul>
{% endspaceless %}
