{% if not source %}
    {% set source = node.nodeSources.first %}
{% endif %}

{% set currentTitle = source.title|default(node.nodeName) %}

{% spaceless %}
<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {% for parent in source|parents(null, true)|reverse %}
        {% set title = parent.title|default(parent.node.nodeName) %}

        {# Change URL if root node is a newsletter #}
        {% if loop.first and parent.node.nodeType.NewsletterType %}
            {% set url = path('newslettersEditPage', {
                'newsletterId' : parent.node.newsletter.id,
                'translationId': parent.translation.id
            }) %}
        {% else %}
            {% if parent.node.isHidingChildren %}
                {% if parent.translation %}
                    {% set url = path('nodesTreePage', { nodeId: parent.node.id, translationId: parent.translation.id }) %}
                {% else %}
                    {% set url = path('nodesTreePage', { nodeId: parent.node.id }) %}
                {% endif %}
            {% else %}
                {% set url = path('nodesEditSourcePage', {
                    nodeId: parent.node.id,
                    translationId: parent.translation.id
                }) %}
            {% endif %}
        {% endif %}

        <li class="node-breadcrumb-item">
            <a class="node-breadcrumb-link" href="{{ url }}">
                {% if parent.node.isHome %}
                    <i class="uk-icon-rz-breadcrumb-home"></i>
                {% else %}
                    {{ title|truncate(25, true, '[…]') }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
    <li class="node-breadcrumb-item uk-active"><span>{{ currentTitle|truncate(25, true, '[…]') }}</span></li>
</ul>
{% endspaceless %}
