{% if node.nodeSources.first.title %}
{% set currentTitle = node.nodeSources.first.title %}
{% else %}
{% set currentTitle = node.nodeName %}
{% endif %}

{% spaceless %}
<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {% for parent in node.handler.parents(securityContext) %}

        {% if parent.nodeSources.first.title %}
            {% set title = parent.nodeSources.first.title %}
        {% else %}
            {% set title = parent.nodeName %}
        {% endif %}

        {# Change URL if root node is a newsletter #}
        {% if loop.first and parent.nodeType.NewsletterType %}

            {% set url = path('newslettersEditPage', {
                'newsletterId' : parent.newsletter.id,
                'translationId': parent.nodeSources.first.translation.id
            }) %}
        {% else %}
            {% if parent.isHidingChildren %}
                {% set url = path('nodesTreePage', { nodeId: parent.id }) %}
            {% else %}
                {% set url = path('nodesEditSourcePage', {
                    nodeId: parent.id,
                    translationId: parent.nodeSources.first.translation.id
                }) %}
            {% endif %}
        {% endif %}

        <li class="node-breadcrumb-item">
            <a class="node-breadcrumb-link" href="{{ url }}">
                {% if parent.isHome %}
                    <i class="uk-icon-rz-breadcrumb-home"></i>
                {% else %}
                    {{ title|truncate(25, true, '[…]') }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
    <li class="node-breadcrumb-item uk-active"><span>{{ currentTitle|truncate(25, true, '[…]') }}</span></li>
</ul>
{% endspaceless %}
