{% if node.getNodeSources.first.getTitle %}
{% set currentTitle = node.getNodeSources.first.getTitle %}
{% else %}
{% set currentTitle = node.getNodeName %}
{% endif %}

{% spaceless %}
<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {% for parent in node.getHandler.getParents %}
        {% if parent.getNodeSources.first.getTitle %}
        {% set title = parent.getNodeSources.first.getTitle %}
        {% else %}
        {% set title = parent.getNodeName %}
        {% endif %}
        <li class="node-breadcrumb-item"><a class="node-breadcrumb-link" href="{{ path('nodesEditPage', { nodeId: parent.getId }) }}">{{ title }}</a></li>
    {% endfor %}
    <li class="node-breadcrumb-item uk-active"><span>{{ currentTitle }}</span></li>
</ul>
{% endspaceless %}
