{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-delete">
        <h1 class="content-title node-delete-title">{{ "delete.translation"|trans|truncate(25, true, '[…]') }}</h1>
        {% include '@Rozier/nodes/navBack.html.twig' %}
    </header>

    <article class="content content-delete content-node-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.nodeSource{% endtrans %}</legend>
                <a href="{{ path('nodesEditPage', {nodeId: nodeSource.node.getId}) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}
