
{% set currentTitle = node.nodeSources.first.title|default(node.nodeName) %}

{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-edit-tags">
        {% include '@Rozier/nodes/breadcrumb.html.twig' with {"node": node} only %}
        <h1 class="content-title node-edit-tags-title">
            {{ "edit.node.%name%.tags"|trans({'%name%': currentTitle})|truncate(25, true, '[…]') }}
            {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
        </h1>
        {#{% include '@Rozier/nodes/navBack.html.twig' %}#}
        {% include '@Rozier/nodes/navBar.html.twig' with {"current": 'tags'} %}
    </header>

    <article class="content content-node-edit-tags">
        <h2 class="content-subtitle">{% trans %}tags{% endtrans %}</h2>
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form id="edit-node-tags-form" class="node-form uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% spaceless %}
                <button data-action-save="#edit-node-tags-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
            </fieldset>
        </form>
    </article>

    {% include '@Rozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
