{% if source.getTitle %}
{% set currentTitle = source.getTitle %}
{% else %}
{% set currentTitle = node.getNodeName %}
{% endif %}

{% extends 'base.html.twig' %}

{% block content %}
<section class="content-global">

	<header class="content-header header-node header-node-edit-source">
		{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
		<h1 class="content-title node-edit-source-title">{{ "edit.nodeSource.%name%"|trans({'%name%': currentTitle}) }}</h1>
		{% include 'nodes/navBack.html.twig' %}
		{% include 'nodes/navBar.html.twig' with {"current": 'source'} %}
		{% include 'nodes/translationBar.html.twig' with {"current": translation.getId} %}
	</header>

	<article class="content content-node-edit-source">
		{% form_theme form 'forms.html.twig' %}
		<form id="edit-node-source-form" class="node-form uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <fieldset data-uk-margin>
		    	{% spaceless %}
		    	<button data-action-save="#edit-node-source-form" class="uk-button uk-button-primary rz-action-save" type="submit">
		    		<i class="uk-icon-rz-save"></i>
		    		<span class="label">{% trans %}save{% endtrans %}</span>
		    	</button>
		    	{% endspaceless %}
	   		</fieldset>
		</form>
	</article>

	{% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
