{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-delete">
        <h1 class="content-title node-delete-title">{{ "empty.node.trash"|trans }}</h1>
        {% include 'nodes/navBack.html.twig' %}
    </header>

    <article class="content content-delete content-node-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.empty.node.and.data.trash{% endtrans %}</legend>
                <a href="{{ path('nodesHomeDeletedPage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}empty.trash{% endtrans %}</button>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}
