{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header content-header-filters manage-history-header">
        <h1 class="content-title manage-history-title">{{ "history.for.%name%"|trans({"%name%":node.nodeName}) }}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}

        {% include 'nodes/navBack.html.twig' %}
        {% include 'nodes/navBar.html.twig' with {current:'history'} %}
    </header>
    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-manage-history">
        {% apply spaceless %}
        <div class="history-logs">
            {% for log in entries %}
                {% include 'modules/history-item.html.twig' with {
                    'levels': levels,
                    'log': log
                } only %}
            {% endfor %}
        </div>
        {% endapply %}
    </article>
    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
