{% if is_granted('ROLE_ACCESS_NODETYPES') %}
    <a href="{{ path('nodeTypeFieldsListPage', {'nodeTypeId': node.nodeType.id}) }}"
       class="node-edit-node-type-circle"
       title="{{ node.nodeType.displayName }}"
       data-uk-tooltip="{animation:true}">
        <i class="uk-icon-rz-infos"></i>
    </a>
{% else %}
    <span class="node-edit-node-type-circle"
       title="{{ node.nodeType.displayName }}"
       data-uk-tooltip="{animation:true}">
        <i class="uk-icon-rz-infos"></i>
    </span>
{% endif %}

