{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-publish-all">
        <h1 class="content-title node-publish-all-title">{{ "publish.node.%name%.offspring"|trans({'%name%': node.getNodeName})|u.truncate(25, '[…]', true) }}</h1>
        {% include 'nodes/navBack.html.twig' %}
    </header>

    <article class="content content-publish-all content-node-publish-all content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-primary"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.publish.node.offspring{% endtrans %}</legend>
                <a href="{{ path('nodesEditPage', {nodeId: node.getId}) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-rz-published-mini"></i> {% trans %}publish-all{% endtrans %}</button>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}
