{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-node-remove-tag">

    <header class="content-header header-node header-node-remove-tag">
         <h1 class="content-title node-remove-tag-title">{{ "unlink.tag.%name%"|trans({'%name%': tag.getTranslatedTags.first.getName})|truncate(25, true, '[…]') }}</h1>
    </header>

    <article class="content content-delete content-remove-tag">
		{% form_theme form '@Rozier/forms.html.twig' %}
		<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <fieldset data-uk-margin>
		    	<legend class="delete-legend">{% trans %}are_you_sure.unlink.tag{% endtrans %}</legend>
		    	<a href="{{ path('nodesEditTagsPage', { nodeId: node.getId }) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
		    	<input class="uk-button uk-button-danger" type="submit" />
	   		</fieldset>
		</form>
	</article>

</section>
{% endblock %}
