{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-tag">
	<h1 id="tag-title">{{ "unlink.tag.%name%"|trans({'%name%': tag.getDefaultTranslatedTag.getName}) }}</h1>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}are_you_sure.unlink.tag{% endtrans %}</legend>
	    	<a href="{{ path('nodesEditTagsPage', { nodeId: node.getId }) }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
