<nav class="node-translations-navigation uk-navbar">
    {% spaceless %}
	<ul class="uk-navbar-nav">
		{% for translation in available_translations %}
		    <li class="node-transltation-navigation-item uk-navbar-item{% if current == translation.getId %} uk-active{% endif %}">
		    	<a class="node-transltation-navigation-link uk-navbar-link" href="{{ path('nodesEditSourcePage', { nodeId: node.getId, translationId:translation.getId }) }}">{{ translation.getShortLocale }}</a>
		    </li>
		{% endfor %}
	</ul>        
    {% endspaceless %}
</nav>
