{% if available_translations %}
    <nav class="node-translation-bar translation-bar uk-navbar">
        {% if not route %}
            {% set route = 'nodesEditSourcePage' %}
        {% endif %}
        {% apply spaceless %}
            <ul class="uk-navbar-nav">
                {% for translation in available_translations %}
                    <li class="node-translation-bar-item uk-navbar-item{% if current == translation.getId %} uk-active{% endif %}">
                        <a class="node-translation-bar-link uk-navbar-link"
                           href="{{ path(route, { nodeId: node.getId, translationId:translation.getId }) }}">{{ translation.preferredLocale }}</a>
                    </li>
                {% endfor %}
                <li class="node-translation-bar-item uk-navbar-item">
                    <a href="{{ path('nodesTranslatePage', { nodeId: node.getId }) }}"
                       title="{% trans %}translate.node{% endtrans %}"
                       data-uk-tooltip="{animation:true}"><i class="uk-icon uk-icon-rz-plus"></i></a>
                </li>
            </ul>
        {% endapply %}
    </nav>
{% endif %}
