<nav class="node-translation-bar translation-bar uk-navbar">
    {% spaceless %}
	<ul class="uk-navbar-nav">
		{% for translation in available_translations %}
		    <li class="node-translation-bar-item uk-navbar-item{% if current == translation.getId %} uk-active{% endif %}">
		    	<a class="node-translation-bar-link uk-navbar-link" href="{{ path('nodesEditSourcePage', { nodeId: node.getId, translationId:translation.getId }) }}">{{ translation.getLocale }}</a>
		    </li>
		{% endfor %}
	</ul>
    {% endspaceless %}
</nav>
