<nav class="node-translations-navigation uk-navbar">
	<ul class="uk-navbar-nav">
		{% for translation in available_translations %}
		    <li class="{% if current == translation.getId %}uk-active{% endif %}">
		    	<a href="{{ path('nodesEditSourcePage', { nodeId: node.getId, translationId:translation.getId }) }}">{{ translation.getName }}</a>
		    </li>
		{% endfor %}
	</ul>
</nav>
