{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-nodes-tree">
        {% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
        <h1 class="content-title node-edit-title">{{ "edit.node.%name%.tree"|trans({'%name%': source.getTitle}) }}</h1>
        <nav class="content-header-nav-back"><a class="uk-button uk-button-small" href="{{ path('nodesHomePage') }}"><span class="uk-icon-reply"></span>{% trans %}back_to.nodes{% endtrans %}</a></nav>
        {% include 'nodes/navBack.html.twig' %}
        {% include 'nodes/navBar.html.twig' with {"current": 'tree'} %}
    </header>

    {% include 'widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        {% include 'widgets/nodeTree/nodeTree.html.twig' with { "nodeTree":specificNodeTree, "node":specificNodeTree.getRootNode } only %}
    </article>

    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}

