{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-nodes">
	<ul class="nodes">
		{% for node in nodes %}
		<li>
			<p><strong>{{ node.getNodeName }}</strong></p>
		</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}