/*------------------------------------*\
   NODE TYPES FIELDS
\*------------------------------------*/

.rz-node-type-field-dragged {
    background: #ddd;
    border: 1px dashed #b5b5b5;
    display: table-row;

    .uk-button {
        display: none;
    }

    tr{
        height:54px;
        background:white;
        border-top:1px solid white;
        border-bottom:1px solid @form-row-border-color;

        &:nth-child(2n){
            background:@grey-verylight;
        }
    }

    td{
        vertical-align: middle;
        padding: 10px 12px;
        background-color: #ddd;
        font-size:13px;
    }

    a{
        color:@grey-medium;
        .transition(0.4s color ease);

        &:hover{
            text-decoration:none;
            color:@grey-interface;
        }
    }
}

.node-type-field-col{
    cursor: move;
}

.edit-button-chevron {

    &> [class*=uk-icon-]{
        margin-right:10px;
    }

}

.node-type-field-edit-form-row{
    // display:none;
    height:0px !important;
    cursor: default !important;
    border-top:0 !important;
    border-bottom:0 !important;
    background: #F2F2F2 !important;

    td{
        padding:0 !important;
        border:none !important;
    }
}

.node-type-field-edit-form-cont{
    overflow: hidden;
    display: none;
}


// Add, edit
#add-node-type-field-form,
#edit-node-type-field-form {
    .form-col-checkbox{
        //display: inline-block;
        vertical-align: top;
        @media screen and (min-width: @screen-md-min) {
            max-width: ~"calc(100%/2 - 2.2em)";
        }
        @media screen and (min-width: @screen-lg-min) {
            max-width: ~"calc(100%/3 - 2.2em)";
        }
    }

    .form-col-minLength{
        display: inline-block;
        vertical-align: top;
    }

    .form-col-maxLength {
        display: inline-block;
        vertical-align: top;
    }
}

#nodetypefield_serialization {
    padding: 0 0 0 1.5em;
    border-left: 5px solid #f0f0f0;
}
