{% apply spaceless %}
    {% if folderTree %}
    <nav id="foldertree-widget" class="tree-widget foldertree-widget">
        {% if mainFolderTree %}
            <div class="tree-head foldertree-head">
                <h4>{% trans %}folderTree{% endtrans %}</h4>
                {% if folderTree.getRootFolder == null %}
                <a href="{{ path('foldersAddPage') }}" class="tree-btn-add" id="foldertree-btn-add">
                    <i class="uk-icon-rz-plus-simple"></i>{% trans %}add.a.folder{% endtrans %}
                </a>
                {% else %}
                <a href="{{ path('foldersAddChildPage', { folderId : folderTree.rootFolder.id }) }}"
                   class="tree-btn-add"
                   id="foldertree-btn-add">
                    <i class="uk-icon-rz-plus-simple"></i>{% trans %}add.child.folder{% endtrans %}
                </a>
                {% endif %}
            </div>
        {% endif %}
        <div class="tree-scroll-cont">
            <div class="tree-scroll">
                <ul class="foldertree root-tree uk-nestable uk-nestable-folder"
                    data-uk-nestable="{'group':'folderTree'}"
                    data-parent-folder-id="{{ folder.getId }}">
                    {% for cfolder in folderTree.folders %}
                        {% include 'widgets/folderTree/singleFolder.html.twig' with {
                            "folder":cfolder,
                            "folderTree":folderTree
                        } only %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
{% endapply %}
