/*------------------------------------*\
   FORMS
\*------------------------------------*/


/*
 * Override ui kit forms styles
 */


/* -------- STYLES -------- */

.uk-alert {
    position: relative;
    width: 100%;
    margin: 15px auto 10px;
    padding: 9px;
    z-index: 99999;
    font-size: 14px;
    .border-radius(0px);
    .box-sizing();
    -webkit-font-smoothing: subpixel-antialiased;;
}

.uk-alert-danger {
    color: @alert-color;
    border-color: rgba(@alert-color-red, @alert-color-blue, @alert-color-green, 0.5);
}
.uk-alert-success {

}
.uk-alert-warning {

}