/*------------------------------------*\
   ALERTS
\*------------------------------------*/


/* -------- STYLES -------- */

.uk-alert {
    position: absolute;
    width: 400px;
    right: 15px;
    left: 50%;
    text-align: center;
    margin: 0 auto 0 -200px;
    padding: 18px;
    z-index: 99999;
    font-size: 12px;
    font-weight: bold;
    .rounded(0px);
    .box-sizing();
    -webkit-font-smoothing: antialiased;
    background: @contrast-color-darker;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: white;
    border-color: darken(@contrast-color-darker, 5%);
    border-top: none;
}

.uk-alert-danger {
    color: @alert-color;
    border-color: rgba(@alert-color-red, @alert-color-blue, @alert-color-green, 0.5);
    background: #FFEEEE;
}
.uk-alert-success {

}
.uk-alert-warning {

}

td.uk-alert {
    position: static;
}