{% spaceless %}
<nav data-action-menu class="actions-menu uk-navbar">
    {#
     # Node actions
     #}
    <div role="button" tabindex="0" class="node-actions with-subnav">
        <header><i class="uk-icon-rz-actions"></i><span class="label"><span class="label-text">{% trans %}actions{% endtrans %}</span></span></header>
        <nav>
            {% if source %}
            <a class="uk-button" target="_blank" href="{{ path('newslettersPreviewPage', { newsletterId: newsletterId }) }}"><i class="uk-icon-rz-visibility"></i><span class="label">{% trans %}see.newsletter{% endtrans %}</span></a>
            {% endif %}
            <a class="uk-button rz-no-ajax-link" href="{{ path('newslettersDuplicatePage', { newsletterId:newsletterId }) }}"><i class="uk-icon-rz-duplicate"></i><span class="label">{% trans %}duplicate{% endtrans %}</span></a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('newslettersExportPage', { newsletterId:newsletterId, inline:0 }) }}"><i class="uk-icon-rz-download"></i><span class="label">{% trans %}export.html{% endtrans %}</span></a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('newslettersExportPage', { newsletterId:newsletterId, inline:1 }) }}"><i class="uk-icon-rz-download"></i><span class="label">{% trans %}export.html.inline{% endtrans %}</span></a>
        </nav>
    </div>
</nav>
{% endspaceless %}
