/*------------------------------------*\
   SETTINGS - GLOBAL
\*------------------------------------*/


/*
 * Settings pages
 */


/* -------- STYLES -------- */

#add-setting-form,
#edit-setting-form {

    .form-col-value{
        display: inline-block;
        vertical-align: top;
    }

    .form-col-visible, .form-col-type, .form-col-group{
        display: inline-block;
        vertical-align: top;
    }
}


.setting-row {
    figure {
        display: inline-block;
        margin-right: 15px;
        background-color: #DDDDDD;
    }

    p + p {
       margin-top: -0.6em;
    }
}
