/*------------------------------------*\
   SEARCH
\*------------------------------------*/


/*
 * Search page rz-admin/search
 */


/* -------- STYLES -------- */

#nodeTypeForm{

    .form-col-nodetype{
        display: inline-block; vertical-align: top;
        width:auto;
    }

    div + div{
        display: inline-block;
    }
}

#nodeTypeForm_nodetypeSubmit{
    display: inline-block;  vertical-align: top;
    margin:22px 0 0 10px;
}


// Status
#search-node-form{
    .form-col-visible, .form-col-locked, .form-col-sterile, .form-col-hideChildren,
    .form-col-__node__visible, .form-col-__node__locked, .form-col-__node__sterile, .form-col-__node__hideChildren{
        display: inline-block; vertical-align: top;
        margin-right:20px;
    }
}

.form-col-choice {
    .uk-form-group {
        input[type=radio] + .uk-form-label {
            margin: 4px 0 0;
        }
    }
}

// Date
.form-col-comparedate,
.form-col-comparedatetime {
    margin:0;

   .uk-form-row{
        display: inline-block; vertical-align: top;
        margin:0;
        margin-bottom: 0px;

        .uk-form-label{
            display: none;
        }
    }
    .data-uk-margin {
        margin-bottom: 0px;

        & > div {
            margin-bottom: 0px;
        }
    }
}

.form-col-status-group,
.form-col-search-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;

    .form-col-text {
        display: block;
        width: auto;
    }

    .form-col-checkbox {
        flex-shrink: 0;

        .bootstrap-switch {
            margin-top: 6px;
        }
    }

    .uk-form-row {
        margin-top: 0;
        margin-right: 2em;

        @media (max-width: @screen-xs-max) {
            margin-bottom: 1em;
        }

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

#search-node-form{
    .form-col-createdAt, .form-col-updatedAt, .form-col-__node__createdAt, .form-col-__node__updatedAt{
        display: inline-block; vertical-align: top;
        margin-right:20px;
    }
}

