/*------------------------------------*\
    NODES WIDGET
\*------------------------------------*/


/* -------- VARS -------- */
@nodes-widget-border :         #cbcbcb;
@nodes-widget-btn-bg :         #ededed;
@nodes-widget-btn-border :     #bfbfbf;
@nodes-widget-btn-color :      #2d2d2d;

@nodes-widget-height : 40px;


/* -------- STYLES -------- */

.nodes-widget{
    position: relative;
    border:1px solid @nodes-widget-border;

    &-uploader.dropzone {
        height: 200px;
        display: none;
    }

    .uk-form-label{
        position: absolute;
        left:70px;
        height:55px;
        line-height:59px;

        &:before{
            display: none;
        }
    }
    &-nav{
        height:45px;
        border-bottom:1px dashed @nodes-widget-border;

        @media (min-width: @screen-lg-min) {
            height: 55px;
        }

        .uk-navbar-brand{
            .widgetNavBarBrand();
        }

        .uk-icon-rz-global-nodes{
            font-size: 30px;
        }

        .nodes-widget-quick-creation{
            margin:11px 0;
        }

        .uk-navbar-content {
            padding: 0 10px;
        }

        .uk-button{
            background: @nodes-widget-btn-bg;
            margin-right:6px;
            border: 1px solid @nodes-widget-btn-border;
            color: @nodes-widget-btn-color;

            &:last-child{
                margin-right:0;
            }

            &:hover{
                border-color:darken(@nodes-widget-btn-border, 15%);
                background-color:darken(@nodes-widget-btn-bg, 10%);
                color: darken(@nodes-widget-btn-color, 15%);
            }
        }
    }

    &-sortable{
        margin:0;
        padding:20px 25px 12px;
        background:#fff;
    }
}


.nodes-widget-sortable-list-item,
.nodes-widget-dragging {
    position: relative;
    display: inline-block;
    width: 240px - 15;
    height: @nodes-widget-height - 7 - 6;
    margin:0 10px 0 0;
    padding: 7px 0 6px 15px;
    background: #E5E5E5;
    color:#666;
    font-size:12px; line-height:@nodes-widget-height;
    font-weight: 600;
    overflow: hidden;
    cursor: default;
    .border-radius(3px, 3px, 0, 0);
    .transition(0.4s background @easeOutExpo);

    // Do not set border-box
    // it bugs with dragged class
    //.box-sizing();

    &:hover{
        background: darken(#DDD, 3%);
        .node-links{
            right:0px;
        }
    }

    /*.uk-sortable-handle{
        position: absolute;
        width:80px; height:80px;

        &:after{
            display: none;
        }
    }*/

    .node-border{
        position: absolute;
        top:0; bottom:0; left:0;
        width:4px;
        background:@contrast-color;
    }

    .node-links {
        position:absolute;
        width:@nodes-widget-height*2; height:@nodes-widget-height;
        top:0; right:-@nodes-widget-height*2;
        overflow: hidden;
        .transition(0.4s right @easeOutExpo);

        .node-link{ // a
            display: inline-block;
            width:@nodes-widget-height; height:@nodes-widget-height;
            .rounded(0);
            color:#333;
            .opacity(0.95);
            vertical-align: top;

            &:hover{
                color:darken(#333, 10%);
            }
            &:first-child{
                background: #aaa;

                &:hover{
                    background: darken(#aaa, 10%);
                }
            }

            i{
                margin:0;
                line-height:@nodes-widget-height;
            }

            .label{
                display: none;
            }
        }
    }
    .parent-node-name {
        font-size: 8px;
        text-transform: uppercase;
        display: block;
        line-height: 11px;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.07em;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding-right: 10px;

        span {
            &.sub {
                &:after {
                    content: '/';
                    display: inline-block;
                    margin: 0px 3px;
                }
            }
        }
    }

    .node-name {
        line-height: 16px;
        display: block;
        padding-right: 10px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.not-published {
        opacity: 0.5;
        .node-name {
            font-style: italic;
        }
    }

    .link-button{
        display: none;
    }
}
