.root-tree {
	margin: 0px;
	padding: 0px;
}

.nodetree {

	&-element {
		&-inner {
			position: relative;
		}
		&-name {
			vertical-align: middle;
			font-size: 12px;
			display: inline-block;
			position: relative;
			max-width: 80%;

			a {
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	&-contextualmenu {
		position: absolute;
		right: 22px;
		top: 2px;

		.uk-icon-caret-down {
			font-size: 10px;
		}
		&.uk-open {
			.uk-button-mini {
				background: white;
			}
		}
	}
}


.uk-nestable {

	&-item {
		margin-bottom: 1px;
	}
	&-placeholder {
		margin-bottom: 1px;
	}
	&-list {
		padding-left: 30px;
	}
	&-handle {
		font-size: 15px;
		vertical-align: middle;
	}
}