
.tagtree {
    &-element {
        &-inner {
            position: relative;
        }

        &-name {
            vertical-align: middle;
            font-size: 12px;
            display: inline-block;
            position: relative;
            max-width: 80%;

            a {
                white-space: nowrap;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &:hover {

            & > .uk-nestable-item > .tagtree-contextualmenu {
                .opacity(1);
            }

            .tagtree-bulk-selection {
                input[type="checkbox"] {
                    display: block;
                }
            }
        }
    }

    &-contextualmenu {
        position: absolute;
        top: 3px; right: 22px;

        .opacity(0);

        .uk-icon-caret-down {
            font-size: 10px;
            margin: 0 0 0 1px;
        }

        .uk-dropdown-small{
            padding:0;

            .uk-nav{

                &> p{
                    padding:0;
                    height:40px; line-height:40px;

                    &:hover{
                        background: #ebebeb;
                    }

                    &> a{
                        display: block;
                        border-bottom: 1px dashed @contextualdropdown-border-color;
                        padding-left: 16px;
                        padding-right: 11px;
                        font-weight: bold;

                        &> i{
                            line-height:40px;
                        }
                    }
                }
            }
        }
    }
}

#tagtree-widget{
    .root-tree{
        &> .uk-nestable-list-item{
            &> .uk-nestable-item{
                padding-left: 6px;
            }
        }
    }
    .uk-nestable{
        .uk-nestable-list-tag{
            padding-left:13px;

            &> .uk-nestable-list-item-tag {
                .uk-nestable-list-item-tag {
                    margin-left: 6px;
                }
            }
        }

        .uk-nestable-handle-tag {
            display: inline-block;
            vertical-align: middle;
            color: darken(@maintree-global-bg, 30%);

            &:after{
                display: none;
            }
        }
    }
}

.uk-nestable-list-dragged {

     .uk-nestable-tag,
     .uk-nestable-list-tag {

        .uk-nestable-handle {
            &:after {
                content: none;
            }
        }

        .uk-nestable-handle-tag{
            color:darken(@maintree-global-bg, 30%);
            &:after{
                display: none;
            }
        }
    }
}
