/*------------------------------------*\
   ACTIONS MENU
\*------------------------------------*/


/* -------- VARS -------- */
@action-menu-border-size: 4px;
@action-menu-H: 46px;
@action-menu-W: @action-menu-H + @action-menu-border-size;
@action-submenu-H: 36px;
@separation-border-color: #DDDDDD;
@item-global-color: #808080;
@item-global-label-color: #999999;
@item-global-border-color: #cecece;
@item-global-background: #f9f9f9;
@subnav-W: 240px;

/* -------- STYLES -------- */

.action-menu-icon(){
    .rounded(100%);
    position: relative;
    display: inline-block;
    background: @item-global-background;
    vertical-align: middle;
    border: 1px solid @item-global-border-color;
    color: @item-global-color !important;
    width: 32px;
    height: 32px;
    margin: 0;
    text-align: center;
    z-index: 2;
    font-size: 16px;

    border-color: @item-global-border-color !important;

    &:before {
        position: relative;
        top: 28%;
        text-align: center;
    }
}

.actions-menu {
    @media (max-width: @screen-xs-max) {
        position: relative;
        width: auto;
        height: auto;
        top: auto;
        right: 0;
        box-shadow: none;
        background: none;
        padding: 20px 15px;
        border-top: 3px solid #E5E5E5;
        z-index:4;
    }

    @media (min-width: @screen-sm-min) {
        position: fixed;
        top: 220px;
        right: @action-menu-W * -1;
        z-index: 9999;
        width: @action-menu-W;
        .box-sizing();
        background:white;
        box-shadow: 3px 5px 30px rgba(0,0,0,0.1);
    }

    @media (min-width: @screen-sm-min) and (min-height: 700px) {
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: @screen-sm-min) {
        header,
        .uk-button {
            position: relative;
            .rounded(0);
            .box-sizing();
            border: 0 none;
            height: @action-menu-H;
            width: 100%;
            white-space: nowrap;
            text-align: left;
            padding: 6px 6px 6px (6px + @action-menu-border-size);
            border-top: 1px solid @separation-border-color !important;
            background-image: none;
            background-color: white;
            z-index: 999;
            justify-content: inherit;

            &.uk-button:first-child,
            &.uk-button:first-child .label {
                border-top: 0 none !important;
            }

            i {
                .action-menu-icon();
                .transition(~'border-color ease 0.3s, color ease 0.3s');
            }

            &:focus,
            &:hover {
                &.uk-button-danger,
                &.uk-button-primary {
                    border-color: @separation-border-color !important;
                    background: white;
                }
                i {
                    border-color: darken(@item-global-border-color, 10%) !important;
                    color: darken(@item-global-color, 20%) !important;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                width: @action-menu-border-size;
                background-color: @item-global-label-color;
                z-index: 99999;
            }
            &.uk-button-primary:before {
                background-color: @contrast-color-darker;
            }
            &.uk-button-danger:before {
                background-color: @alert-color;
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        // for Save button and other too !
        .uk-button {
            .icon-container {
                position: absolute;
                background-color: white;
                top: 0;
                right:0;
                bottom:0;
                left: 0;
                text-align: center;
                padding: 6px 6px 6px (6px + @action-menu-border-size);
                .box-sizing();
                display: block;
                z-index: 2;
            }
            .label {
                z-index: 0;
            }
            .label-text {
                background-color: #999999;
            }
            &:hover {
                border-color: transparent;

                @media (min-width: @screen-sm-min) {
                    .label-text {
                        left: -100%;
                    }
                }
            }

            &.uk-button-primary {
                .label-text {
                    background-color: @contrast-color-darker;
                }
            }
            &.uk-button-danger {
                .label-text {
                    background-color: @alert-color;
                }
            }
        }

        &.uk-active {
            box-shadow: none;
            background-color: #e2e1e1 !important;
            color: #716d6d;
            text-shadow: none;
        }
    }

    // for Classic button
    .no-subnav {
        position: relative;
        &.trash .label-text {
            background-color: @alert-color;
        }
        &:hover {
            @media (min-width: @screen-sm-min) {
                .label-text {
                    left: -100%;
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        .label {
            position: absolute;
            display: block;
            font-size: 12px;
            line-height: @action-menu-H;
            font-weight: bold;
            color: #444;
            text-shadow: none;
            height: 100%;
            top: 0;
            left: 0;
            border:none;
            // border-top: 1px solid transparent;
            .box-sizing();

            .label-text {
                position: relative;
                display: block;
                color: white;
                height: 100%;
                padding: 0 20px;
                z-index: 999;
                left: 0;
                .transition(left 0.3s ease);
            }
        }
    }

    // for Subnav button
    .with-subnav {
        position: relative;
        height: @action-menu-H;
        border-top:none;
        .box-sizing();

        &.node-status header {
            background-color: #676767;
            &:before, .label {
                background-color: darken(@item-global-label-color, 20%);
            }
        }

        &.reverse {
            nav, ul {
                top: auto;
                bottom: @action-menu-H;
            }

            .label:after {
                transform: rotate(180deg);
            }
        }

        header {
            .label {
                display: none;
                width: @subnav-W;
                left: -@subnav-W;
                background-color: @item-global-label-color;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #DADADA;
                    right: 18px;
                    top: (@action-menu-H / 2) - 1;
                }
            }
        }
        &:nth-child(even) {
            header {
                &:before, .label {
                    background-color: lighten(@item-global-label-color, 10%);
                }
            }
            nav,ul {
                border-left-color: lighten(@item-global-label-color, 10%)
            }
        }
        nav,
        ul {
            display: none;
            position: absolute;
            margin: 0px;
            padding: 0px;
            width: @subnav-W;
            right: @action-menu-W;
            top: @action-menu-H;
            z-index: 10000;
            border-right: 1px dashed @item-global-border-color;
            border-bottom: 1px solid @item-global-border-color;
            border-left: @action-menu-border-size solid @item-global-label-color;
            .box-sizing();
            box-shadow: 3px 5px 20px rgba(0,0,0,0.1);

            .uk-button,
            li {
                position: relative;
                border: 0 none;
                height: @action-submenu-H;
                white-space: nowrap;
                text-align: left;
                padding: 0 9px;
                border-top: 1px solid @separation-border-color;
                background-color: @item-global-background;
                .box-sizing();
                line-height: @action-submenu-H;

                &:before {
                    display: none;
                }
                &:first-child {
                    border-top: 0 none;
                }
                i {
                    .action-menu-icon();
                    .transition(~'border-color ease 0.3s, color ease 0.3s');

                    width: 24px;
                    height: 24px;
                    font-size: 14px;

                    &::before {
                        top: 21%;
                    }
                }

                .label {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: @action-submenu-H;
                    padding-left: 9px;
                    &:before {
                        display: none;
                    }
                }
                .bootstrap-switch {
                    position: absolute;
                    right: 10px;
                    top: @action-menu-border-size;
                }
                &:hover {
                    background: white;
                    i {
                        border-color: darken(@item-global-border-color, 10%);
                        color: darken(@item-global-color, 20%)
                    }
                }
            }
           input[type=radio] {
                position: absolute;
                right: 16px;
                top: 8px;
            }
        }
        nav {
            .uk-button {
                line-height: 1.4em;
                white-space: normal;
                flex-wrap: wrap;
                align-content: center;

                time {
                    margin-right: 1em;
                }
            }

            &.versions-nav {
                .uk-button {
                    line-height: 1.4em;
                    white-space: normal;
                    flex-wrap: wrap;
                    align-content: center;
                    height: auto;
                    padding: 5px 15px;
                }
            }
        }

        &:focus {
            outline: none;
        }

        &:focus,
        &:hover {
            nav,ul, header .label  {
                display: block;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                width: 15px;
                height: 20px;
                z-index: 999999;
                position: absolute;
            }

            &:before {
                top: -20px;
            }
        }
    }
}

.node-statuses-item{
    cursor:pointer;
}
