/*------------------------------------*\
   BUTTONS
\*------------------------------------*/


/*
 * Override ui kit buttons styles & colors
 */


/* -------- STYLES -------- */
.uk-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    .border-radius(0px);
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    .transition(~'0.35s ease border-color, 0.5s ease background, opacity 0.5s linear');
    //padding: 1px 8px 0;
    padding: 0 8px 0;

    @media (min-width: @screen-sm-min) {
        padding: 1px 13px 0;
    }

    background: @grey-form-submit;
    border-color: @grey-form-submit-border;
    color: @grey-form-submit-color;

    &:hover, &:active, &:focus {
        background-color: @grey-form-submit-hover;
        border-color: #888888;
        color: #333;
    }

    [class*=uk-icon-]{
        font-size:12px;
        margin:0 4px 0 0;
    }

    [class*=uk-icon-rz-] {
        font-size: 14px;
    }

    @media screen and (min-width: 1380px) {
        height: 36px;
        font-size: 12px;
        line-height: 34px;

        [class*=uk-icon-]{
            font-size: 16px;
        }

        [class*=uk-icon-rz-] {
            font-size: 16px;
        }
    }

    &-small {
        height: 25px;
        line-height: 25px;

        [class*=uk-icon-] {
            font-size: 14px;
            line-height: 25px;
        }

        @media screen and (min-width: 1380px) {
            height: 30px;
            line-height: 28px;

            [class*=uk-icon-] {
                font-size: 16px;
            }
        }
    }

    &-select-all {
        height: 32px;
        line-height: 30px;

        [class*=uk-icon-] {
            font-size: 14px;
        }
    }

    &-filter{
        width: 32px;
        height: 32px;
        line-height: 30px;
        padding:0;
        background: white;
        text-shadow: none;
        color:#909090;
        border-color:@grey-form-border;

        [class*=uk-icon-]{
            color:#909090;
            margin:0;
        }

        &:hover{
            background-color:@grey-verylight;
            color: #333;

            [class*=uk-icon-]{
                color:#333;
            }
        }
    }

    &-content{
        width: 25px;
        padding:0;
        margin-left:-1px;

        &:first-child{
            margin-left: 0;
        }

        [class*=uk-icon-]{
            display: block;
            margin:0;
        }

        @media screen and (min-width: 1380px) {
            width: 30px;
        }

        &.uk-button-primary {
            background:rgba(@contrast-color-darker-red, @contrast-color-darker-green, @contrast-color-darker-blue, 0.3);
            border-color: @contrast-color-darker;

            [class*=uk-icon-]{
                color: darken(@contrast-color-darker, 10%);
            }

            &:hover, &:focus{
                background:rgba(@contrast-color-darker-red, @contrast-color-darker-green, @contrast-color-darker-blue, 0.3);
                border-color:darken(@contrast-color-darker, 15%);

                [class*=uk-icon-]{
                    color: darken(@contrast-color-darker, 15%);
                }
            }
        }

        &.uk-button-danger {
            background:rgba(@alert-color-red, @alert-color-green, @alert-color-blue, 0.2);
            border-color: @alert-color;

            [class*=uk-icon-]{
                color: @alert-color;
            }

            &:hover, &:focus{
                background:rgba(@alert-color-red, @alert-color-green, @alert-color-blue, 0.2);
                border-color:darken(@alert-color, 15%);

                [class*=uk-icon-]{
                    color: darken(@alert-color, 15%);
                }
            }
        }
    }
}

.uk-button-mini {
    width: 17px;
    height: 17px;
    padding: 0px;
    min-width: 17px;
    min-height: 17px;
    line-height: 17px;
    font-size: 10px;
    .rounded(100%);
    border: none;
    background: darken(@maintree-global-bg, 3%);
    color: darken(@maintree-global-bg, 30%);
}

.uk-button-status{
    display: inline-block;
    display: inline-flex;
    width:20px;
    height:20px;
    margin:2px;
    line-height:18px;
    color: #666;
    border: 1px solid @grey-form-border;
    background-color: #F2F2F2;
    text-align: center;
    .rounded(100%);
    align-items: center;
    justify-content: center;

    [class*=uk-icon-] {
        margin:0;
        font-size: 14px;
    }

    @media screen and (min-width: 1380px) {
        width:30px;
        height:30px;
        line-height:28px;

        [class*=uk-icon-]{
            font-size: 16px;
        }
    }
}

.uk-button-success {
    &:not(:disabled) {
        background: @grey-form-submit;
        border-color: @grey-form-submit-border;
        color: @grey-form-submit-color;

        &:hover, &:active, &:focus {
            background-color: @grey-form-submit-hover;
            border-color: #888888;
            color: #333;
        }
    }
}

// .uk-button-hidden,
.uk-button-locked,
.uk-button-warning {
    &:not(:disabled) {
        background: fade(@warning-color, 20%);
        border-color: @warning-color;
        color: darken(@warning-color, 15%);
        text-shadow: none;

        [class*=uk-icon-] {
            color: darken(@warning-color, 15%);
        }

        &:hover, &:active, &:focus {
            background: @warning-color;
            border-color: @warning-color;
            color: white;

            [class*=uk-icon-] {
                color: white;
            }
        }
    }
}
.uk-button-deleted,
.uk-button-danger {
    &:not(:disabled) {
        background: fade(@alert-color, 20%);
        border-color: @alert-color;
        color: darken(@alert-color, 15%);
        text-shadow: none;

        [class*=uk-icon-] {
            color: darken(@alert-color, 15%);
        }

        &:hover, &:active, &:focus {
            background: @alert-color;
            border-color: @alert-color;
            color: white;

            [class*=uk-icon-] {
                color: white;
            }
        }
    }
}

.uk-button-primary {
    &:not(:disabled) {
        background: @contrast-color-darker;
        border-color: transparent;
        color: white;
        text-shadow: none;

        [class*=uk-icon-]{
            color: white;
        }

        &:hover, &:active, &:focus {
            background: @contrast-color;
            border-color: transparent;
            color: white;
        }
    }
}

.uk-button:disabled,
.uk-button-disabled {
    .opacity(0.4);
}

.uk-icon-button {
    display: inline-block;
    font-size: 20px;
    .box-sizing();
    .rounded(100%);
    width: 36px;
    height: 36px;
    line-height: 34px;
    color: #444;
    text-align: center;
    border: 1px solid @user-panel-text-alt-color;
    background-origin: border-box;
    text-shadow: 0 1px 0 #fff;
    background: #333333;
    .opacity(0.8);
    .transition(~"border-color 0.3s linear, background 0.3s linear, opacity 0.3s linear");

    &:hover {
        .opacity(0.8);
        border-color:@contrast-color;
        background: #333333;
    }
}

.uk-button-dropdown{
    .uk-icon-caret-down{
        margin:-2px 0 0 4px;
    }
}

// Statuses
.uk-button-draft{
    background: #e0e0e0;

    [class*=uk-icon-]{
        color:#333;
    }
}

.uk-button-pending{
    background: #d3d3d3;

    [class*=uk-icon-]{
        color:#333;
    }
}

.uk-button-archived{
    background: #b2b2b2;
    border-color:#d3d3d3;

    [class*=uk-icon-]{
        color:#333;
    }
}

.uk-button-table-save{
    background:rgba(@contrast-color-darker-red, @contrast-color-darker-green, @contrast-color-darker-blue, 0.3);
    border-color: @contrast-color-darker;

    [class*=uk-icon-]{
        color: darken(@contrast-color-darker, 10%);
    }

    &:hover, &:focus{
        background:rgba(@contrast-color-darker-red, @contrast-color-darker-green, @contrast-color-darker-blue, 0.3);
        border-color:darken(@contrast-color-darker, 15%);

        [class*=uk-icon-]{
            color: darken(@contrast-color-darker, 15%);
        }
    }
}

.uk-button-table-delete,
.uk-button-bulk-delete {
    background:rgba(@alert-color-red, @alert-color-green, @alert-color-blue, 0.2);
    border-color: @alert-color;

    [class*=uk-icon-]{
        color: @alert-color;
    }

    &:hover, &:focus{
        background:rgba(@alert-color-red, @alert-color-green, @alert-color-blue, 0.2);
        border-color:darken(@alert-color, 15%);

        [class*=uk-icon-]{
            color: darken(@alert-color, 15%);
        }
    }
}


.uk-button-bulk{
    width:  50px;
    height: 50px;
    padding: 8px 6px;
    margin-left:-1px;

    @media (max-width: @screen-xs-max) {
        width:  50px;
        height: 50px !important;
    }

    [class*=uk-icon-] {
        width:34px;
        height:34px;
        margin: 0;
        font-size: 16px;
        line-height:32px;
        background:#fff;
        .rounded(18px);
        border:1px solid #cbcbcb;
        .box-sizing();

        transition: 0.35s ease border-color, 0.5s ease background;
    }

    &.uk-button-bulk-delete{
        [class*=uk-icon-] {
            border-color: @alert-color;
        }
    }

    &:hover,
    &:focus {
        [class*=uk-icon-] {
            border-color: rgba(255, 255, 255, 0.5);
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

.uk-button-bulk-form{
    height:32px;
}

.rz-geotag-reset{
    width:36px;
    height:36px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
