<section class="uk-width-2-10" id="user-panel">
	<img width="200" height="200" class="uk-thumbnail" src="" alt="">
	<h3>{{ session.user.getUsername }}</h3>
	<h4>{{ session.user.getFirstName }}</h4>

	<p><a class="uk-button" href="{{ path('logoutPage') }}"><i class="uk-icon-sign-out"></i> {% trans %}Logout{% endtrans %}</a></p>
</section>