/*------------------------------------*\
   HISTORY
\*------------------------------------*/


/*
 * History page
 */


/* -------- STYLES -------- */

.history-log-item{
    position: relative;
    vertical-align: top;
    display: block;
    align-items: stretch;
    width:100%;
    border-top:1px solid #cccccc;
    background:#fff;

    @media (min-width: @screen-sm-min) {
        display: flex;
    }

    &:last-child {
        border-bottom:1px solid #cccccc;
    }

    .table {
        display: table;
    }

    .table-cell{
        display: table-cell;
        vertical-align:middle;
    }

    .history-log-date {
        display: flex;
        align-items: center;
        width:20%;
        padding:10px 20px;
        background: #eee;
        color:#232323;
        font-size:12px;
        .box-sizing();
    }

    .history-log-user{
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin-left: -20px;
        width: 40px;

        .box-sizing();

        &:before{
            position: absolute;
            content:'';
            top: 30px;
            left: -13px;
            width:15px;
            height:1px;
            background:#909090;
        }

        .user-image {
            position: relative;
            vertical-align: middle;
            top:10px;
            width:40px;
            height:40px;
            box-shadow: none;
        }

        .user-image-default{
            background: #c9c9c9;
            text-align: center;
            .rounded(100%);

            .uk-icon-rz-users{
                font-size:24px;
                line-height:40px;
                color:#969696;
            }
        }
    }

    .history-log-source {
        figure,
        .no-thumb {
            display: block;
            margin: 0px 20px 0 0;
        }

        img,
        .no-thumb {
            width: 40px;
            height: 40px;
            max-width: none;
            background-color: #CCC;
            .rounded(30px);
        }
    }

    .history-log-message-details {
        display: none;
    }


    .history-log-message {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 12px;
        line-height: 18px;
        color:#4c4c4c;
        width: 80%;
        .box-sizing();

        .table-cell {
            &:active,
            &:focus {
                .history-log-message-details {
                    display: block;
                }
            }
        }
    }

    &.has-user,
    &.has-source {
        min-height: 60px;
    }

    &.has-user .history-log-date,
    &.has-source .history-log-date {
        padding-right: 35px;
    }

    &.has-source {
        .history-log-message {
            padding-left: 3px;
        }
    }

    &:nth-child(2n){
        background: @grey-verylight;

        .history-log-date{
            background: #e5e5e5;
        }
    }
}
