{% if nodeTree %}
<nav class="nodetree-widget" {% if head.ajax %}style="display:none;"{% endif %}>
    {% if mainNodeTree %}
        <h4>{% trans %}nodeTree{% endtrans %}</h4>    
        {% if nodeTree.getRootNode == null %}
            <a href="{{ path('nodesAddChildPage', {nodeId : 0}) }}" class="tree-btn-add" id="nodetree-btn-add"><i class="uk-icon-rz-plus-simple"></i>{% trans %}add.node{% endtrans %}</a>
        {% else %}
            <a href="{{ path('nodesAddChildPage', { nodeId : nodeTree.getRootNode.getId }) }}" class="tree-btn-add" id="nodetree-btn-add"><i class="uk-icon-rz-plus-simple"></i>{% trans %}add.child.node{% endtrans %}</a>
        {% endif %}
    {% endif %}
	<ul class="root-tree uk-nestable" data-uk-nestable="{'group':'nodeTree'}" data-parent-node-id="{{ node.getId }}">
		{% for cnode in nodeTree.getNodes %}
			{% include 'widgets/nodeTree/singleNode.html.twig' with { "node":cnode, "nodeTree":nodeTree, "securityContext":securityContext, "mainNodeTree":mainNodeTree} only %}
		{% endfor %}
	</ul>
</nav>
{% endif %}
