{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node">
	<h1 id="node-title">Tree {{ source.getTitle }}</h1>
	{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
	{% include 'nodes/navBar.html.twig' with {"current": 'tree'} %}
	{% include 'widgets/nodeTree.html.twig' with { "nodeTree":specificNodeTree, "node":specificNodeTree.getRootNode } only %}
</section>
{% endblock %}