/*------------------------------------*\
   LESS 1280
\*------------------------------------*/

@media screen and (max-width: @screen-md-max) {
    /* -------- STYLES -------- */

    // Node edit list
    .node-type-field-head-name, .node-type-field-name{
        width:25%;
    }

    .node-type-field-head-label, .node-type-field-label{
        width:25%;
    }

    .node-type-field-head-type, .node-type-field-type{
        width:25%;
    }

    .navbar-navigation > .uk-navbar-nav li a {
        font-size: 12px;
    }
}
