/* ========================================================================
   Component: Icon
 ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/rozier-icons.otf");
  // src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
  //      url("../fonts/fontawesome-webfont.woff") format("woff"),
  //      url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rz-icons-admin-entries';
  src: url("../fonts/rz-icons-admin-entries.eot?#iefix") format("embedded-opentype"),
       url("../fonts/rz-icons-admin-entries.woff") format("woff"),
       url("../fonts/rz-icons-admin-entries.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class*=uk-icon-rz-] {
  font-family: 'rz-icons-admin-entries';
}

/* Icon mapping admin entries panel
 ========================================================================== */
 .uk-icon-rz-dashboard:before {
  content: "\e600";
}
.uk-icon-rz-interactions:before {
  content: "\e601";
}
.uk-icon-rz-tags:before {
  content: "\e602";
}
.uk-icon-rz-documents:before {
  content: "\e603";
}
.uk-icon-rz-construction:before {
  content: "\e604";
}
.uk-icon-rz-user-fill:before {
  content: "\e605";
}
.uk-icon-rz-settings:before {
  content: "\e606";
}

/* Icon mapping admin subentries panel
 ========================================================================== */
 .uk-icon-rz-surveys:before {
  content: "\e60b";
}
.uk-icon-rz-newsletter:before {
  content: "\e60c";
}
.uk-icon-rz-subscribers:before {
  content: "\e60d";
}
.uk-icon-rz-comments:before {
  content: "\e60e";
}

.uk-icon-rz-nodes:before {
  content: "\e60f";
}
.uk-icon-rz-node-type:before {
  content: "\e610";
}
.uk-icon-rz-translate:before {
  content: "\e611";
}
.uk-icon-rz-themes:before {
  content: "\e612";
}
.uk-icon-rz-font:before {
  content: "\e613";
}

.uk-icon-rz-user:before {
  content: "\e614";
}
.uk-icon-rz-roles:before {
  content: "\e615";
}
.uk-icon-rz-groups:before {
  content: "\e616";
}

/* Icon mapping users panel
 ========================================================================== */
  .uk-icon-rz-flash:before {
  content: "\e619";
}
 .uk-icon-rz-flashimage:before {
  content: "\e61a";
}
.uk-icon-rz-turn-off:before {
  content: "\e621";
}
.uk-icon-rz-question-mark:before {
  content: "\e61b";
}
.uk-icon-rz-rezozero:before {
  content: "\e61c";
}
.uk-icon-rz-cogs:before {
  content: "\e607";
}

/* Icon mapping tree panel
 ========================================================================== */
.uk-icon-rz-home:before {
  content: "\e61d";
}
.uk-icon-rz-node-tree:before {
  content: "\e608";
}
.uk-icon-rz-tags-tree:before {
  content: "\e609";
}

/* Icon mapping
 ========================================================================== */
.uk-icon-rz-earth:before {
  content: "\e60a";
}
.uk-icon-plugins:before {
  content: "\f208";
}
.uk-icon-import-cloud:before {
  content: "\f204";
}

.uk-icon-configuration:before {
  content: "\f209";
}
.uk-icon-dev-settings:before {
  content: "\f207";
}
.uk-icon-statistics:before {
  content: "\f210";
}

.uk-icon-cart:before {
  content: "\f214";
}
.uk-icon-plug:before {
  content: "\f218";
}
.uk-icon-star-outline:before {
  content: "\f219";
}
.uk-icon-single-tag-outline:before {
  content: "\f225";
}
.uk-icon-single-tag:before {
  content: "\f228";
}
.uk-icon-folder-open:before {
  content: "\f230";
}
.uk-icon-burger-menu:before {
  content: "\f232";
}
.uk-icon-single-node:before {
  content: "\f233";
}
.uk-icon-plus-light:before {
  display: block;
  width: 20px; height: 20px;
  content: "";
  .matrix-icon();
  background-position: 6px (@icon-size*-1)+4px;
}
.uk-icon-minus-light:before {
  display: block;
  width: 20px; height: 20px;
  content: "";
  .matrix-icon();
  background-position: 6px 9px;
}

/* Actions icons
 ========================================================================== */
.uk-icon-rz-plus:before {
  content: "\e632";
}
.uk-icon-rz-save:before {
  content: "\e622";
}
.uk-icon-rz-save-simple:before {
  content: "\e623";
}
.uk-icon-rz-save-mini:before {
  content: "\e624";
}
.uk-icon-rz-save-simple-mini:before {
  content: "\e625";
}
.uk-icon-rz-save-mini-o:before {
  content: "\e626";
}
.uk-icon-rz-save-simple-mini-o:before {
  content: "\e627";
}
.uk-icon-rz-trash:before {
  content: "\e628";
}
.uk-icon-rz-trash-mini:before {
  content: "\e629";
}
.uk-icon-rz-trash-mini-o:before {
  content: "\e62a";
}
.uk-icon-rz-actions:before {
  content: "\e62b";
}
.uk-icon-rz-actions-mini:before {
  content: "\e62c";
}
.uk-icon-rz-check:before {
  content: "\e62d";
}
.uk-icon-rz-check-o:before {
  content: "\e62e";
}

.uk-icon-rz-pencil:before {
  content: "\e633";
}
.uk-icon-rz-visibility-on:before {
  content: "\e638";
}
.uk-icon-rz-visibility-off:before {
  content: "\e63a";
}
.uk-icon-rz-visibility-mini-on:before {
  content: "\e63c";
}
.uk-icon-rz-visibility-mini-off:before {
  content: "\e63d";
}
.uk-icon-rz-published:before {
  content: "\e63e";
}
.uk-icon-rz-published-mini:before {
  content: "\e63f";
}
.uk-icon-rz-unpublished:before {
  content: "\e640";
}
.uk-icon-rz-unpublished-mini:before {
  content: "\e641";
}
.uk-icon-rz-stack:before {
  content: "\e62a";
}
.uk-icon-rz-lock:before {
  content: "\e62a";
}
.uk-icon-rz-lock-mini:before {
  content: "\e62a";
}
.uk-icon-rz-sterile:before {
  content: "\e642";
}
.uk-icon-rz-sterile-mini:before {
  content: "\e643";
}
.uk-icon-rz-archive:before {
  content: "\e644";
}
.uk-icon-rz-archive-mini:before {
  content: "\e645";
}



.uk-icon-rz-duplicate:before {
  content: "\f401";
}
.uk-icon-carret-return:before {
  content: "\f403";
}
.uk-icon-unbreakable-space:before {
  content: "\f404";
}
.uk-icon-document-explorer:before {
  content: "\f405";
}
.uk-icon-headline-1:before {
  content: "\f406";
}
.uk-icon-headline-2:before {
  content: "\f407";
}
.uk-icon-headline-3:before {
  content: "\f408";
}
.uk-icon-headline-4:before {
  content: "\f409";
}
.uk-icon-headline-5:before {
  content: "\f410";

.uk-icon-node-type-mini:before {
  content: "\f301";
}
.uk-icon-translate-mini:before {
  content: "\f302";
}
.uk-icon-themes-mini:before {
  content: "\f303";
}
.uk-icon-font-mini:before {
  content: "\f304";
}
.uk-icon-surveys-mini:before {
  content: "\f305";
}
.uk-icon-newsletter-mini:before {
  content: "\f306";
}
.uk-icon-subscribers-mini:before {
  content: "\f307";
}
.uk-icon-comment-round-mini:before {
  content: "\f308";
}
.uk-icon-tags-mini:before {
  content: "\f309";
}
.uk-icon-settings-mini:before {
  content: "\f310";
}
.uk-icon-plug:before {
  content: "\f311";
}
.uk-icon-plugins-mini:before {
  content: "\f312";
}
.uk-icon-dev-settings-mini:before {
  content: "\f313";
}
.uk-icon-cloud-upload-mini:before {
  content: "\f314";
}
.uk-icon-cart-mini:before {
  content: "\f315";
}
.uk-icon-users-mini:before {
  content: "\f316";
}
.uk-icon-roles-mini:before {
  content: "\f317";
}
.uk-icon-clear-image-mini:before {
  content: "\f321";
}
.uk-icon-clear-cache-mini:before {
  content: "\f322";
}

/*
 * Icons actions
 */

}

.uk-icon-node-type-fields:before {
  content: "\f411"; // Hinting à revoir !
}
.uk-icon-super-tag:before {
  content: "\f412";
}
.uk-icon-tree-big:before {
  content: "\f414";
}
.uk-icon-separator:before {
  content: "\f415";
}
.uk-icon-embed:before {
  content: "\f416";
}
.uk-icon-archive-simple:before {
  content: "\f417";
}
.uk-icon-goto-end-simple:before {
  content: "\f418";
}
.uk-icon-goto-start-simple:before {
  content: "\f419";
}
.uk-icon-goto-end-bold:before {
  content: "\f420";
}
.uk-icon-goto-start-bold:before {
  content: "\f421";
}

.uk-icon-cloud-download:before {
  content: "\f424";
}
.uk-icon-cloud-upload:before {
  content: "\f425";
}



.uk-icon-folder-minus:before {
  content: "\f427";
}
.uk-icon-folder-plus:before {
  content: "\f428";
}
.uk-icon-folder-tree:before {
  content: "\f430";
}
.uk-icon-is-container:before,
.uk-icon-folder-on:before {
  content: "\f448";
}
.uk-icon-folder-off:before {
  content: "\f447";
}

.uk-icon-sudo:before {
  content: "\f429";
}

.uk-icon-clear-image-cache:before {
  content: "\f432";
}
.uk-icon-basic-tree:before {
  content: "\f433";
}

.uk-icon-cross-bold:before {
  content: "\f434";
}
.uk-icon-cross-simple:before {
  content: "\f435";
}
.uk-icon-check-light:before {
  content: "\f436";
}


.uk-icon-informations:before {
  content: "\f442";
}
.uk-icon-cloud-on:before {
  content: "\f445";
}
.uk-icon-cloud-off:before {
  content: "\f446";
}
.uk-icon-node-on:before {
  content: "\f450";
}
.uk-icon-node-sterile:before,
.uk-icon-node-off:before {
  content: "\f449";
}

.uk-icon-reorder:before {
  content: "\f451";
}
.uk-icon-reorder-down:before {
  content: "\f452";
}
.uk-icon-reorder-up:before {
  content: "\f453";
}

/*
 * Ranks
 */
.uk-icon-shield-a:before {
  content: "\f132";
}
.uk-icon-shield-b:before {
  content: "\f423";
}
.uk-icon-shield-c:before {
  content: "\f422";
}