/* ========================================================================
   Component: Icon
 ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/rozier-icons.otf");
  // src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Icon mapping
 ========================================================================== */
.uk-icon-node-type:before {
  content: "\f201";
}
.uk-icon-refresh-squared:before {
  content: "\f202";
}
.uk-icon-comment-round:before {
  content: "\f203";
}
.uk-icon-import-cloud:before {
  content: "\f204";
}
.uk-icon-translate:before {
  content: "\f205";
}
.uk-icon-settings:before {
  content: "\f206";
}
.uk-icon-dev-settings:before {
  content: "\f207";
}
.uk-icon-plugins:before {
  content: "\f208";
}
.uk-icon-configuration:before {
  content: "\f209";
}
.uk-icon-statistics:before {
  content: "\f210";
}
.uk-icon-templates-builder:before {
  content: "\f211";
}
.uk-icon-documents:before {
  content: "\f212";
}
.uk-icon-dashboard:before {
  content: "\f213";
}
.uk-icon-cart:before {
  content: "\f214";
}
.uk-icon-font:before {
  content: "\f215";
}
.uk-icon-themes:before {
  content: "\f216";
}
.uk-icon-surveys:before {
  content: "\f217";
}
.uk-icon-plug:before {
  content: "\f218";
}
.uk-icon-star-outline:before {
  content: "\f219";
}
.uk-icon-earth:before {
  content: "\f220";
}
.uk-icon-node-tree:before {
  content: "\f221";
}
.uk-icon-user:before {
  content: "\f222";
}
.uk-icon-roles:before {
  content: "\f223";
}
.uk-icon-groups:before {
  content: "\f224";
}
.uk-icon-single-tag-outline:before {
  content: "\f225";
}
.uk-icon-newsletter:before {
  content: "\f226";
}
.uk-icon-subscribers:before {
  content: "\f227";
}
.uk-icon-single-tag:before {
  content: "\f228";
}
.uk-icon-tags:before {
  content: "\f229";
}
.uk-icon-folder-open:before {
  content: "\f230";
}
.uk-icon-user-fill:before {
  content: "\f231";
}
.uk-icon-burger-menu:before {
  content: "\f232";
}
.uk-icon-single-node:before {
  content: "\f233";
}

/*
 * Icons actions
 */
.uk-icon-duplicate:before {
  content: "\f401";
}
.uk-icon-carret-return:before {
  content: "\f403";
}
.uk-icon-unbreakable-space:before {
  content: "\f404";
}
.uk-icon-document-explorer:before {
  content: "\f405";
}
.uk-icon-headline-1:before {
  content: "\f406";
}
.uk-icon-headline-2:before {
  content: "\f407";
}
.uk-icon-headline-3:before {
  content: "\f408";
}
.uk-icon-headline-4:before {
  content: "\f409";
}
.uk-icon-headline-5:before {
  content: "\f410";
}

.uk-icon-node-type-fields:before {
  content: "\f411"; // Hinting à revoir !
}
.uk-icon-super-tag:before {
  content: "\f412";
}
.uk-icon-tree-big:before {
  content: "\f414";
}
.uk-icon-integer:before {
  content: "\f415";
}
.uk-icon-archive-simple:before {
  content: "\f416";
}
.uk-icon-archive-simple:before {
  content: "\f417";
}


.uk-icon-shield-a:before {
  content: "\f132";
}
.uk-icon-shield-b:before {
  content: "\f423";
}
.uk-icon-shield-c:before {
  content: "\f422";
}