<nav data-action-menu class="actions-menu uk-navbar">
    {% apply spaceless %}
    {# Delete current node #}
    {% if user.getId %}
        {% if (is_granted('ROLE_ACCESS_USERS_DELETE')) %}
        <a class="uk-button uk-button-danger" href="{{ path('usersDeletePage', { userId: user.getId}) }}">
            <span class="icon-container"><i class="uk-icon-trash-o"></i></span>
            <span class="label"><span class="label-text">{% trans %}delete{% endtrans %}</span></span>
        </a>
        {% endif %}
    {% endif %}
    {% endapply %}
</nav>
