{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-user">
	<h1 id="user-title">{{ "delete.user.%name%"|trans({'%name%': user.getUserName }) }}</h1>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}are_you_sure.delete.user{% endtrans %}</legend>
	    	<a href="{{ path('usersHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
