{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-user">
	<h1 id="user-title">Edit {{ user.getFirstname }}</h1>
	{% include 'users/navBar.html.twig' with {'user':user, current:'edit'} %}

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
