{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global delete-user">

    <header class="content-header header-user header-user-delete">
        <h1 class="content-title user-delete-title">{{ "remove.user.%name%.role.%role%"|trans({'%name%': user.username, '%role%': role.getName})|u.truncate(25, '[…]', true) }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.remove.user.role{% endtrans %}</legend>
                <a href="{{ path('usersEditRolesPage', { userId: user.getId }) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-trash-o"></i> {% trans %}remove{% endtrans %}</button>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}
