{% if source.title %}
	{% set title = source.title %}
{% else %}
	{% set title = source.node.nodeName %}
{% endif %}

{% set children = source|children %}

<li data-node-id="{{ source.node.id }}"
	class="{% if source.node.id == activeId %}active uk-active{% endif %} {% if children|length and level < 1 %}uk-parent{% endif %}"
	{% if children|length and level < 1 %}data-uk-dropdown{% endif %}>

	<a href="{{ source|url }}">{{ title }}</a>

	{% if children|length and level < 1 %}
	<div class="uk-dropdown">
		<ul class="uk-nav uk-nav-dropdown">
			{% for subsource in children %}
			{% include '@DefaultTheme/modules/navigationElement.html.twig' with {
				'source' : subsource,
				'activeId' : activeId,
				'level':(1 + level),
                'securityContext':securityContext
			} only %}
			{% endfor %}
		</ul>
	</div>
	{% endif %}

</li>
