<nav data-action-menu class="actions-menu uk-navbar">
    {% if tag.getId %}
    <a class="uk-button rz-no-ajax-link" href="{{ path('tagsExportPage', { tagId:tag.getId }) }}">
        <span class="icon-container"><i class="uk-icon-rz-download"></i></span>
        <span class="label"><span class="label-text">{% trans %}export{% endtrans %}</span></span>
    </a>
    {% endif %}

    {% if versions and versions|length > 1 %}
        <div role="button" tabindex="0" class="node-actions with-subnav">
            <header><i class="uk-icon-code-fork"></i><span class="label"><span class="label-text">{% trans %}versions{% endtrans %}</span></span></header>
            <nav class="versions-nav">
                <a class="uk-button{% if not currentVersion %} uk-active{% endif %}" href="{{ path('tagsEditTranslatedPage', {
                    tagId: tag.id,
                    translationId: translation.id
                }) }}">{% trans %}versions.working_copy{% endtrans %}</a>
                {% for version in versions %}
                    {% if loop.index0 > 0 and loop.index <= bags.settings.get('max_versions_showed', 6) %}
                        {% include '@Rozier/widgets/versionItem.html.twig' with {
                            version: version,
                            currentVersion: currentVersion,
                            url: path('tagsEditTranslatedPage', {
                                tagId: tag.id,
                                translationId: translation.id,
                                version: version.version
                            })
                        } only %}
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    {% endif %}

    {# Delete current node #}
    {% if (is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked and not readOnly) %}
    {% if tag.getId %}
    <a class="uk-button uk-button-danger" href="{{ path('tagsDeletePage', { tagId: tag.getId}) }}">
        <span class="icon-container"><i class="uk-icon-rz-trash-o"></i></span>
        <span class="label"><span class="label-text">{% trans %}delete{% endtrans %}</span></span>
    </a>
    {% endif %}
    {% endif %}
</nav>
