{% extends 'base.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-delete">
        <h1 class="content-title tag-delete-title">{{ "delete.tag.%name%"|trans({'%name%': tag.getTagName }) }}</h1>
    </header>

    <article class="content content-delete content-tag-delete content-no-action-menu">
        {% form_theme form 'forms.html.twig' %}
        <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend>{% trans %}are_you_sure.delete.tag{% endtrans %}</legend>
                <a href="{{ path('tagsHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}cancel{% endtrans %}</a>
                <input class="uk-button uk-button-danger" type="submit" />
            </fieldset>
        </form>
    </article>

</section>
{% endblock %}
