{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-tag">
	<h1 id="tag-title">{% trans %}Delete tag:{% endtrans %} {{ tag.getTranslatedTags.first.getName }}</h1>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<legend>{% trans %}Are you sure you want to delete this tag?{% endtrans %}</legend>
	    	<a href="{{ path('tagsHomePage') }}" class="uk-button"><i class="uk-icon-reply"></i> {% trans %}Cancel{% endtrans %}</a>
	    	<input class="uk-button uk-button-danger" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}