{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global edit-tag">

    <header class="content-header header-tag header-tag-edit">
        <h1 class="content-title tag-edit-title">{{ "edit.tag.%name%"|trans({'%name%': tag.getTagName }) }}</h1>
        {% include 'tags/navBack.html.twig' with {} only %}
        {% include 'tags/navBar.html.twig' with {"tag": tag, "current": 'edit'} only %}
        {% include 'tags/translationBar.html.twig' with {"tag": tag, "current":translation.getId} %}
    </header>

    <article class="content content-tag-edit">
    	{% form_theme form 'forms.html.twig' %}
        <form id="edit-tag-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	{% spaceless %}
                <button data-action-save="#edit-tag-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
       		</fieldset>
    	</form>
    </article>

    {% include 'tags/actionsMenu.html.twig' %}
</section>
{% endblock %}
