{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-tag">
	<h1 id="tag-title">{% trans %}Edit{% endtrans %} {{ tag.getTranslatedTags.first.getName }}</h1>

	{% include 'tags/navBar.html.twig' with {"tag": tag, "current": 'edit'} %}
	{% include 'tags/translationBar.html.twig' with {"tag": tag, "current":translation.getId} %}

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
