{% extends '@Rozier/layout.html.twig' %}
{% set tTag = tag.getTranslatedTags.first %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-tags header-tags-nodes">
        <h1 class="content-title tags-nodes-title">{{ tTag.getName }}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        {% include '@Rozier/tags/navBack.html.twig' with {} only %}
        {% include '@Rozier/tags/navBar.html.twig' with {"tag": tag, "current": 'nodes'} only %}
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-tags-nodes">
        <div class="content-table-cont">
            <table class="tags content-table uk-table">
                <thead>
                {% include 'nodes/widgets/node-header.html.twig' with {
                    'filters': filters
                } only %}
                </thead>
                <tbody>
                    {% for node in nodes %}
                        {% include 'nodes/widgets/node-row.html.twig' with {
                            'node': node
                        } only %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

</section>
{% endblock %}
