{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-tags header-tags-tree">
        <h1 class="content-title tags-tree-title">{{ "tag.%name%.tree"|trans({'%name%': tag.getTagName })|u.truncate(25, '[…]', true) }}</h1>
        {% include '@Rozier/tags/navBack.html.twig' with {} only %}
        {% include '@Rozier/tags/navBar.html.twig' with {"current": 'tree', "tag":tag} only %}
    </header>

    <article class="content content-tags-tree">
        {% include '@Rozier/widgets/tagTree/tagTree.html.twig' with { "tagTree":specificTagTree, "tag":specificTagTree.getRootTag } only %}
    </article>

    {% include '@Rozier/tags/actionsMenu.html.twig' %}

</section>
{% endblock %}
