{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-tags header-tags-tree">
        <h1 class="content-title tags-tree-title">{{ "tag.%name%.tree"|trans({'%name%': tag.getTagName }) }}</h1>

        {% include 'tags/navBar.html.twig' with {"current": 'tree'} %}

    </header>

    <article class="content content-no-action-menu content-tags-tree">
        {% include 'widgets/tagTree/tagTree.html.twig' with { "tagTree":specificTagTree, "tag":specificTagTree.getRootTag } only %}
    </article>

    {% include 'tags/actionsMenu.html.twig' %}

</section>
{% endblock %}
