{% extends 'base.html.twig' %}

{% if session.user.getFirstName %}
{% set displayName = session.user.getFirstName %}
{% else %}
{% set displayName = session.user.getUsername %}
{% endif %}

{% block content %}
<section id="dashboard" class="content-global-section">
    <header>
        <h1 id="title">{% trans %}hello{% endtrans %}, {{ displayName }}</h1>
    </header>
    {% include 'dashboard/navBar.html.twig' with {'current':'dashboard'} %}
</section>
{% endblock %}