{% extends 'base.html.twig' %}

{% if session.user.getFirstName %}
{% set displayName = session.user.getFirstName %}
{% else %}
{% set displayName = session.user.getUsername %}
{% endif %}

{% block content %}
<section id="dashboard" class="content-global-section">
    <header class="content-header" id="dashboard-header">
        <h1 class="content-title" id="dashboard-title">{{ "hello.%name%"|trans({'%name%': displayName}) }}</h1>
    </header>
    {% include 'dashboard/navBar.html.twig' with {'current':'dashboard'} %}
</section>
{% endblock %}