<nav class="navbar-navigation dashboard-navigation uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        <li class="uk-navbar-item{% if current == 'dashboard' %} uk-active{% endif %}">
            <a class="uk-navbar-link" href="{{ path('adminHomePage') }}">{% trans %}dashboard{% endtrans %}</a>
        </li>
        {% if is_granted('ROLE_ACCESS_LOGS') %}
            <li class="uk-navbar-item{% if current == 'history' %} uk-active{% endif %}" >
                <a class="uk-navbar-link" href="{{ path('historyHomePage') }}">{% trans %}history{% endtrans %}</a>
            </li>
        {% endif %}
    </ul>
    {% endapply %}
</nav>
