.install-theme-content {

    table {
        th {
            font-size: 14px;
            padding: 8px 8px 4px;
            color: #9E9E9E;
            font-weight: normal;
        }
        td {
            font-size: 12px;
            line-height: 18px;
            padding: 8px 8px 4px;
        }
    }


    h4 {
        text-align: center;
    }

    .content-buttons {
        .content-button {
            margin: 10px 5px;

            &:first-child {
                margin-left: 0px;
            }
        }
    }
}
