{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global add-font">

    <header class="content-header header-font header-font-add">
        <h1 class="content-title font-add-title">{% trans %}add.font{% endtrans %}</h1>
    </header>

    <article class="content content-add">
    	{% form_theme form 'forms.html.twig' %}
    	<form id="add-font-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
    	    {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    		    <button data-action-save="#add-font-form" class="uk-button uk-button-primary rz-action-save" type="submit"><i class="uk-icon-rz-plus"></i><span class="label">{% trans %}add.font{% endtrans %}</span></button>
    	   	</fieldset>
    	</form>
    </article>

    {% include 'fonts/actionsMenu.html.twig' with {"font": font} only %}
</section>
{% endblock %}
