.uk-form {
    .rz-collection-form-type-wrapper {
        border: 1px solid #cbcbcb;
        margin: 1.5em 0;

        & > .uk-form-label {
            display: block;
            padding: 1em;
            width: auto;
            border-bottom: 1px solid #cbcbcb;
            background: #F8F8F8;
            margin: 0;

            &:before {
                content: '';
            }
            .form-row-desc {
                margin-bottom: 0;
            }
        }

        & > div[data-prototype] {
            padding: 0;
            border: none;
            background-color: white;
            margin: 0;

            & > .uk-form-row:not(.rz-collection-form-type-wrapper) {
                padding: 1em;
                border-top: 1px dashed #cbcbcb;
                margin: 0;
                display: flex;
                justify-content: space-between;

                &:first-child {
                    border-top: none;
                }

                &:nth-child(even) {
                    background-color: #F8F8F8;
                }

                &:after,
                &:before {
                    content: none;
                    display: none;
                }

                & > .uk-form-label {
                    display: none;
                }

                .uk-form-row + .uk-form-row {
                    margin-top: 0.5em;
                }

                & > .data-uk-margin {
                    margin: 0;
                    width: 100%;

                    & > .uk-form-row:not(.drawer-widget):not(.rz-collection-form-type-wrapper) {
                        flex-wrap: wrap;

                        & > .uk-form-label {
                            display: block;
                            margin-right: 1em;
                            max-width: 300px;
                        }

                        &.form-col-color,
                        &.form-col-checkbox {
                            max-width: none;
                            margin-right: 1em;

                            .form-row-desc {
                                max-width: none;
                            }
                        }

                        @media (min-width: @screen-sm-min) {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            max-width: none;

                            & > input[type="text"],
                            & > input[type="password"],
                            & > input[type="search"],
                            & > input[type="email"],
                            & > textarea {
                                width: auto;
                                flex: auto;
                            }

                            & > .uk-form-label {
                                min-width: 150px;
                            }
                        }
                    }
                }
            }
        }

        div[class$="collection-actions"] {
            position: relative;
            top: 0;
            right: 0;
            padding: 0 0 9px 15px;
            display: block;

            .uk-button {
                display: flex;
                width: 20px;
                height: 20px;
                min-height: 20px;
                line-height: 20px;
                border-radius: 100%;
                padding: 0;
                margin-bottom: 2px;
                text-align: center;

                [class*=uk-icon-] {
                    font-size: 10px;
                    margin: 0;
                    text-shadow: none;
                    display: block;
                }
            }
        }

        [class$="collection-rescue-add"] {
            width:  20px;
            height: 20px;
            min-height: 20px;
            line-height: 20px;
            border-radius: 100%;
            padding: 0;
            margin-right: 2px;
            text-align: center;

            position: absolute;
            top: 8px;
            right: 10px;

            [class*=uk-icon-] {
                font-size: 10px;
                margin: 0;
                text-shadow: none;
                display: block;
            }
        }

        .markdown-editor {
            &-tabs {
                flex-shrink: 0;
                width: 100%;
            }
        }

        .markdown-editor-navbar {
            flex-shrink: 0;
        }

        .rz-collection-form-type-wrapper {
            display: block;

            div[class$="collection-actions"] {
                display: flex;
                padding: 6px 0 0px 15px;

                .uk-button {
                    margin: 2px 2px;
                }
            }
        }
    }
}
