/*------------------------------------*\
   SWITCH BOOTSTRAP
\*------------------------------------*/


/* -------- VARS -------- */

@switch-off-color:#9e9e9e;
@switch-round: 4px;
@switch-label-color: #e0e0e0;

/* -------- STYLES -------- */

.bootstrap-switch {

    //width: 60px;
    //min-width: 60px;
    //height: 28px;
    border: 0 none;
    .box-sizing();

    .bootstrap-switch-container {
       //width: 90px;
    }

    .bootstrap-switch-label {
        background-color: @switch-label-color;
        margin:0px;
        vertical-align: top;
    }

    .bootstrap-switch-primary,
    .bootstrap-switch-default {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0 3px 0;
    }

    .bootstrap-switch-handle-on.bootstrap-switch-primary {
        background-color: @contrast-color-darker;
        .border-radius(0, 0, @switch-round, @switch-round);
        color: rgba(255, 255, 255, 0.9);
    }
    .bootstrap-switch-handle-off.bootstrap-switch-default {
        background-color: @switch-off-color;
        .border-radius(@switch-round, @switch-round, 0, 0);
        color: rgba(255, 255, 255, 0.9);
    }

    &.bootstrap-switch-off {
        .bootstrap-switch-label {
            //.border-radius(0, 0, @switch-round, @switch-round);
        }
    }
    &.bootstrap-switch-on {
        .bootstrap-switch-label {
            //.border-radius(@switch-round, @switch-round, 0, 0);
        }
    }

    &.bootstrap-switch-focused,
    &:focus {
        outline: none;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
        border-color: @contrast-color-darker;
    }
}
