.uk-form.uk-display-inline-block {
    .uk-button {
        @media screen and (min-width: 1380px) {
            height: 32px;
            line-height: 30px;
        }
    }

    .rz-select {
        height: 32px;
        select {
            height: 32px;
            padding: 7px 30px 7px 15px;
        }
    }
}
