/*
 * This file define main grid layout
 * and width for each section
 */
#main-container {
    display: table;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
}

#main-container-inner {

    display: table-row;

    & > section {

        display: table-cell;
        vertical-align: top;
        position: relative;

        & > div {
            overflow-x: visible;
            overflow-y: scroll;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;

            padding-bottom: 50px;
        }
    }
}


#user-panel {
    width: 268px;

    &.minified {
        width: 128px;
    }
}
#admin-menu {
    width: 88px;
}
#main-trees {
    width: 271px;

    &.minified {
        .transform(scale3D(0,1,1));
        width: 1px;
    }
}