/*
 * This file define main grid layout
 * and width for each section
 */
#main-container {
    display: table;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
}

#main-container-inner {

    display: table-row;

    & > section {

        display: table-cell;
        vertical-align: top;
        position: relative;

        & > div {
            overflow: hidden;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;

            padding-bottom: 50px;
            -webkit-overflow-scrolling: touch;

            & > div,
            & > section {
                position: relative;
            }
        }
    }

    #user-panel {
        width: @user-panel-width;
    }
    #admin-menu {
        width: @entries-panel-width;
    }
    #main-trees {
        width: @trees-panel-width;

        & > div {
            width: @trees-panel-width;
            overflow-y: auto;
        }

        &.minified {
            .transform(scale3D(0,1,1));
            width: 1px;
        }
    }

    #main-content {
        & > div {
            overflow-y: auto;
        }
    }
}

