/*------------------------------------*\
   NAVBARS - NAVIGATION
\*------------------------------------*/


/*
 * Styles for navigation nav bars
 */


/* -------- VARS -------- */

@active-border-size: 4px;



/* -------- STYLES -------- */

.navbar-navigation {
    & > .uk-navbar-nav {
        background-color: @maincontent-header-bg;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        li {
            position: relative;
            float: none;
            display: block;
            background: none transparent;

            a { // .navbar-link
                position: relative;
                font-family: @main-font;
                line-height:44px;
                color: #666666;
                background:none;
                border: 0 none;
                top: 0px;
                margin: 0px;
                padding:0 4px;

                &:active, &:focus{
                    box-shadow: none;
                    color: #222222;
                }
            }

            &:after{
                position: absolute;
                content:'';
                top: 100%;
                left: 0;
                width: 100%;
                height: 0;
                background: #686868;
                z-index: 2;
                .transition(0.3s height ease);
            }

            &:hover, &:active {
                & > a {
                    box-shadow: none;
                }

                &:after{
                    height:@active-border-size;
                }
            }
        }

        &:first-child {
            & > li {
                &:first-child {
                    & > a {
                        .rounded(0);
                    }
                }
            }
        }

        .uk-active {
            & > a {
                box-shadow: none;
                color: #1a1a1a;
            }
            &:after{
                height:@active-border-size;
            }
        }
    }
}
