/*------------------------------------*\
   TABLES
\*------------------------------------*/


/*
 * Override ui kit tables styles & colors
 */

/* -------- VARS -------- */

@form-head-color :          #323232;
@form-head-border-color :   #cccccc;
@form-row-border-color :     #e2e2e2;

.uk-table {
    font-size: 12px;

    td, th {
        @media (min-width: @screen-sm-min) {
            padding: 10px 8px;
        }
    }

    td {
        .uk-form {
            display: flex;
            justify-content: space-between;
        }

        &:not(:first-child) {
            .uk-form:first-child {
                margin-left: -8px;
            }
        }

        .CodeMirror {
            max-width: 300px;
            font-size: 10px;
            line-height: 16px;
            margin: -10px 0 -10px 0;

            pre {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    th {
        vertical-align: middle;
        position: relative;
        color:@form-head-color;
        background-color: rgba(255, 255, 255, 0.75);
        //border-left:1px solid @form-head-border-color;
        .box-sizing();

        a {
            margin-left:5px;

            &.active {
                color: @contrast-color-darker;
            }
        }
    }
    td {
        border-top: 1px solid white;
        border-bottom: 1px solid @form-row-border-color;
        .transition(0.7s background-color @easeOutExpo);
        vertical-align: middle;
        color:@grey-medium;
    }
    tr {
        &:first-child {
            td, th {
                border-top: 1px solid @form-row-border-color;
            }
        }

        &:nth-of-type(2n){
            td {
                background-color: rgba(255, 255, 255, 0.75);
            }
        }
    }


    a {
        color:@grey-medium;
        .transition(0.4s color ease);

        &:hover{
            text-decoration:none;
            color:@grey-interface;
        }
    }

    textarea{
        min-width:200px;
        min-height: 100px;
        margin: 5px 0;
        padding: 10px;
    }

    .uk-htmleditor {
        font-size:16px;
    }
}


// Actions
.table-actions-userpicture-row{
    width:80px;
}

.table-id-row{
    width:60px;
}

.table-actions-row{
    width:70px;
    white-space: nowrap;

    td& {
        padding-left: 0 !important;
    }
}

.table-actions-row-2{
    width:95px;
}

.table-actions-row-3{
    width:130px;
}

.table-actions-row-4{
    width:160px;
}

.table-actions-row-5{
    width:190px;
}

.table-actions-row-6{
    width:220px;
}

.metadata-list {
    margin-top: 1em;

    tr {
        &:first-child {
            td {
                &:not(:first-child) {
                    @media (max-width: @screen-sm-max) {
                        border-top: 0 none;
                    }
                }

                @media (max-width: @screen-sm-max) {
                    border-top: 1px solid @form-row-border-color;
                }
            }
        }

        td {
            &:first-child {
                font-weight: bold;

                @media (max-width: @screen-sm-max) {
                    border-bottom: 0 none;
                    padding-bottom: 0;
                }
            }

            @media (max-width: @screen-sm-max) {
                display: block;
                border-top: 0 none;
            }
        }
    }
}
