/*------------------------------------*\
   BREADCRUMB
\*------------------------------------*/


/*
 * Override ui kit breadcrumb styles and set new styles
 */

/* -------- VARS -------- */

@breadcrumb-link-hover : #808080;


/* -------- STYLES -------- */

.content-breadcrumb{
    position: absolute;
    top:47px;
    right:0;
    left:0;
    height:12px;

    > li {
        font-size:10px;
        line-height:12px;
        letter-spacing: 0.03em;
        vertical-align: middle;

        &:nth-child(n+2):before{
            content:'\2192';
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
}

.node-breadcrumb-item{
    color:@grey-medium;
    text-transform:uppercase;
}

.node-breadcrumb-link{
    color:@grey-medium;
    .transition(0.4s color ease);

    .uk-icon-rz-breadcrumb-home{
        margin-top:-3px;
        font-size:16px;
        color: @icon-simple;
        .transition(0.4s color ease);
        -webkit-font-smoothing: none;
    }

    &:hover{
        color: darken(@grey-medium,20%);
        text-decoration: none;

        .uk-icon-rz-breadcrumb-home{
            color: @icon-simple-hover;
        }
    }
}
