{% extends 'base_email.html.twig' %}

{% block title %}<title>{% trans %}reset.password.request{% endtrans %}</title>{% endblock %}

{% block content_table %}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            {% block content_title %}
                <h1 itemprop="name">{% trans %}reset.password.request{% endtrans %}</h1>
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <table class="invoice" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                <tr>
                    <td class="content-block">
                        {% block content_subtitle %}
                            <h2>{{ 'you.asked.for.a.password.reset.on.%site%'|trans({'%site%':site})|escape }}</h2>
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{% trans %}you.need.to.choose.a.new.password.using.following.link{% endtrans %}</p>
                        <p class="aligncenter" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                            <a class="btn-primary" href="{{ resetLink|raw }}" itemprop="url">{% trans %}reset_your_password{% endtrans %}</a>
                        </p>
                        {% block content_disclaimer %}
                            <p>
                                {% trans %}if.you.didnt.request.this.password.reset.ignore.this.email{% endtrans %}
                            </p>
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{% trans %}as.a.reminder.here.are.your.credentials{% endtrans %}</p>
                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>{% trans %}username{% endtrans %}</td>
                                <td class="alignright">{{ user.username|escape }}</td>
                            </tr>
                            <tr>
                                <td>{% trans %}email{% endtrans %}</td>
                                <td class="alignright">{{ user.email|escape }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
