{% extends 'base_email.html.twig' %}

{% block title %}<title>{% trans %}reset.password.request{% endtrans %}</title>{% endblock %}

{% block content_table %}
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-block">
			<h1>{% trans %}reset.password.request{% endtrans %}</h1>
		</td>
	</tr>
	<tr>
		<td class="content-block">
			<h2>{% trans %}you.asked.for.a.password.reset.on.%site%{% endtrans %}</h2>
		</td>
	</tr>
	<tr>
		<td class="content-block">
			<table class="invoice">
				<tr>
					<td>
						<p>{% trans %}you.need.to.choose.a.new.password.using.following.link{% endtrans %}</p>
						<p><a href="{{ resetLink|raw }}">{{ resetLink|raw }}</a></p>
					</td>
				</tr>
				<tr>
					<td>
						<p>{% trans %}as.a.reminder.here.are.your.credentials{% endtrans %}</p>
						<table class="invoice-items" cellpadding="0" cellspacing="0">
							<tr>
								<td>{% trans %}username{% endtrans %}</td>
								<td class="alignright">{{ user.username }}</td>
							</tr>
							<tr>
								<td>{% trans %}email{% endtrans %}</td>
								<td class="alignright">{{ user.email }}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}
