{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-custom-forms">

    <header class="content-header header-custom-forms header-custom-forms-add">
        <h1 class="content-title">{% trans %}add.a.customForm{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('customFormsHomePage') }}" title="{% trans %}back_to.customForms{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
    </a>
    </header>

    <article class="content content-custom-forms-edit">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: "add-custom-form"}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% spaceless %}
                <button data-action-save="#add-custom-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
            </fieldset>
        {{ form_end(form) }}
    </article>

    {% include '@Rozier/custom-forms/actionsMenu.html.twig' %}
</section>
{% endblock %}
