{% extends "custom-forms/add.html.twig" %}

{%- block content_title -%}{{ item.displayName|u.truncate(25, '[…]', true) }}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('customFormsHomePage') }}"
       title="{% trans %}back_to.customForms{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    {% include '@Rozier/custom-forms/navBar.html.twig' with {
        type: item,
        current: 'customForm'
    } only %}
{%- endblock -%}

{%- block content_body_after -%}
    <div class="content-table-cont metadata-list">
        <table class="uk-table content-table">
            <tr>
                <td>{% trans %}created.at{% endtrans %}</td>
                <td>{{ item.createdAt|format_datetime('long', locale=app.request.locale) }}</td>
            </tr>
            <tr>
                <td>{% trans %}updated.at{% endtrans %}</td>
                <td>{{ item.updatedAt|format_datetime('long', locale=app.request.locale) }}</td>
            </tr>
        </table>
    </div>
{%- endblock -%}

