<nav class="node-navbar-navigation navbar-navigation uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        <li class="uk-navbar-item{% if current == 'customForm' %} uk-active{% endif %}" >
            <a class="uk-navbar-link" href="{{ path('customFormsEditPage', { id: type.id }) }}">{% trans %}custom-form.parameters{% endtrans %}</a>
        </li>
        <li class="uk-navbar-item{% if current == 'customFormFields' %} uk-active{% endif %}" >
            <a class="uk-navbar-link" href="{{ path('customFormFieldsListPage', { customFormId: type.id }) }}">{% trans %}custom-form.fields{% endtrans %}</a>
        </li>
        <li class="uk-navbar-item{% if current == 'customFormAnswers' %} uk-active{% endif %}" >
            <a class="uk-navbar-link" href="{{ path('customFormAnswersHomePage', { customFormId: type.id }) }}">{% trans %}custom-form.answers{% endtrans %}</a>
        </li>
        <li class="uk-navbar-item" >
            <a class="uk-navbar-link"
               title="{% trans %}customForm.show{% endtrans %}"
               data-uk-tooltip="{animation:true}"
               target="_blank" href="{{ path('customFormSendAction', { customFormId: type.id }) }}"><i class="uk-icon-rz-visibility"></i></a>
        </li>
    </ul>
    {% endapply %}
</nav>
