<nav data-action-menu class="actions-menu uk-navbar">
    {% if setting.getId %}
    <a class="uk-button uk-button-danger" href="{{ path('settingsDeletePage', { settingId: setting.getId}) }}">
        <span class="icon-container"><i class="uk-icon-rz-trash-o"></i></span>
        <span class="label"><span class="label-text">{% trans %}delete{% endtrans %}</span></span>
    </a>
    {% endif %}
</nav>
