{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-setting">
	<h1 id="setting-title">{{ "edit.setting.%name%"|trans({'%name%': setting.getName }) }}</h1>
	<nav><a class="uk-button uk-button-small" href="{{ path('settingsHomePage') }}"><i class="uk-icon-reply"></i> {% trans %}back_to.settings{% endtrans %}</a></nav>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
