{% extends 'base.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-setting header-setting-add">
       <h1 class="content-title setting-list-title">{{ "edit.setting.%name%"|trans({'%name%': setting.getName }) }}</h1>
    </header>

    <article class="content content-setting-edit">
    	{% form_theme form 'forms.html.twig' %}
    	<form id="edit-setting-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
    	    {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	<button data-action-save="#edit-setting-form" class="uk-button uk-button-primary rz-action-save" type="submit"><i class="uk-icon-save"></i>
                    <span class="label">{% trans %}save.setting{% endtrans %}</span></button>
       		</fieldset>
    	</form>
    </article>

    {% include 'settings/actionsMenu.html.twig' %}
</section>
{% endblock %}
