{% extends "newsletters/base.html.twig" %}

{% set children = nodeSource|children %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <a href="{{ nodeSource.titleLink }}" target="_blank"><h1>{{ nodeSource.newsletterTitle }}</h1></a>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                Newsletter: {{ nodeSource.datetime|localizeddate('none', 'none', null, null, "Y MMMM") }}
            </td>
        </tr>
        {% if children|length %}
            <tr>
                {% for child in children %}
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            {#
                             # Use a loop over children to display blocks
                             # according to their node-types.
                             # Here is the real power of Roadiz!
                             #}
                            <td>{% include 'blocks/' ~ child.node.nodeType.name|lower ~ '.html.twig' ignore missing with {
                                nodeSource: child,
                                loop: loop
                                } only %}</td>
                        </tr>
                    </table>
                {% endfor %}
            </tr>
        {% endif %}
    </table>
{% endblock %}
