{% extends 'base.html.twig' %}

{% block header %}
	{% if nodeSource.headerImage|length > 0 %}
	{% set headerImage = nodeSource.headerImage[0] %}
	<header>
		<figure style="background-image:url({{ headerImage.viewer.documentUrlByArray(themeServices.imageFormats.headerImage) }})"></figure>
	</header>
	{% else %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
<h1>HELLO WORLD!</h1>
{% endblock %}
