{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}success.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-done" class="content">
        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}success.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 8
        } %}

        <div class="content-text-cont">
            <div class="content-intro content-intro-big">
                {% trans %}now_you_can_delete_install_file_and_use_roadiz{% endtrans %}
            </div>
        </div>
    </article>

{% endblock %}
