{% extends '@Install/base.html.twig' %}
{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}database_fail.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-database-done" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}database_fail.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 3
        } %}

        <div class="content-text-cont">

            <div class="content-text">
                <div class="content-intro content-intro-only">
                    {% trans %}database_fail.message{% endtrans %}
                    <div class="uk-alert uk-alert-danger">
                        <a href="#" class="uk-alert-close uk-close"></a>
                        <p>{% trans %}database.cannot_connect{% endtrans %}</p>
                        {% for label, messages in app.flashes(['warning', 'error']) %}
                            {% for message in messages %}
                                <p class="alert alert-{{ label }}">
                                    {{- message -}}
                                </p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% apply spaceless %}
            <div class="content-buttons">
                <a class="content-button uk-button" href="{{ path('installDatabasePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.database{% endtrans %}</a>
            </div>
            {% endapply %}

        </div>

    </article>
{% endblock %}
