{% extends 'base.html.twig' %}

{% block content %}

    <article id="content-database-done" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">
            {% if error %}
            {% trans %}database_fail.title{% endtrans %}
            {% else %}
            {% trans %}database_done.title{% endtrans %}
            {% endif %}
            </h1>
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item last"></div>
        </div>

        <div class="content-text-cont">
            
            <div class="content-text">
                
                {% if error %}  
                    <div class="content-intro content-intro-only">          
                        {% trans %}database_fail.message{% endtrans %}
                        <div class="uk-alert uk-alert-danger">
                            <a href="#" class="uk-alert-close uk-close"></a>
                            <p>{% trans %}database.cannot_connect{% endtrans %}</p>
                            <p>{{ errorMessage }}</p>
                        </div>
                    </div>  
                {% else %}
                    <div class="content-intro content-intro-big">
                        {% trans %}database_done.message{% endtrans %}
                    </div>
                {% endif %}

            </div>

            {% spaceless %}
            <div class="content-buttons">  

                {% if error %}
                    <a class="content-button uk-button" href="{{ path('installDatabasePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.database{% endtrans %}</a>
                {% else %}
                    <a class="content-button uk-button" href="{{ path('installDatabasePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.database{% endtrans %}</a>
                    <a class="content-button uk-button uk-button-primary" href="{{ path('installImportPage') }}"><i class="uk-icon-arrow-circle-right"></i> {% trans %}goto.import{% endtrans %}</a>
                {% endif %}

            </div>                    
            {% endspaceless %} 

        </div>

    </article>

    </p>
{% endblock %}
